<section class="pricing services">
    <div class="container" >
        <header>
            <h1>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_30DaysFreeTrial</h1>
            <p class="lead">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_Change</p>
        </header>

        <div class="row">
            <h2>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BASICPLANS</h2>
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                        @GlobusMultiLanguageLib.Resources.Index_PartialPricing_Basic 
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        @GlobusMultiLanguageLib.Resources.Index_PartialPricing_Basic
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicSubHeading
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature1</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature7</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BasicFeature8</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing" href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box">
                    <div class="pricing-heading">
                        @GlobusMultiLanguageLib.Resources.Index_PartialPricing_Standard
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $4.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature1</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_StandardFeature7</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing"  href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box popular">
                    <div class="pricing-heading">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_Premium
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $9.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                        @GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature1</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature7</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_PremuimFeature8</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing-popular"  href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                      @GlobusMultiLanguageLib.Resources.Index_PartialPricing_Deluxe
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $19.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature1</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeFeature7</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing" href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
        </div>
        <!-- end row -->



        <div class="row">
            <h2>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_EXPERTPLANS</h2>
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
           @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasic
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $29.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                      @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature1</strong></li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioBasicFeature7</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing" href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BtnBuyNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                        @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandard
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $49.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature1</strong></li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioStandardFeature7</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing" href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box popular">
                    <div class="pricing-heading">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremuim
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $79.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature1</strong></li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioPremiumFeature7</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing-popular" href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                      @GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxe
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $99.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                       @GlobusMultiLanguageLib.Resources.Index_PartialPricing_DeluxeSubHeading
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature1</strong></li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature2</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature3</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature4</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature5</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature6</li>
                        <li>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_SocioDeluxeFeature7</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing"  href="../Index/Registration">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNTryNow</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="~/Themes/Socioboard/Contents/img/ssp/phone-banner-new1.png" class="img-responsive" />
                </div>
                <div class="col-md-8" style="text-align: left;">
                    <h1>@GlobusMultiLanguageLib.Resources.Index_PartialPricing_ENTERPRISEANDAGENCY</h1>
                    <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_PartialPricing_EnterpriseandAgencyDescription</p>
                    @*<button class="btn btn-default" onclick="RequestForDemo()">Request For Demo</button>*@



                    <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#DemoModal">
           @GlobusMultiLanguageLib.Resources.Index_PartialPricing_BTNRequestADemo
            </button>

            <!-- Modal -->
            <div class="modal fade" id="DemoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img style="height: 40px; float: left; margin-top: -6px" src="http://wiki.socioboard.com/skins/common/images/logo.png">
                        <h4 class="modal-title" id="DemoModalLabel" style="margin-left:60px">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoInfoPage</h4>
                    </div>
                  <div class="modal-body col-md-12">
        
                                        <div class="input-group col-md-5 pull-left" style="margin-left:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoFName</label><span class="pull-right text-danger">*</span>
                                            <input id="FName" type="text" class="form-control">
                                        </div>
                                        <div class="input-group col-md-5 pull-right" style="margin-right:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoSName</label><span class="pull-right text-danger"></span>
                                            <input id="LName" type="text" class="form-control">
                                        </div>
                                        <div class="input-group col-md-5 pull-left" style="margin-left:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoEmail</label><span class="pull-right text-danger">*</span>
                                            <input id="Email" type="text" class="form-control">
                                        </div>
                                        <div class="input-group col-md-5 pull-right" style="margin-right:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoSkypeID</label><span class="pull-right text-danger"></span>
                                            <input id="SkypeId" type="text" class="form-control">
                                        </div>
                                        <div class="input-group col-md-5 pull-left" style="margin-left:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoCompanyName</label><span class="pull-right text-danger">*</span>
                                            <input id="CName" type="text" class="form-control">
                                        </div>
                                        <div class="input-group col-md-5 pull-right" style="margin-right:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoPhNO</label><span class="pull-right text-danger"></span>
                                            <input id="PhoneNo" type="text" class="form-control">
                                        </div>
                                        <div class="input-group col-md-11 pull-left" style="margin-left:4%; padding-bottom: 4%;">
                                           <label for="username-email">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoNotes</label><span class="pull-right text-danger"></span>
                                            <textarea id="Notes" class="form-control" rows="4" style="resize:none"></textarea>
                                        </div>
                                    </div>
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="Reset()">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoBtnReset</button>
                    <button type="button" class="btn btn-primary" onclick="SendDemoRequest()">@GlobusMultiLanguageLib.Resources.Index_PartialPricing_RequestDemoBtnSend</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- End of Modal -->


                </div>
            </div>

            <!-- end col-md-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

</section>

<script type="text/javascript">
    function RequestForDemo() {
        $('#DemoModal').modal('show');
    }


    function SendDemoRequest() {
        debugger;
        var fname = $('#FName').val();
        var lname = $('#LName').val();
        var email = $('#Email').val();
        var company = $('#CName').val();
        var phone = $('#PhoneNo').val();
        var Subject = 'Request For Demo';
        var notes = $('#Notes').val();
        var SkypeId = $('#SkypeId').val();
        debugger;
        if (fname == "" || email == "" || company=="") {
            alert('Please fill all requered fields')
            return false;
        }
        {
            if (!validateFName(fname)) {
                alert('Please enter valid First Name');
                return false;
            }
            else if (!validateLName(lname)) {
                alert('Please enter valid Last Name');
                return false;
            }
            else if (!validateEmail(email)) {
                alert('not valid email');
                return false;
            }
            else if (!validatePhone(phone)) {
                alert('not valid phone number');
                return false;
            }
            else {
                $.ajax({
                    url: "../Index/SendRequestForDemo?fname=" + fname + "&lname=" + lname + "&email=" + email + "&Skype=" + SkypeId + "&Subject=" + Subject + "&company=" + company + "&phone=" + phone + "&notes=" + notes,
                    type: "post",
                    data: '',
                    processData: false,
                    contentType: false,
                    success: function (msg) {
                        debugger;
                        if (msg == "Success") {
                            alertify.success('Mail has been sent successfully!');
                            $('#FName').val('');
                            $('#LName').val('');
                            $('#Email').val('');
                            $('#Notes').val('');
                            $('#CName').val('');
                            $('#PhoneNo').val('');
                            $('#SkypeId').val('');
                            $('.close').click();
                        }
                        else {
                            alertify.error("Email Sending Failed! Please try again");
                            return false;
                        }
                    },
                    error: function () {
                        alert("failure");
                    }
                });
            }
        }
    }

    function Reset() {
        $('#FName').val('');
        $('#LName').val('');
        $('#Email').val('');
        $('#Notes').val('');
        $('#CName').val('');
        $('#PhoneNo').val('');
        $('#SkypeId').val('');
    }

    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($email)) {
            return false;
        } else {
            return true;
        }
    }
    function validateFName($name) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($name)) {
            return false;
        } else {
            return true;
        }
    }
    function validateLName($lname) {
        var lnameReg = /^[A-Z,a-z._]+$/;
        if (!lnameReg.test($lname)) {
            return false;
        } else {
            return true;
        }
    }
    function validatePhone($Phoneno) {
        var phoneReg = /^\d{10}$/;
        if (!phoneReg.test($Phoneno)) {
            return false;
        } else {
            return true;
        }
    }
</script>