<section class="services bg-primary" id="services">
        <div class="container">
            <h2>@GlobusMultiLanguageLib.Resources.Index_Company_COMPANYHeader</h2>
                    <!-- Tab v3 -->                
                <div class="row tab-v3">
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked"> 
                            <li class="active" onclick="ResetAll()"><a data-toggle="tab" href="#About"><i class="fa fa-home"></i> @GlobusMultiLanguageLib.Resources.Index_Company_About</a></li>
                            <li class="" onclick="ResetAll()"><a data-toggle="tab" href="#Customers"><i class="fa fa-cloud"></i> @GlobusMultiLanguageLib.Resources.Index_Company_Customers</a></li>
                            <li class="" onclick="ResetAll()"><a data-toggle="tab" href="#Partners"><i class="fa fa-users"></i>@GlobusMultiLanguageLib.Resources.Index_Company_Partners</a></li>
                            <li class="" onclick="ResetAll()"><a data-toggle="tab" href="#Careers"><i class="fa fa-gear"></i> @GlobusMultiLanguageLib.Resources.Index_Company_Careers</a></li>                        
                        </ul>                    
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div id="About" class="tab-pane fade active in">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Company_About</h4>
                                <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Company_SocioBoardDescription</p>
                            </div>
                            <div id="Customers" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Company_Customers</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/socialscoup_logo.png" class="img-responsive partner" alt="">
                                    <img src="/Themes/Socioboard/Contents/img/ssp/socialpour_logo.png" class="img-responsive partner" alt="">
                                    <img src="/Themes/Socioboard/Contents/img/ssp/msocial_logo.png" class="img-responsive partner" alt="">
                                </p>
                            </div>
                            <div id="Partners" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Company_Partners</h4>
                                <p>
                                @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Company_PartnersDescription</p>
                                <img src="/Themes/Socioboard/Contents/img/ssp/amazonaws.png" class="img-responsive partner" alt=""> 
                                <img src="/Themes/Socioboard/Contents/img/ssp/azure.jpg" class="img-responsive partner" alt=""> 
                            </div>
                            <div id="Careers" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Company_Careers</h4>
                                <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Company_CareersDescription
                                </p>
                                @*<form role="form">*@
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">F</span>
                                        <input id="fname" type="text" placeholder="First Name" class="form-control">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">L</span>
                                        <input id="lname" type="text" placeholder="Last Name" class="form-control">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">E</span>
                                        <input id="emailid" type="text" placeholder="Email id" class="form-control">
                                    </div>
                                    <div class="form-group input-group">
                                        <label>@GlobusMultiLanguageLib.Resources.Index_Company_Fileinput</label>
                                        <input id="fileuploadText" type="file" onchange="showfile()" class="btn btn-default">
                                    </div>
                                    <div class="form-group">
                                        <label>Text area</label>
                                        <textarea id="profile" rows="3" class="form-control"></textarea>
                                    </div>
                                    <button class="btn btn-warning" type="submit" onclick="submitcontact()">@GlobusMultiLanguageLib.Resources.Index_Company_BtnSubmit</button>
                                    <button class="btn btn-default" type="reset" onclick="ResetAll()">@GlobusMultiLanguageLib.Resources.Index_Company_BtnReset</button>
                               @* </form>*@
                            </div>
                        </div>                                    
                    </div>
                </div>            
                <!-- Tab v3 -->    
        </div>
        <!-- /.container -->

    </section>


<script type="text/javascript">
    //function showfile() {
    //    debugger;
    //    var ext = $('#fileuploadText').val().split('.').pop().toLowerCase();
    //    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) != -1) {
    //        alert('Please choose a file instead of image!');
    //        $('#fileuploadText').val('');
    //    }
    //}
    function showfile() {
        debugger;
        var ext = $('#fileuploadText').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['pdf', 'oxps', 'pages', 'edoc', 'doc', 'xps', 'docx', 'fdf', 'word', 'txt']) == -1) {
            alert('Please Upload Any Document File');
            $('#fileuploadText').val('');
        }
    }
    function submitcontact() {
        debugger;
        var a=0;
        var fd = new FormData();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        var email = $('#emailid').val();
        var Subject = 'Socioboard career';
        var profile = $('#profile').val();
        var file = document.getElementById("fileuploadText");
        if (file != null && file != '') {
            if (file.files[0].size <= 500*1024) {
                fd.append('file', fileuploadText.files[0]);
            }
            else {
                alert("Maximum file size 500KB");
                return false;
            }
        }
        else {
            alert('Please Attach file');
            return false;
        }
        if (fname == "" || email == "" || profile == "") {
            alert('Please fill all the fields')
            return false;
        }
        {
            if (!validateFName(fname)) {
                alert('Please enter valid First Name');
                return false;
            }
            else if (!validateLName(lname)) {
                alert('Please enter valid Last Name');
                return false;
            }
            if (!validateEmail(email)) {
                alert('not valid email');
                return false;
            }
            else {
                $.ajax({
                    url: "../Index/SendCareerMail?fname=" + fname + "&lname=" + lname + "&email=" + email + "&Subject=" + Subject + "&profile=" + profile,
                    type: "post",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (msg) {
                        debugger;
                        if (msg == "Success") {
                            alertify.success('Mail has been sent successfully!');
                            $('#fname').val('');
                            $('#lname').val('');
                            $('#emailid').val('');
                            $('#profile').val('');
                            $('#fileuploadText').val('');
                        }
                        else {
                            alertify.error("failure");
                            return false;
                        }
                    },
                    error: function () {
                        alert("failure");
                    }
                });
            }
        }
    }
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($email)) {
            return false;
        } else {
            return true;
        }
    }
    function validateFName($name) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($name)) {
            return false;
        } else {
            return true;
        }
    }
    function validateLName($lname) {
        var lnameReg = /^[A-Z,a-z._]+$/;
        if (!lnameReg.test($lname)) {
            return false;
        } else {
            return true;
        }
    }

    function ResetAll() {
        $('#fname').val('');
        $('#lname').val('');
        $('#emailid').val('');
        $('#profile').val('');
        $('#fileuploadText').val('');
    }

</script>