<section class="services bg-primary" id="services">
    <div class="container">

        <div class="col-md-offset-3 col-md-6">
            <h2>@GlobusMultiLanguageLib.Resources.Index_Contact_Contact</h2>
            <form role="form">
                <div class="form-group input-group">
                    <span class="input-group-addon">F</span>
                    <input type="text" placeholder="First Name" class="form-control" id="name">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">L</span>
                    <input type="text" placeholder="Last Name" class="form-control" id="lname">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">E</span>
                    <input type="text" placeholder="Email id" class="form-control" id="email">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">S</span>
                    <input type="text" placeholder="Your Subject" class="form-control" id="Subject">
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="3" class="form-control" id="profile"></textarea>
                </div>
                <button class="btn btn-warning" type="button" id="submit">@GlobusMultiLanguageLib.Resources.Index_Contact_Submit</button>
                <button class="btn btn-default" type="reset">@GlobusMultiLanguageLib.Resources.Index_Contact_Reset</button>
            </form>
            <br />
            <br />

        </div>
        <div class="col-md-12 text-center">
            <h4>@GlobusMultiLanguageLib.Resources.Index_Contact_WeCanHelpYou</h4>
            <h2>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Contact_UnderstandSocioboardBetter</h2>

            <div class="row">
                <div class="col-md-6">
                    <h5>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Contact_SocioBoardStoryVideo</h5>
                    <iframe width="560" height="315" src="//www.youtube.com/embed/zf8ZEYWeiyY" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="col-md-6">
                    <br />
                    <br />
                    <h3>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Contact_SendYourSelfAnAwesomeVideo</h3>
                    <h4>@GlobusMultiLanguageLib.Resources.Index_Contact_EnterEmail </h4>
                    <br />
                    <div class="col-md-8 col-md-offset-2">
                        <input id="emailid" type="email" placeholder="Email" class="form-control" /></div>
                    <div class="col-md-8 col-md-offset-2" style="margin-top: 10px;">
                        <input type="submit" value="Send" onclick="SendVideoMail()" class="btn btn-success pull-right" /></div>

                </div>
            </div>

        </div>
    </div>
    <!-- /.container -->

</section>

<section class="map" id="contact">
    <iframe class="map_pos" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.2822179286532!2d77.6154475!3d12.9356925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae144e41105dbd%3A0x6188a5bb947bfdf4!2sL+V+.+Complex%2C+1st+Main+Rd%2C+Koramangala+7th+Block%2C+Koramangala+Layout%2C+Bengaluru%2C+Karnataka+560030!5e0!3m2!1sen!2sin!4v1407845791034"></iframe>

</section>

<script type="text/javascript">

    $(document).ready(function () {

        $('#submit').click(function () {

            var name = $('#name').val();
            var lname = $('#lname').val();
            var email = $('#email').val();
            var Subject = $('#Subject').val();
            var profile = $('#profile').val();

            if (name == "" || email == "" || profile == "") {
                alert('Please fill all the fields')
                return false;
            }
            {
                if (!validateFName(name)) {
                    alert('Please enter valid First Name');
                    return false;
                }
                else if (!validateLName(lname)) {
                    alert('Please enter valid Last Name');
                    return false;
                }

                if (!validateEmail(email)) {
                    alert('Please enter valid Email ID');
                    return false;
                }

                else {

                    $.ajax({
                        url: "../Index/SendMail",
                        type: "post",
                        data: 'name=' + name + '&lname=' + lname + '&email=' + email + '&Subject=' + Subject + '&profile=' + profile,
                        success: function (data) {
                            if (data == "Success") {
                                alertify.success('Mail has been sent successfully!');
                                $('#name').val('');
                                $('#lname').val('');
                                $('#email').val('');
                                $('#Subject').val('');
                                $('#profile').val('');
                            }
                            else {
                                alertify.error("failure");
                                return false;
                            }
                        },
                        error: function () {
                            alert("failure");
                        }
                    });
                }
            }
        });
    });
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($email)) {
            return false;
        } else {
            return true;
        }
    }

    function validateFName($name) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($name)) {
            return false;
        } else {
            return true;
        }
    }
    function validateLName($lname) {

        var lnameReg = /^[A-Z,a-z._]+$/;
        if (!lnameReg.test($lname)) {
            return false;
        } else {
            return true;
        }
    }

    function SendVideoMail() {
        debugger;
        alert("Success");
        var EmailId = document.getElementById('emailid').value;
      //  var EmailId = $('#emailaddress').val();
        if (EmailId != "") {
            debugger;
            if (!validateEmail(EmailId)) {
                alert('Please enter valid Email ID');
                return false;
            }
            else {
                debugger;
                alert("Antima");

                $.ajax({
                    type: 'GET',
                    url: '../Index/SendVideoMail',
                    data: { "EmailId": EmailId },
                    success: function (msg) {
                        alert(msg);
                        alertify.success("Mail has been send succeefully");
                    }
                });
            }
        }
        else {
            alert("Please Enter a EMail Address");
        }
    }



</script>
