@{
    
    string path = System.Configuration.ConfigurationManager.AppSettings["domain"];
}


    <!-- Disclaimer -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1">
                    <h2 class="text-center"><strong>@GlobusMultiLanguageLib.Resources.Index_Disclaimer_Disclaimer</strong></h2>   
                    <hr class="small">
                     <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex1</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex2</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex3</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex4</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex5</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex6</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex7</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex8</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex9</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex10</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex11</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex12</p>
                        <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Disclaimer_DisclaimerTex13</p>


                    </div>
                </div>
        </div>
        <!-- /.container -->

    </section>

    

