<section class="about services" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>@GlobusMultiLanguageLib.Resources.Index_Features_Ourfeatures</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-eye fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>@GlobusMultiLanguageLib.Resources.Index_Features_Monitor</strong>
                                </h4>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Features_SubHeadingMonitor</p>
                              @*  <a target="_blank" class="btn btn-dark" href="#">Learn More</a>*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-spinner fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>@GlobusMultiLanguageLib.Resources.Index_Features_Analysis</strong>
                                </h4>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Features_SubHeadingAnalysis</p>
                               @* <a target="_blank" class="btn btn-dark" href="#">Learn More</a>*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item" id="Insightsdiv">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sign-in fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>@GlobusMultiLanguageLib.Resources.Index_Features_Insights</strong>
                                </h4>
                                <p>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Features_SubHeadingInsights</p>
                              @*  <a target="_blank" class="btn btn-dark" href="#">Learn More</a>*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                     
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <a target="_blank" href="/Themes/socioboard/Contents/common/@System.Configuration.ConfigurationManager.AppSettings["UserGuide"]"><i class="fa fa-file-pdf-o fa-stack-1x text-primary"></i></a>
                                  
                                </span>
                                <h4>
                                    <strong>@GlobusMultiLanguageLib.Resources.Index_Features_UserGuide</strong>
                                </h4>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Features_SubHeadingUserguide</p>
                                @*<a target="_blank" class="btn btn-dark" href="http://localhost:9821/Contents/common/Socioboard_User_Guide_1.0.2_Ver%207.pdf">Download Guide Book
                                </a>*@
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->


                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </section>

<section class="bg-primary" id="services">
        <div class="container">
            <h2>@GlobusMultiLanguageLib.Resources.Index_Features_Features</h2>
            <p>@GlobusMultiLanguageLib.Resources.Index_Features_FeaturesDescription</p>
                    <!-- Tab v3 -->                
                <div class="row tab-v3">
                    <div class="col-sm-4">
                        <ul class="nav nav-pills nav-stacked"> 
                            <li class="active"><a data-toggle="tab" href="#Smart_Inbox"><i class="fa fa-envelope"></i>@GlobusMultiLanguageLib.Resources.Index_Features_SmartInbox</a></li>
                            <li class=""><a data-toggle="tab" href="#Prompt_Feeds"><i class="fa fa-cloud"></i>@GlobusMultiLanguageLib.Resources.Index_Features_Feeds</a></li>
                            <li class=""><a data-toggle="tab" href="#Advanced"><i class="fa fa-users"></i>@GlobusMultiLanguageLib.Resources.Index_Features_Scheduling</a></li>
                            <li class=""><a data-toggle="tab" href="#Discovery"><i class="fa fa-gear"></i>@GlobusMultiLanguageLib.Resources.Index_Features_Discovery</a></li>
                            <li class=""><a data-toggle="tab" href="#Reports"><i class="fa fa-cloud"></i>@GlobusMultiLanguageLib.Resources.Index_Features_Analytics</a></li>
                            <li class=""><a data-toggle="tab" href="#Engagement"><i class="fa fa-users"></i>@GlobusMultiLanguageLib.Resources.Index_Features_Engagement</a></li>
                            <li class=""><a data-toggle="tab" href="#Monitoring"><i class="fa fa-gear"></i>@GlobusMultiLanguageLib.Resources.Index_Features_Monitoring</a></li>
                            <li class=""><a data-toggle="tab" href="#Team"><i class="fa fa-cloud"></i>@GlobusMultiLanguageLib.Resources.Index_Features_TeamCollaboration</a></li>
                            <li class=""><a data-toggle="tab" href="#Social_CRM"><i class="fa fa-users"></i> @GlobusMultiLanguageLib.Resources.Index_Features_SocialCRM</a></li>
                            <li><a data-toggle="tab" href="#Helpdesk"><i class="fa fa-gear"></i>@GlobusMultiLanguageLib.Resources.Index_Features_HelpDesk</a></li>
                            <li class=""><a data-toggle="tab" href="#Mobile_Apps"><i class="fa fa-cloud"></i>@GlobusMultiLanguageLib.Resources.Index_Features_MobileApps</a></li>
                        </ul>                    
                    </div>
                    <div class="col-sm-8">
                        <div class="tab-content">
                            <div id="Smart_Inbox" class="tab-pane fade active in">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_SmartInbox</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/smartmsg.png" class="img-responsive" alt="">
                                    @GlobusMultiLanguageLib.Resources.Index_Features_SmartInboxDescription</p>
                            </div>
                            <div id="Prompt_Feeds" class="tab-pane fade ">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_Feeds</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/feeds.png" class="img-responsive" alt="">
                                   @GlobusMultiLanguageLib.Resources.Index_Features_FeedsDescription
                                </p>
                            </div>
                            <div id="Advanced" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_Scheduling</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/scheduled.png" class="img-responsive " alt=""> 
                                @GlobusMultiLanguageLib.Resources.Index_Features_SchedulingDescription</p>
                            </div>
                            <div id="Discovery" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_Discovery</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/discovery.png" class="img-responsive " alt=""> 
                                    @GlobusMultiLanguageLib.Resources.Index_Features_DiscoveryDescription
                                </p>
                            </div>
                            <div id="Reports" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_Analytics</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/gpreport.png" class="img-responsive" alt="">
                                    @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Features_AnalyticsDescription</p>
                            </div>
                            <div id="Engagement" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_Engagement</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/teamreport.png" class="img-responsive" alt="">
                                   @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Features_EngagementDescription
                                </p>
                            </div>
                            <div id="Monitoring" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_Monitoring</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/team.png" class="img-responsive " alt=""> 
                                @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Features_MonitoringDescription</p>
                            </div>
                            <div id="Team" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_TeamCollaboration</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/feeds.png" class="img-responsive " alt=""> 
                                    @GlobusMultiLanguageLib.Resources.Index_Features_TeamCollaborationDescription
                                </p>
                            </div>
                            <div id="Social_CRM" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_SocialCRM</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/squeue.png" class="img-responsive" alt="">
                                   @GlobusMultiLanguageLib.Resources.Index_Features_SocialCRMDescription
                                </p>
                            </div>
                            <div id="Helpdesk" class="tab-pane fade in">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_HelpDesk</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/helpdesk.png" class="img-responsive " alt=""> 
                                @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Features_HelpDeskDescription</p>
                            </div>
                            <div id="Mobile_Apps" class="tab-pane fade">
                                <h4>@GlobusMultiLanguageLib.Resources.Index_Features_MobileApps</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/phone-banner.png" class="img-responsive " alt=""> 
                                   @GlobusMultiLanguageLib.Resources.Index_Features_MobileAppsDescription
                                </p>
                            </div>
                        </div>                                    
                    </div>
                </div>            
                <!-- Tab v3 -->   
        </div>
        <!-- /.container -->
   </section>