@{
    //ViewBag.Title = "Home Page";
    string path = System.Configuration.ConfigurationManager.AppSettings["domain"];
    //var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@*@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}
<h2></h2>*@
@*@using(Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend>Choose Your Language</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="es">
                    <input name="culture" id="es" value="it" type="radio" @selected("it", culture)  /> Italic
                </label>
            </div>
        </div>
          <div class="control-group">
            <div class="controls">
                <label for="hi">
                    <input name="culture" id="hi" value="hi" type="radio" @selected("hi", culture)  /> Hindi
                </label>
            </div>
        </div>
       <div class="control-group">
            <div class="controls">
                <label for="es">
                    <input type="submit" value="change" />
                </label>
            </div>
        </div>
    </fieldset>
        
     
     
}*@
@if (ViewBag.Isaccountactivatedfirsttime == "true" || Request["ReturnUrl"]!=null) 
{
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
    </script>
} <link href="~/Themes/Socioboard/Contents/css/custom.css" rel="stylesheet" />
<header class="header" id="top">
    <div class="text-vertical-center">
        <h1 style="text-shadow: 0px 0px 15px #ffffff; margin-top: 50px;">@GlobusMultiLanguageLib.Resources.Index_Index_beyond<br>
            @GlobusMultiLanguageLib.Resources.Index_Index_Managment</h1>
        <h3 style="background-color: aliceblue; opacity: 0.7;">@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_SocioDescription</h3>
        <br><br>
       @* <a target="_blank" class="btn btn-dark" href="../Index/Pricing">
            <img src="@GlobusMultiLanguageLib.Resources.Index_Index_ImgPathTryNow" class="img-responsive">
        </a>*@
    </div>
</header>
<section class="about" id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 style="margin: 10px;">@GlobusMultiLanguageLib.Resources.Index_Index_OurFeatures</h2>
                <hr class="small" style="margin: 5px 0px;">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-1x"></i>
                                <i class="fa fa-eye fa-stack-1x text-primary" style="font-size:22px;"></i>
                            </span>
                            <h4>
                                <strong>@GlobusMultiLanguageLib.Resources.Index_Index_Monitor</strong>
                            </h4>
                            <p style="font-size:12px;">@GlobusMultiLanguageLib.Resources.Index_Index_SubHeadingMonitor</p>
                            <a target="_blank" class="btn btn-dark" href="../Index/Features">@GlobusMultiLanguageLib.Resources.Index_Index_BtnLearnMore</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-1x"></i>
                                <i class="fa fa-spinner fa-stack-1x text-primary" style="font-size:22px;"></i>
                            </span>
                            <h4>
                                <strong>@GlobusMultiLanguageLib.Resources.Index_Index_Analysis</strong>
                            </h4>
                            <p style="font-size:12px;">@GlobusMultiLanguageLib.Resources.Index_Index_SubHeadingAnalysis</p>
                            <a target="_blank" class="btn btn-dark" href="../Index/Features">@GlobusMultiLanguageLib.Resources.Index_Index_BtnLearnMore</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-1x"></i>
                                <i class="fa fa-sign-in fa-stack-1x text-primary" style="font-size:22px;"></i>
                            </span>
                            <h4>
                                <strong>@GlobusMultiLanguageLib.Resources.Index_Index_Insight</strong>
                            </h4>
                            <p style="font-size:12px;">@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_SubHeadingInsight</p>
                            <a target="_blank" class="btn btn-dark" href="../Index/Features">@GlobusMultiLanguageLib.Resources.Index_Index_BtnLearnMore</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-1x"></i>
                                <i class="fa fa-file-pdf-o fa-stack-1x text-primary" style="font-size:22px;"></i>
                            </span>
                            <h4>
                                <strong>@GlobusMultiLanguageLib.Resources.Index_Index_Userguide</strong>
                            </h4>
                            <p style="font-size:12px;">@GlobusMultiLanguageLib.Resources.Index_Index_SubHeadingUserguide</p>
                            <a target="_blank" class="btn btn-dark" href="/Themes/socioboard/Contents/common/Socioboard_User_Guide_1.0.2_Ver 7.pdf">@GlobusMultiLanguageLib.Resources.Index_Index_BtnUserGuide
                                </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->


            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</section>

<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_OnBoard</h2>
                <hr class="small">
                <h4>@GlobusMultiLanguageLib.Resources.Index_Index_leverage
                    <br>
                   @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_Sociodescription2
                    </h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">

                            <img src="/Themes/@path/Contents/img/slidegraph.png" class="img-portfolio img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe src="https://docs.google.com/file/d/0B9xugMIiRUj5cEZseDFqRUphdGs/preview" class="embed-responsive-item"></iframe>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</section>

<section class="callout portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>@GlobusMultiLanguageLib.Resources.Index_Index_engage</h2>
                <h1>@GlobusMultiLanguageLib.Resources.Index_Index_socialchannels</h1>
                <hr class="small">
                <div class="row">

                    <div class="col-md-6">
                        <div class="content-left">
                            <h3 style="text-align:left">@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_featureHeading</h3>
                            <ul style="text-align:left">
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt1</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt2</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt3</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt4</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt5</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt6</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt7</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt8</li>

                            </ul>
                            <a target="_blank" class="btn btn-dark" href="../Index/Pricing">
                                <img alt="" src="@GlobusMultiLanguageLib.Resources.Index_Index_ImgPathTryNow" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="/Themes/@path/Contents/img/phone-banner.png" class="img-portfolio img-responsive">
                            </a>
                        </div>

                    </div>
                </div>

                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>@GlobusMultiLanguageLib.Resources.Index_Index_Somereason</h2>
                <h1>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_LoveSocioboard</h1>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="/Themes/@path/Contents/img/img-1.png" class="img-portfolio img-responsive">
                            </a>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="content-left">
                            <ul style="text-align: left; font-weight: bold; font-family: times new roman;">
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt1</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt2</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt3</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt4</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt5</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt6</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt7 </li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt8</li>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt9</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h1>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_EndHeading</h1>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

@*<div id="makeMeScrollable">
    <div class="scrollingHotSpotLeft" style="display: block;"></div>
    <div class="scrollingHotSpotRight"></div>
    <div class="scrollWrapper">
        <div class="scrollableArea" style="width: 2250px;">





            <img id="golf" alt="Demo image" src="/Themes/@path/Contents/img/clients/socialscoup_logo.png"><img alt="Image" src="/Themes/@path/Contents/img/clients/blacksheep_logo.png"><img id="field" alt="Demo image" src="/Themes/@path/Contents/img/clients/GRAVITY4_LOGO.png"><img id="gnome" alt="Demo image" src="/Themes/@path/Contents/img/clients/msocial_logo.png"><img id="pencils" alt="Demo image" src="/Themes/@path/Contents/img/clients/socialpour_logo.png">
        </div>
    </div>
</div>*@

<!-- Supported Hosts -->
<div class="hosts-wrapper">
            <div class="supported-hosts no-border-bottom text-center">
                <small>Our Clients</small>
                <img src="~/Themes/Socioboard/Contents/img/clients/logo/Socialboard_logo.png"  alt="Socialboard"/>
                <img src="~/Themes/Socioboard/Contents/img/clients/logo/socialpour_logo.png" alt="socialscoup" />
                <img src="~/Themes/Socioboard/Contents/img/clients/logo/socialscoup_logo.png" alt="socialpour" />
                <img src="~/Themes/Socioboard/Contents/img/clients/logo/Sonager_Logo.png" alt="Sonager"/>
                <img src="~/Themes/Socioboard/Contents/img/clients/logo/tribeNautix.png" alt="tribeNautix" />
                <img src="~/Themes/Socioboard/Contents/img/clients/logo/viptable_logo.png" alt="viptable" />
            </div>
        </div>
<!-- End of Supported Hosts -->


              
              <!-- As Seen On -->
<div class="hosts-wrapper">
            <div class="supported-hosts no-border-bottom text-center">
                <small>As Seen On</small>
                <a href="http://inc42.com/startups/socioboard-magento-wordpress-social-media-management-making/" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/42logo.png" alt="42logo"></a>
                <a href="http://inc42.com/startups/socioboard-magento-wordpress-social-media-management-making/" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/YS_Pages.png" alt="YS_Pages"></a>
                <a href="http://lighthouseinsights.in/review-socioboard-app-open-source-social-media-management-dashboard.html/" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/LI_logo.png" alt="LI"></a>
                <a href="http://www.nextbigwhat.com/socioboard-social-media-management-297/" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/nextbigwhat.png" alt="nextbigwhat"></a>
                <a href="http://www.socialsamosa.com/2014/04/social-media-platform-feature-socioboard/" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/social_samosa_logo.png" alt="social_samosa"></a>
                
            </div>
        </div>
<!-- End of As Seen On -->

              <!-- Competition Success Snapshots -->
<div class="hosts-wrapper">
            <div class="supported-hosts no-border-bottom text-center">
                <small>Competition Success Snapshots</small>
                 <a href="http://productconclave.in/?p=1041" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/productconclave.png" alt="productconclave"></a>
                 <a href="http://eximius-iimb.com/2014/competition/disrupt-it/#tab-results" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/iimb_logo.jpg" alt="iimb"></a>
                 <a href="http://10000startups.com/disruptit/" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/10000startups.jpg" alt="10000startups"></a>
                 <a href="http://events.vccircle.com/content/techcircle-startup-2014#tab5" target="_blank"><img src="~/Themes/Socioboard/Contents/img/clients/logo/vccircle_logo.png" alt="vccircle"></a>
            </div>
        </div>


<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_freeSubscirption
                       
                    <a target="_blank" class="btn btn-lg btn-dark" href="../Index/Pricing">
                        <img src="@GlobusMultiLanguageLib.Resources.Index_Index_ImgSignupforFree"></a>
                </h3>
                
            </div>
        </div>
    </div>
</aside>
@*<section class="map" id="contact">
    <iframe frameborder="0" width="100%" height="350" marginwidth="0" marginheight="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.2822179286532!2d77.6154475!3d12.9356925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae144e41105dbd%3A0x6188a5bb947bfdf4!2sL+V+.+Complex%2C+1st+Main+Rd%2C+Koramangala+7th+Block%2C+Koramangala+Layout%2C+Bengaluru%2C+Karnataka+560030!5e0!3m2!1sen!2sin!4v1407845791034"></iframe>

</section>*@
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
<script src="/Themes/Socioboard/Contents/js/arrow24.js"></script>
<script src="/Themes/Socioboard/Contents/js/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>

<script type="text/javascript">
    $(function () {

        var timezone_cookie = "timezoneoffset";
       // jQuery.noConflict();
        if (!$.cookie(timezone_cookie)) { // if the timezone cookie not exists create one.

            // check if the browser supports cookie
            var test_cookie = 'test cookie';
            $.cookie(test_cookie, true);

            if ($.cookie(test_cookie)) { // browser supports cookie

                // delete the test cookie.
                $.cookie(test_cookie, null);

                // create a new cookie 
                $.cookie(timezone_cookie, new Date().getTimezoneOffset());

                location.reload(); // re-load the page
            }
        }
        else { // if the current timezone and the one stored in cookie are different then
            // store the new timezone in the cookie and refresh the page.

            var storedOffset = parseInt($.cookie(timezone_cookie));
            var currentOffset = new Date().getTimezoneOffset();

            if (storedOffset !== currentOffset) { // user may have changed the timezone
                $.cookie(timezone_cookie, new Date().getTimezoneOffset());
                location.reload();
            }
        }
    });
    </script>
<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
