@{
    //ViewBag.Title = "Home Page";
    string path = System.Configuration.ConfigurationManager.AppSettings["domain"];
    //var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@if (Request.QueryString["op"] == "faq")
{
    <section class="callout portfolio margin-top-50 ">
        <div class="container">
            <div class="row margin-top-50">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle"></i> FAQs
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#1"><i class="fa fa-dot-circle-o fa-fw"></i>Can I post on Facebook Page from Socioboard?</a>
                                        </h4>
                                    </div>
                                    <div id="1" class="panel-collapse collapse in">
                                        <div class="panel-body textBlack">
                                            Yes!!! You can post using compose feature in Socioboard, also you can schedule the post as per your convenient time.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#2"><i class="fa fa-dot-circle-o fa-fw"></i>How are the Trending topics on Twitter determined?</a>
                                        </h4>
                                    </div>
                                    <div id="2" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Socioboard discovery Quick Search lists topics trending as created by Twitter using an algorithm that identifies immediately popular topics, based on a user’s location and who they follow.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#3"><i class="fa fa-dot-circle-o fa-fw"></i>How does the Facebook Page Reports stream work?</a>
                                        </h4>
                                    </div>
                                    <div id="3" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            The Activity Facebook Page reports shows recent activity on the Page. Recent activity includes new posts, new comments on old posts, no of likes, no of shares and also you can export the data of all the post according to the date wise into a CSV file.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#4"><i class="fa fa-dot-circle-o fa-fw"></i>Is there any limitation in features when you compare with the different plans?</a>
                                        </h4>
                                    </div>
                                    <div id="4" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            No, all the features are enabled for all the plans, it is restrained with no of profiles.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#5"><i class="fa fa-dot-circle-o fa-fw"></i>Why is my Facebook post not appearing in Socioboard?</a>
                                        </h4>
                                    </div>
                                    <div id="5" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Third-party apps or websites (such as Socioboard) are prevented from integrating with your Facebook account if Platform is turned off in Facebook. Platform is a Facebook authentication feature that boosts security and site integrity.<br>
                                            Solution: Go to Setting ->Apps -> Click on edit -> Enable Platform
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#6"><i class="fa fa-dot-circle-o fa-fw"></i>Why didn’t my edit to my scheduled message apply to all my social networks?</a>
                                        </h4>
                                    </div>
                                    <div id="6" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            When a scheduled message is edited in the Publisher section of the dashboard, the edit will apply to all the social networks publishing the message. However, when a message is edited from the socioqueue section of the dashboard, in a Scheduled Messages for example, this will only change the message being published to that social network.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#7"><i class="fa fa-dot-circle-o fa-fw"></i>How do I post in multiple groups in Social Groups?</a>
                                        </h4>
                                    </div>
                                    <div id="7" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Tick all the check box to the groups you need to post, and look to top right corner for a downward arrow button, click on it and you are good to go.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#8"><i class="fa fa-dot-circle-o fa-fw"></i>What does the license constitute?</a>
                                        </h4>
                                    </div>
                                    <div id="8" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            It’s an open source.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#9"><i class="fa fa-dot-circle-o fa-fw"></i>Can I resell the software code? Can I build my own product on Socioboard?</a>
                                        </h4>
                                    </div>
                                    <div id="9" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            No, but you can customize and edit it for your usage. If you are looking to create your own marketing software using Socioboard Pro, please contact us for enterprise license and pricing.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#10"><i class="fa fa-dot-circle-o fa-fw"></i>How to install the software? Where to host it?</a>
                                        </h4>
                                    </div>
                                    <div id="10" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            We provide you an installation guide in download section, we host on your own cloud and we assist you if any pro and cons.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#11"><i class="fa fa-dot-circle-o fa-fw"></i>I have more questions, how to contact you?</a>
                                        </h4>
                                    </div>
                                    <div id="11" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Please fill the form below, use the chat widget or contact us through support@sociobaord.com
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#12"><i class="fa fa-dot-circle-o fa-fw"></i>How do I know present activities of my business and circle?</a>
                                        </h4>
                                    </div>
                                    <div id="12" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            We have discovery section which solves you all the issues in a single click
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#13"><i class="fa fa-dot-circle-o fa-fw"></i>How I market using this?</a>
                                        </h4>
                                    </div>
                                    <div id="13" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Through Socioboard you can manage all your social profiles at a place and we got scheduling features to reduce your work load and get you free, where you can enrich your business keeping your audience busy all the while and converts leads into sales and so on
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#14"><i class="fa fa-dot-circle-o fa-fw"></i>Can I provide colleagues with access to my Analytics and Social profiles account?</a>
                                        </h4>
                                    </div>
                                    <div id="14" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Yes, if you want a colleague to have access your Analytics and Social profiles then it can be accessed through User and Groups under that find for Invite Team Member and put his respective E-mail ID
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#15"><i class="fa fa-dot-circle-o fa-fw"></i>How can I change my billing information?</a>
                                        </h4>
                                    </div>
                                    <div id="15" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Click on the “Profile Image” section in the top right corner of the dashboard, then click on settings to update your billing information.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#16"><i class="fa fa-dot-circle-o fa-fw"></i>Why am I receiving an error message when trying to add a new page?</a>
                                        </h4>
                                    </div>
                                    <div id="16" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            There are three types of error messages for adding a new page:<br>Non-existing URL: Check for typos and make sure the page exists.<br>Profile: You are attempting to add a personal profile instead of a fan page.<br>
                                            Targeted fan page: This is a fan page with regional restrictions. Contact us at support@socioboard.com for further instructions.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#17"><i class="fa fa-dot-circle-o fa-fw"></i>I added a Twitter/Facebook profile to my dashboard but I am unable to see historical data. Why?</a>
                                        </h4>
                                    </div>
                                    <div id="17" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            This is a Twitter/Facebook feature. We start acquiring data about a Twitter Profile at the moment the first person ever wanted to monitor it. If you are the first one to monitor that specific profile, there will only be data available since the day you added it to your dashboard.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#18"><i class="fa fa-dot-circle-o fa-fw"></i>Are my colleagues seeing all the same data and graphs as myself?</a>
                                        </h4>
                                    </div>
                                    <div id="18" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Yes. Every user with access to your group account will see the same data and graphs. The only exception is that labels in the dashboard are user specific.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#19"><i class="fa fa-dot-circle-o fa-fw"></i>My emails are received in the junk folder?</a>
                                        </h4>
                                    </div>
                                    <div id="19" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            Gmail and Outlook have changed their policies, and most of the times it depends on your setting on your account in this case mails will be directed to Spam folder
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#20"><i class="fa fa-dot-circle-o fa-fw"></i>Can I edit content after it has been published to Facebook in the platform?</a>
                                        </h4>
                                    </div>
                                    <div id="20" class="panel-collapse collapse">
                                        <div class="panel-body textBlack">
                                            No, it is not possible to post-edit published content in the platform due to Facebook's API. Facebook's API only allows the creation and deletion of posts.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
}

else
{
    if (ViewBag.Isaccountactivatedfirsttime == "true" || Request["ReturnUrl"] != null)
    {
        <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
        </script>
    }<link href="~/Themes/Socioboard/Contents/css/custom.css" rel="stylesheet" />
        <header id="top" class=" container-fluid">
            <video autoplay muted poster="http://i.imgur.com/bkHuEnc.jpg" id="bgvid" loop>
                <source src="/Themes/Socioboard/Contents/videos/Sb_plan_take_off.webm" type="video/webm">
                <source src="/Themes/Socioboard/Contents/videos/Sb_plan_take_off.mp4" type="video/mp4">


            </video>
            <div class="row margin-top-50">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-vertical-center">
                        <h1 style="text-shadow: 0px 0px 15px #000; color: #fff; font-size: 44px; margin-top: 50px;">World’s #1 Open Source Social Technology Enabler!</h1>
                        <h3 style="color: #fff;">
                            We build social media technology which helps businesses and brands
                            with a 360<sup>o</sup> social media marketing, customer support and engagement automation platform.
                        </h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <section class="animated fadeInUp">
                        <img src="http://i.imgur.com/Uy1YCtw.png" class="img-responsive" style="margin-left: auto; margin-right: auto;">
                    </section>
                </div>
            </div>
        </header>
        

        <section class="bg-primary" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h2>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_OnBoard</h2>
                        <hr class="small">
                        <h4>
                            @GlobusMultiLanguageLib.Resources.Index_Index_leverage
                        <br>
                        @GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_Sociodescription2
                    </h4>
                        <div class="row margin-bottom-50">
                            <div class="col-md-6">
                                <div class="portfolio-item">

                                    <img src="/Themes/@path/Contents/img/slidegraph.png" class="img-portfolio img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="embed-responsive embed-responsive-4by3">
                                    @*<iframe src="https://player.vimeo.com/video/128111650" class="embed-responsive-item" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>*@
                                    <iframe src="https://player.vimeo.com/video/128111650?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </section>

    <section class="callout portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>@GlobusMultiLanguageLib.Resources.Index_Index_engage</h2>
                    <h1>@GlobusMultiLanguageLib.Resources.Index_Index_socialchannels</h1>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="content-left">
                                <h3 style="text-align: left">@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_featureHeading</h3>
                                <ul style="text-align: left">
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt1</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt2</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt3</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt4</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt5</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt6</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt7</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_feature_pt8</li>

                                </ul>
                                @*<a target="_blank" class="btn btn-dark" href="../Index/Pricing">
                                        <img alt="" src="@GlobusMultiLanguageLib.Resources.Index_Index_ImgPathTryNow" class="img-responsive">
                                    </a>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img src="/Themes/@path/Contents/img/phone-banner.png" class="img-portfolio img-responsive">
                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section class="portfolio" id="responsive">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>@GlobusMultiLanguageLib.Resources.Index_Index_Somereason</h2>
                    <h1>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_LoveSocioboard</h1>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img src="/Themes/@path/Contents/img/img-1.png" class="img-portfolio img-responsive">
                                </a>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="content-left">
                                <ul style="text-align: left;">
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt1</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt2</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt3</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt4</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt5</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt6</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt7 </li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt8</li>
                                    <li>@GlobusMultiLanguageLib.Resources.Index_Index_LovePt9</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h1>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Index_EndHeading</h1>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Supported Apps -->
    @*<div class="hosts-wrapper">
        <div class="supported-hosts no-border-bottom text-center">
            <small class="hr_shadow">Our Apps</small>
            <a href="https://play.google.com/store/apps/details?id=com.socioboard" target="_blank">
                <img src="~/Themes/Socioboard/Contents/img/google_app.png" alt="Socioboard_google" style="width: 300px; height: 75px" />
            </a>
            <a href="https://itunes.apple.com/us/app/socioboard/id923398550?mt=8" target="_blank">
                <img src="~/Themes/Socioboard/Contents/img/app_store.png" alt="Socioboard_apple" style="width: 300px" />
            </a>
        </div>
    </div>*@
    <!-- End of Supported Apps -->
    

    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>
                        Enjoy Socioboard risk-free for 30 days!
                        <a href="#" class="btn btn-lg btn-dark " target="_blank">Sign Up For FREE</a>
                    </h3>
                    <i class="fa fa-caret-down fa-4x caret_down_color"></i>
                </div>
            </div>
        </div>
    </aside>
    @*<section class="map" id="contact">
            <iframe frameborder="0" width="100%" height="350" marginwidth="0" marginheight="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.2822179286532!2d77.6154475!3d12.9356925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae144e41105dbd%3A0x6188a5bb947bfdf4!2sL+V+.+Complex%2C+1st+Main+Rd%2C+Koramangala+7th+Block%2C+Koramangala+Layout%2C+Bengaluru%2C+Karnataka+560030!5e0!3m2!1sen!2sin!4v1407845791034"></iframe>

        </section>*@
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
    <script src="/Themes/Socioboard/Contents/js/arrow24.js"></script>
    <script src="/Themes/Socioboard/Contents/js/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>

    <script type="text/javascript">
        $(function () {

            var timezone_cookie = "timezoneoffset";
            // jQuery.noConflict();
            if (!$.cookie(timezone_cookie)) { // if the timezone cookie not exists create one.

                // check if the browser supports cookie
                var test_cookie = 'test cookie';
                $.cookie(test_cookie, true);

                if ($.cookie(test_cookie)) { // browser supports cookie

                    // delete the test cookie.
                    $.cookie(test_cookie, null);

                    // create a new cookie
                    $.cookie(timezone_cookie, new Date().getTimezoneOffset());

                    location.reload(); // re-load the page
                }
            }
            else { // if the current timezone and the one stored in cookie are different then
                // store the new timezone in the cookie and refresh the page.

                var storedOffset = parseInt($.cookie(timezone_cookie));
                var currentOffset = new Date().getTimezoneOffset();

                if (storedOffset !== currentOffset) { // user may have changed the timezone
                    $.cookie(timezone_cookie, new Date().getTimezoneOffset());
                    location.reload();
                }
            }
        });



    </script>
    <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
}