@{
    
    string path = System.Configuration.ConfigurationManager.AppSettings["domain"];
}


    <!-- Disclaimer -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1">
                    <h2 class="text-center"><strong>@GlobusMultiLanguageLib.Resources.Index_Privacy_PrivacyPolicyHeading</strong></h2>   
                    <hr class="small">
                        <p><strong>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Privacy_SocioBoardtechPVTLtd</strong>@GlobusMultiLanguageLib.Resources.Index_Privacy_SocioBoardtechPVTLtdDescription</p>
                        <ol><strong><li>@GlobusMultiLanguageLib.Resources.Index_Privacy_TypesOfInfoCollected</li></strong>
                            <ul>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Privacy_TafficDataType</li>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_TafficDataTypeDescription</p>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Privacy_PersonalInfoCollected</li>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_PersonalInfoCollectedDescription</p>
                                <li>@GlobusMultiLanguageLib.Resources.Index_Privacy_EmploymentInfoCollected</li>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_EmploymentInfoCollectedDescription</p>                           
                            </ul>
                            <strong><li>@GlobusMultiLanguageLib.Resources.Index_Privacy_UsesOfInformation</li></strong>
                            <ul>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_UsesOfInformationDescription</p>
                            </ul>
                            <strong><li>@GlobusMultiLanguageLib.Resources.Index_Privacy_UserChoice</li></strong>
                            <ul>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_UserChoiceDescription</p>
                            </ul>
                            <strong><li>@GlobusMultiLanguageLib.Resources.Index_Privacy_ConfidentialityandSecurity</li></strong>
                            <ul>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_ConfidentialityandSecurityDescription</p>
                            </ul>
                            <strong><li>@GlobusMultiLanguageLib.Resources.Index_Privacy_OtherlimitsinPrivacy</li></strong>
                            <ul>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_OtherlimitsinPrivacyDescription</p>
                            </ul>
                            <strong><li>@GlobusMultiLanguageLib.Resources.Index_Privacy_UpdatesandChangestoPrivacy</li></strong>
                            <ul>
                                <p>@GlobusMultiLanguageLib.Resources.Index_Privacy_UpdatesandChangestoPrivacyDescription</p>
                            </ul>
                            
                        </ol>
                    </div>
                </div>
        </div>
        <!-- /.container -->

    </section>

    

  