<section class="services bg-primary" id="services">
    <div class="container">
        <h2>@GlobusMultiLanguageLib.Resources.Versions_EnterPrise_HEADING</h2>
        <p>
            @GlobusMultiLanguageLib.Resources.Versions_EnterPrise_Description
        </p>

        <div class="col-md-offset-3 col-md-6">
            @model Socioboard.Helper.Enterprise
            @using Recaptcha.Web.Mvc;
            @using (Html.BeginForm("Index", "Versions", FormMethod.Post))
            {
                <div class="form-group input-group fb">
                    <span class="input-group-addon">N</span>
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control", id = "name", type = "Name", required = "required" })
                </div>
                <div class="form-group input-group fb">
                    <span class="input-group-addon">D</span>
                    @Html.TextBoxFor(m => m.Designation, new { @placeholder = "Designation", @class = "form-control", id = "designation", type = "Designation", required = "required" })
                    @*<input type="text" placeholder="Designation" class="form-control" id="designation">*@
                </div>
                <div class="form-group input-group fb">
                    <span class="input-group-addon">C</span>
                    @Html.TextBoxFor(m => m.Company, new { @placeholder = "Company", @class = "form-control", id = "company", type = "Company", required = "required" })
                    @*<input type="text" placeholder="Company" class="form-control" id="company">*@
                </div>
                <div class="form-group input-group fb">
                    <span class="input-group-addon">L</span>
                    @Html.TextBoxFor(m => m.Location, new { @placeholder = "Location", @class = "form-control", id = "location", type = "Location", required = "required" })
                    @*<input type="text" placeholder="Location" class="form-control" id="location">*@
                </div>
                <div class="form-group input-group fb">
                    <span class="input-group-addon">W</span>
                    @Html.TextBoxFor(m => m.CompanyWebsite, new { @placeholder = "Company Website", @class = "form-control", id = "companywebsite", type = "CompanyWebsite", required = "required" })
                    @*<input type="text" placeholder="Company Website" class="form-control" id="companywebsite">*@
                </div>
                <div class="form-group input-group fb">
                    <span class="input-group-addon">E</span>
                    @Html.TextBoxFor(m => m.ContactEmailId, new { @placeholder = "Contact Email Id", @class = "form-control", id = "contactemail", type = "ContactEmailId", required = "required" })
                    @*<input type="text" placeholder="Contact email id" class="form-control" id="contactemail">*@
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon fb">P</span>
                    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone", @class = "form-control", id = "phone", type = "Phone", required = "required" })
                    @*<input type="text" placeholder="Phone" class="form-control" id="phone">*@
                </div>
                <div class="form-group fb">
                    @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message", id = "message", @rows = "3", @class = "form-control" })
                    @*<textarea placeholder="Message" rows="3" class="form-control" id="message"></textarea>*@
                </div>
                @Html.Recaptcha("6Le3C_ESAAAAAAOKDXZlOclDEz3TqFe1T-74dEg8")
@*<div class="form-group">
                    <img width="300" height="57" src="http://www.google.com/recaptcha/api/image?c=03AHJ_VuvCd7oyl077BQEBdpraUtf2-jFIp_xYN8puTS5NdAtdNoVeYznXa4C5HmFx1alNtJjanfKw71e8qb8qSk8dnvtzudrymoU-6OBxxDwr1eMcljicLHy232wSMMngUlQ4916tRxacJS5lp6UDqjldoA4eYCS-LFz6adOWUj1c5504_Z1-ZOO83K86ZpYEbx0JPQTogf_UVOU5TtYZUntHLh7CQks6_w&amp;th=,8bBC1WwMsABAI7ZXBTnoNwHWnvAAAAAZoAAAAATYAMkspm64oGQCXnfSl3MYKcTHVNa1F_4DejpSpuxQjslxlNhfcCQHVn_N9D3OyIxueerANfepShPPoBmzttmn-_vvVnZdLJhVqOcmEQnSJUJPKOvdaEPaSJqjIY2n4P0eROWVHDYDvTQ5VcjLg6y2dlqZH2XWm7UQlM6wCOreTXhebD12c3uxkAsUOcthqJ6pIns6Qmz_93HhVwfKCpt5-s__fC14-dFQsJiIiI2Vtoqvm94Q8C-vJm6Uk5f7eqsB8zXxx3b6ZMfTy8s" alt="reCAPTCHA challenge image" id="recaptcha_challenge_image">
                </div>*@
@* I Will Place Google Re-Captcha Here *@
                <div class="editor-label">
                    @GlobusMultiLanguageLib.Resources.Versions_EnterPrise_SecurityCode
                </div>
                <div class="editor-label">
                    @* You Can get the Script code from https://developers.google.com/recaptcha/docs/display *@
                    <script type="text/javascript"
                        src="http://www.google.com/recaptcha/api/challenge?k=6Le3C_ESAAAAAAOKDXZlOclDEz3TqFe1T-74dEg8">
                    </script>
                    <noscript>
                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Le3C_ESAAAAAAOKDXZlOclDEz3TqFe1T-74dEg8"
                            height="300" width="500" frameborder="0"></iframe>
                        <br>
                        <textarea id="recaptcha_challenge_field" name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                        <input id="recaptcha_response_field" type="hidden" name="recaptcha_response_field"
                            value="manual_challenge">
                    </noscript>
                </div>
                <input class="btn btn-warning" id="submit" type="submit" value="Submit" />
@*<button class="btn btn-warning" type="submit" id="submit">Submit Button</button><button class="btn btn-default" type="reset">Reset Button</button>*@
            }
        </div>
    </div>
    <!-- /.container -->

</section>

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        var search = getParameterByName("hint");
        //if (search != "" && search != null) {
        //    alert(search);
        //}
        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        $('#submit').click(function () {
            debugger;
            var recaptcha_challenge_field = $('#recaptcha_challenge_field').val();
            var recaptcha_response_field = $('#recaptcha_response_field').val();

            var name = $('#name').val();
            var designation = $('#designation').val();
            var email = $('#contactemail').val();
            var company = $('#company').val();
            var location = $('#location').val();
            var companywebsite = $('#companywebsite').val();
            var messages = $('#message').val();
            var phone = $('#phone').val();

            $('input:text').each(function () {
                if ($(this).val() == '') {
                    $(this).css('border', '2px solid red');
                    isValid = 0;
                }
                else {
                    $(this).css('border', '1px solid green');
                }
            });

            //if (isValid == 0) {
            //    alert('Please enter content to all text fields');
            //    return false;
            //}

            if (!validateFName(name)) {
                alert('Please enter valid First Name');
                return false;
            }

            if (!validatePhone(phone)) {
                alert('Please enter valid Contact No.');
                return false;
            }

            if (!validateEmail(email)) {
                alert('Please enter valid EmailId');
                return false;
            }

            else {
                $.ajax({
                    url: "../Versions/SendEnterpriseMail?name=" + name + "&designation=" + designation + "&email=" + email + "&companywebsite=" + companywebsite + "&location=" + location + "&company=" + company + "&messages=" + messages + "&phone=" + phone + "&recaptcha_challenge_field=" + recaptcha_challenge_field + "&recaptcha_response_field=" + recaptcha_response_field,
                    type: "post",
                    data: '',
                    success: function (data) {
                        if (data == "Success") {
                            alertify.success('Mail has been sent successfully!');
                            $('#Fname').val('');
                            $('#Lname').val('');
                            $('#Email').val('');
                            $('#Company').val('');
                            $('#Messages').val('');
                            $('#Phone').val('');
                        }
                        else {
                            alertify.error("failure");
                            return false;
                        }
                    },
                    error: function () {
                        alert("failure");
                    }
                });
            }
        });
    });
    function validateEmail($Email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($Email)) {
            return false;
        } else {
            return true;
        }
    }

    function validateFName($Fname) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($Fname)) {
            return false;
        } else {
            return true;
        }
    }

    function validatePhone($Phoneno) {
        var phoneReg = /^\d{10}$/;
        if (!phoneReg.test($Phoneno)) {
            return false;
        } else {
            return true;
        }
    }

</script>
