@{
    string Message = ViewBag.DefaultFroup;
    string DefaultMessage = null;

    if (Message == null || Message == "")
    {


        Guid GroupId = Guid.Parse(Session["group"].ToString());
        Socioboard.Api.Groups.Groups ApiobjGroup = new Socioboard.Api.Groups.Groups();
        Domain.Socioboard.Domain.Groups ObjGroup = (Domain.Socioboard.Domain.Groups)(new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize(ApiobjGroup.GetGroupDetailsByGroupId(GroupId.ToString()), typeof(Domain.Socioboard.Domain.Groups)));
        Domain.Socioboard.Domain.User ObjUser = (Domain.Socioboard.Domain.User)Session["User"];
        Socioboard.Api.BusinessSetting.BusinessSetting ApiobjBusinessSetting = new Socioboard.Api.BusinessSetting.BusinessSetting();
        Domain.Socioboard.Domain.BusinessSetting ObjBusinessSetting = (Domain.Socioboard.Domain.BusinessSetting)(new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize(ApiobjBusinessSetting.GetDetailsofBusinessOwner(ObjGroup.Id.ToString()), typeof(Domain.Socioboard.Domain.BusinessSetting)));
        if (ObjBusinessSetting != null)
        {
            
        
    @:<div style="min-height: 382px;" id="page-wrapper">
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @ObjBusinessSetting.BusinessName
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Personal">

                                <div class="col-md-6">
                                    <form role="form" class="form-horizontal">
                                            <label for="username-email">@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_BuisnessName</label><span class="pull-right text-danger">*</span>
                                             <div class="form-group">
                                            @{
            if (ObjGroup.UserId == ObjUser.Id)
            {
                                                    <input id="txtBuisnessName" value="@ObjBusinessSetting.BusinessName" type="text" class="form-control" placeholder="Enter News">
                                                
                                                
                                            
                                                         @:</div>
                                                         @:<div class="form-group">
                                                    <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasks</h3>
                                                    <p> @GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDescription</p>

                if (ObjBusinessSetting.AssigningTasks == true)
                {
                                                         <div class="col-md-5 pull-left">
                                                        <input id="rdTaskDisable" name="chkasgntask"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask" checked="checked" value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
                                                        <input id="rdTaskDisable" name="chkasgntask" checked="checked" value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
                                                            </div>
                                                
                }
                                       
                                            
                                                    @:</div>


                                                        @:<div class="form-group">
                                                          <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_TaskNotificationEmail</h3>
                                                          <p> @GlobusMultiLanguageLib.Resources.SocioBoard_BusinessSetting_Index_NotificationAlertViaEmail </p>
                                                
                if (ObjBusinessSetting.TaskNotification == true)
                {
                                                        <div class="col-md-5 pull-left">
                                                            <input id="rdTaskNotificationDisable" name="chknotify"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify" checked="checked"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
                                                            <input id="rdTaskNotificationDisable" name="chknotify" checked="checked"  value="" type="radio" class="">&nbsp;&nbsp;<lable>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</lable>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify"   value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
                                                        </div>
                }
                                                    @:</div>

                                        
                                                <button onclick="UpdateBuisnessSetting('@ObjBusinessSetting.Id')"; id="UpdateBsnsSetng" type="button" class="btn btn-warning">@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_UpdateSettings</button>

            }
            else
            {
                                                    <input id="txtBuisnessName" readonly="true" value="@ObjBusinessSetting.BusinessName" type="text" class="form-control" placeholder="Enter News">
                                                
                                                
                                            
                                                         @:</div>

                                                         @:<div class="form-group">

                                                
                                                
                                                    <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasks</h3>
                                                    <p> @GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDescription </p>

                if (ObjBusinessSetting.AssigningTasks == true)
                {
                                                         <div class="col-md-5 pull-left">
                                                        <input id="rdTaskDisable"  name="chkasgntask" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask" checked="checked" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
                                                        <input id="rdTaskDisable" name="chkasgntask" checked="checked" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable"  name="chkasgntask" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
                                                            </div>
                                                
                }
                                       
                                            
                                                         @:</div>

                                                         @:<div class="form-group">
                                                          <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_TaskNotificationEmail</h3>
                                                          <p> @GlobusMultiLanguageLib.Resources.SocialBoard_BusinessSetting_Index_NotificationAlertViaEmail</p>
                                                
                if (ObjBusinessSetting.TaskNotification == true)
                {
                                                        <div class="col-md-5 pull-left">
                                                            <input id="rdTaskNotificationDisable" name="chknotify"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify" checked="checked"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
                                                            <input id="rdTaskNotificationDisable" name="chknotify" checked="checked"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<lable>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</lable>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify"   value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
                                                        </div>
                }
                                                         @:</div>

                                        
                                                    <button onclick="UpdateBuisnessSetting('@ObjBusinessSetting.Id')"; id="UpdateBsnsSetng" type="button" disabled class="btn btn-warning">@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_UpdateSettings</button>
            }
                                        }
                                    </form>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    
        }
        else
        {
            DefaultMessage = "Sorry, The Business Page of this Group is Not Created!";
        }
    }
    else
    {
        DefaultMessage = "Sorry, you are not able to make Setting in Default Group";
    }
    }
    @*@if (DefaultMessage != null || DefaultMessage != "")
    {
        
    @:<div style="min-height: 382px;" id="page-wrapper">
    @: <div class="container-fluid">
    @:   <div class="row">
    @:     <div class="col-lg-12">
    @:       <h1 class="page-header"></h1>
    @:   </div>
    @:  <div class="col-lg-12">
    @:     <div class="panel panel-default">
    @:         <div class="panel-heading">
    @:            Socioboard
    @:          </div>
<!-- /.panel-heading -->

    @:            <div class="panel-body">
        
    @:          <div class="tab-content">
    @:                            <div class="tab-pane active" id="Personal">

    @:                              <div class="col-md-6">
    @:                              <form role="form" class="form-horizontal">
    @:
        
        <h1>@DefaultMessage</h1>
    
    
    
    
    @:</form>
    @:                          </div>
    @:                    </div>
              
    @:          </div>




    @:    </div>
    @: </div>
    @:   </div>
    @:  </div>
<!-- /.panel-body -->

    @:  </div>
    
    }*@
    



<script type="text/javascript">

    //var BsnsStng = new FormData();
    //var IsTaskAssigned = null;
    //var IsNotificationEnabled = null;
    //var BuisnessName = $("#txtBuisnessName").val();
    function UpdateBuisnessSetting(id) {
        debugger;

        var BsnsStng = new FormData();
        var IsTaskAssigned = null;
        var IsNotificationEnabled = null;
        var BuisnessName = $("#txtBuisnessName").val();

        if ($('#rdTaskDisable').is(':checked')) {
            IsTaskAssigned = false;
        }

        if ($('#rdTaskEnable').is(':checked')) {
            IsTaskAssigned = true;
        }

        if ($('#rdTaskNotificationEnable').is(':checked')) {
            IsNotificationEnabled = true;
        }

        if ($('#rdTaskNotificationDisable').is(':checked')) {
            IsNotificationEnabled = false;
        }

        BsnsStng.append('IsTaskAssigned', IsTaskAssigned);
        BsnsStng.append('IsNotificationEnabled', IsNotificationEnabled);
        BsnsStng.append('BuisnessName', BuisnessName);
        BsnsStng.append('BuisNessId', id);


        $.ajax({
            type: 'POST',
            url: '../BusinessSetting/UpdateBuisnessSetting',
            data: BsnsStng,
            processData: false,
            contentType: false,
            //dataType: "json",
            success: function (msg) {
                if (msg = "Updated Successfully") {
                    alertify.success("Business Setting Updated Successfully.");
                }
            },
            async: false
        });
    }

</script>
