@model Domain.Socioboard.Domain.CompanyProfiles
@{
    Layout = null;
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chanchal Santra">
    <link rel="shortcut icon" href="/Themes/@path/Contents/img/ivon.ico" type="image/x-icon">

    <title>@Model.Companyname Dashboard - Your Open-source Social Media Dashboard</title>


    <!-- Bootstrap Core CSS -->
    <link href="/Themes/@path/Contents/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Themes/@path/Contents/css/sb-admin-2.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/Themes/@path/Contents/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="/Themes/@path/Contents/css/plugins/social-buttons.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/Themes/@path/Contents/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Themes/@path/Contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="Stylesheet" type="text/css" href="/Themes/@path/Contents/css/smoothDivScroll.css" />


    <!--chartjs-->
    <script src="/Themes/@path/Contents/js/Chart.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.Contents/js/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        .imgloading {
  margin-top: -30%;
  position: fixed;
  z-index: 10 !important;
  left:50%;
}
        .imgloading1 {
  margin-top: -30%;
  position: fixed;
  z-index: 10 !important;
  left:50%;
}
    </style>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/Themes/@path/Contents/img/logo.png" class="img-responsive" style="margin-top: -15px;" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="../Index/Company" target="">Company</a>
                        </li>
                        <li>
                            <a href="../Index/Features" target="">Features</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Versions <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://socioboard.org/" target="_blank">Community</a></li>
                                <li><a href="../Versions/Agency" target="">Agency</a></li>
                                <li><a href="../Versions/Enterprise" target="">Enterprise</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../Index/Pricing" target="">Pricing</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insights <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://wiki.socioboard.com/index.php/Main_Page" target="_blank">Wiki</a></li>
                                <li><a href="http://blog.socioboard.com/category/cases" target="_blank">Cases</a></li>
                                <li><a href="http://blog.socioboard.com/" target="_blank">Blogs</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../Index/Download" target="">Download</a>
                        </li>
                        <li>
                            <a href="../Home/Training" target="">Training</a>
                        </li>
                        @*<li>
                            <a href="../Index/contact" target="">Contact Us</a>
                        </li>*@
                        <li>
                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal" onclick=" SetUser();" style="margin-top: 10px;">LOGIN</button>
                        </li>
                         <li>
                            <div id="Companydashboard" class="navbar-form navbar-left"  role="search">
  <div class="form-group">
    <input type="text" id="q" name="q" class="form-control" placeholder=" Search " style="border-radius: 15px; width: 225px; padding: 0px 5px;" />
    <button class="global-nav__search-button" id="btn-company-search" onclick="company()" type="button" style="cursor:pointer"><div  class="icon fa fa-search fa-fw global-nav__search-icon"></div></button>
  </div>
                               
										
									
</div>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
            <div class='sidebarSmall'>
                <a id="facebookicon" style="display: none;" href="#facebook"><i class="fa fa-facebook-square fa-3x orange"></i></a>
                <a id="twittericon" style="display: none;" href="#twitter"><i class="fa fa-twitter-square fa-3x orange"></i></a>
                <a id="linkedinicon" style="display: none;" href="#linkedin"><i class="fa fa-linkedin-square fa-3x orange"></i></a>
                <a id="youtubeicon" style="display: none;" href="#youtube"><i class="fa fa-youtube-square fa-3x orange"></i></a>
                <a id="instagramicon" style="display: none;" href="#instagram"><i class="fa fa-instagram-square fa-3x orange"></i></a>
                <a id="tumblricon" style="display: none;" href="#tumblr"><i class="fa fa-tumblr-square fa-3x orange"></i></a>
                <a id="gplusicon" style="display: none;" href="#gplus"><i class="fa fa-google-plus-square fa-3x orange"></i></a>
            </div>
        </nav>
        <!-- Button trigger modal -->
    </div>
    <!--container end-->


    <!-- Header -->
  
    <header id="top"  class="header_li" style=" background: url(../../Themes/Socioboard/Contents/img/CompanydashboardDefaultcoverpic.jpg) no-repeat center center scroll; display: table;
    position: relative;
    width: 100%;
    height: 100%; -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 50px;">
        <div class="text-vertical-center" >
            <img src="/Themes/@path/Contents/img/logo_company_default.png" style="display:none;" id="CompanyProfilePic" class="galleryImgSize">
            <h1 style="text-shadow: 0px 0px 15px #ffffff; margin-top: 50px;" id="CompanyName"></h1>
        </div>
    </header>
    @* @try
    {
        <!--facebook-->
        @Html.Action("CompanyFacebookPageInfo",  new { CompanyName = Model.FbProfileId })
    }
    catch { }*@


    <div class="socialProfiles" data-url="/Companydashboard/CompanyFacebookPageInfo?CompanyName=@Model.Fbprofileid">
        <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading" />
    </div>

    <div class="socialProfiles" data-url="/Companydashboard/CompanyTwitterPageInfo?CompanyName=@Model.Twitterprofileid">
       <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading1" />
    </div>
    @* @try
    {
        <!--twitter-->
        @Html.Action("CompanyTwitterPageInfo",  new { CompanyName = Model.TwitterProfileId })
    }
    catch { }*@
    <div class="socialProfiles" data-url="/Companydashboard/CompanyLinkedinPageInfo?CompanyName=@Model.Linkedinprofileid">
      <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading" />
    </div>

    @*  @try
    {
        @Html.Action("CompanyLinkedinPageInfo", new { CompanyName = Model.LinkedinProfileId })        
    }
    catch { }*@
    <!-- linkedin -->

    <div class="socialProfiles" data-url="/Companydashboard/CompanyYoutubePageInfo?CompanyName=@Model.Youtubeprofileid">
     <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading" />
    </div>




    @* @try
    {
        <!--youtube-->
        @Html.Action("CompanyYoutubePageInfo",  new { CompanyName = Model.YoutubeProfileId })
    }
    catch { }*@


    <div class="socialProfiles" data-url="/Companydashboard/CompanyInstagramPageInfo?CompanyName=@Model.Instagramprofileid">
       <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading" />
    </div>

    @* @try
    {
        <!--Instagram-->
        @Html.Action("CompanyInstagramPageInfo",  new { CompanyName = Model.InstagramProfileId })
    }
    catch { }*@


    <div class="socialProfiles" data-url="/Companydashboard/CompanyTumblrPageInfo?CompanyName=@Model.Tumblrprofileid">
         <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading" />
    </div>
    @*  @try
    {
        <!--Tumblr-->
        @Html.Action("CompanyTumblrPageInfo",  new { CompanyName = Model.TumblrProfileId })
    }
    catch { }*@


    <div class="socialProfiles" data-url="/Companydashboard/CompanyGplusPageInfo?CompanyName=@Model.Gplusprofileid">
        <img src="/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" class="img imgloading" />
    </div>
    @* @try
    {
        <!--Gplus-->
        @Html.Action("CompanyGplusPageInfo", new { CompanyName = Model.GPlusProfileId })
    }
    catch { }*@



    <!-- jQuery Version 1.11.0 -->
    <script src="/Themes/@path/Contents/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Themes/@path/Contents/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->


    <!-- jQuery library - Please load it from Google API's -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

    <!-- jQuery UI (Custom Download containing only Widget and Effects Core)
    You can make your own at: http://jqueryui.com/download -->
    <script src="/Themes/@path/Contents/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

    <!-- Latest version (3.1.4) of jQuery Mouse Wheel by Brandon Aaron
    You will find it here: https://github.com/brandonaaron/jquery-mousewheel -->
    <script src="/Themes/@path/Contents/js/jquery.mousewheel.min.js" type="text/javascript"></script>

    <!-- jQuery Kinectic (1.8.2) used for touch scrolling -->
    <!-- https://github.com/davetayls/jquery.kinetic/ -->
    <script src="/Themes/@path/Contents/js/jquery.kinetic.min.js" type="text/javascript"></script>

    <!-- Smooth Div Scroll 1.3 minified-->
    <script src="/Themes/@path/Contents/js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/Themes/@path/Contents/js/plugins/morris/raphael.min.js"></script>
    <script src="/Themes/@path/Contents/js/plugins/morris/morris.min.js"></script>
    <script src="/Themes/@path/Contents/js/plugins/morris/morris-data.js"></script>

    <script>
        //$(document).ready(function () {
        //    $(".socialProfiles").each(function (index, item) {
        //        var url = $(item).data("url");
        //        if ( url.length > 0)
        //        {
        //            $(item).load(url);
        //        }
        //    });
        //});
        //$(document).ready(function () {
        //    alert("asd");





        $(".socialProfiles").each(function (index, item) {
            var url = $(item).data("url");

            $.ajax({
                url: url,
                type: "GET",
                async: true,
                success: function (data) {
                    $(item).html(data);
                },
                failure: function () {
                    $(item).html("");

                }
            });
        });






        //});

        $('#q').keyup(function (e) {
            //debugger;
            var key = e.which;
            if (key == 13) {
                company();
            }
        });

        function company() {
            var q = $("#q").val();
            window.top.location = "../company/" + q;
        }
    </script>

</body>

</html>


