
    <div class="col-lg-12">
        <h1 class="page-header">@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_Updates</h1>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag._totalIncomingMessage</div>
                        <div>@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_IncomingMessages</div>
                    </div>
                </div>
            </div>
            <a href="../Messages/Index">
                <div class="panel-footer">
                    <span class="pull-left">@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_ViewDetails</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-mail-reply-all fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag._totalSentMessage</div>
                        <div>@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_SentMessages</div>
                    </div>
                </div>
            </div>
            <a href="../Messages/sentmsg">
                <div class="panel-footer">
                    <span class="pull-left">@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_ViewDetails</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-sky">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-twitter fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag._totalTwitterFollowers</div>
                        <div>@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_TwitterFollowers</div>
                    </div>
                </div>
            </div>
         @*   <a href="#">*@
                <div class="panel-footer">
                    <span class="pull-left">@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_ViewDetails</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-facebook fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag._totalFacebookFan</div>
                        <div>@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_NewFacebookFans</div>
                    </div>
                </div>
            </div>
           @* <a href="#">*@
                <div class="panel-footer">
                    <span class="pull-left">@GlobusMultiLanguageLib.Resources.Home_HomeUserActivityPartial_ViewDetails</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
           @* </a>*@
        </div>
    </div>
