@using Socioboard.Helper;
@using Socioboard.Api;
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    int PostCount = 0;
    int LikesCount = 0;
}

<div class="row">
    @*<h2>My Recent Profiles</h2>*@
    @{
        int counter = 0;
        int divcounter = 0;
        if (divcounter == 0)
        {

        }
        Dictionary<Domain.Socioboard.Domain.TeamMemberProfile, Dictionary<object, List<object>>> dict = (Dictionary<Domain.Socioboard.Domain.TeamMemberProfile, Dictionary<object, List<object>>>)Model;
        if (dict.Count == 0)
        {
        @:<script >
        @:$('#div_Home_ProfileSnapshot img').remove('.clsImageLoader');
                  
              @:</script>
                }
        foreach (var item in (Dictionary<Domain.Socioboard.Domain.TeamMemberProfile, Dictionary<object, List<object>>>)Model)
        {
            int feedcount = 0;
            int days = 0;
            double avg = 0;
            string stravg = "0";
            if (divcounter == 0)
            {
        @:<div class="col-xs-12" style="padding-left:0px">
@:<div class="row">
            }

            Random rNum = new Random();
            if (item.Key.ProfileType == "facebook" || item.Key.ProfileType == "facebook_page")
            {
                string fan = string.Empty;
                if (item.Key.ProfileType == "facebook")
                {
                    fan = "Friends";
                }
                else
                {
                    fan = "Fans";
                }
                divcounter++;
                var dic_profileinfo = item.Value.ElementAt(counter);
                //  var item = dictionary.ElementAt(index);
                Domain.Socioboard.Domain.FacebookAccount objFacebookAccount = (Domain.Socioboard.Domain.FacebookAccount)dic_profileinfo.Key;

                List<object> lstdic = (List<object>)dic_profileinfo.Value;
                feedcount = lstdic.Count;
                if (feedcount != 0)
                {
                    Domain.Socioboard.Domain.FacebookFeed objFacebookFeeds = (Domain.Socioboard.Domain.FacebookFeed)lstdic[feedcount - 1];
                    days = (DateTime.Now.Date - objFacebookFeeds.FeedDate.Date).Days;
                    if (days == 0)
                    {
                        days = 1;
                    }
                    avg = (double)feedcount / days;
                    stravg = String.Format("{0:0.00}", avg);
                }
        <div id="mid_@objFacebookAccount.FbUserId" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                    @if (objFacebookAccount.AccessToken != "")
                    {
                        <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objFacebookAccount.FbUserName" src="http://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/fb_icon.png" class="iconPoss">
                           @* <span>@objFacebookAccount.FbUserName</span>*@
                        </div>
                        <div class="col-xs-9 text-right" style="margin-top:-15px;margin-bottom:-8px">
                            <div ><h4><strong>@objFacebookAccount.Friends</strong>
                            @fan</h4></div>
                        </div>
                        <span class="col-xs-9 text-right">@stravg Avg.<br>
                            Post Per Day</span>
                        <span class="col-md-12">@objFacebookAccount.FbUserName</span>   
                    </div>
                </div>
                <div class="panel-body">
                    <p>Recent Messages</p>
                   <ul class="list-group recent_height">
                        @for (int i = 0; i < lstdic.Count; i++)
                        {
                            Domain.Socioboard.Domain.FacebookFeed objFacebookFeed = ((Domain.Socioboard.Domain.FacebookFeed)lstdic[i]);
                            string ms = string.Empty;
                            if (objFacebookFeed.FeedDescription.Length > 23)
                            {
                                ms = objFacebookFeed.FeedDescription.Substring(0, 20) + "...";
                            }
                            else
                            {
                                ms = objFacebookFeed.FeedDescription;
                            }
                            <li class="list-group-item">
                            <img class="commentsmallsize" src="http://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small"><span class="commentmargin" title="@objFacebookFeed.FeedDescription">@ms</span>
                        </li>
                            if (lstdic.Count > 4)
                            {
                                if (i == 3)
                                {
                                    break;
                                }
                            }
                        }
                    </ul>
                         </div>
                    }
                    else
                    {
                        int j = 0;
                        Socioboard.Api.FbPagePost.FbPagePost ApiobjFbPagePost = new Socioboard.Api.FbPagePost.FbPagePost();
                        List<Domain.Socioboard.Domain.FbPagePost> lstFbPagePost = (List<Domain.Socioboard.Domain.FbPagePost>)(new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize(ApiobjFbPagePost.GetAllPostOfPage(objFacebookAccount.FbUserId, objFacebookAccount.UserId.ToString()), typeof(List<Domain.Socioboard.Domain.FbPagePost>)));
                        feedcount = lstFbPagePost.Count;
                        if (feedcount != 0)
                        {
                            Domain.Socioboard.Domain.FbPagePost objFbPagePost = lstFbPagePost[feedcount - 1];
                            days = (DateTime.Now.Date - objFbPagePost.PostDate).Days;
                            if (days == 0)
                            {
                                days = 1;
                            }
                            avg = (double)feedcount / days;
                            stravg = String.Format("{0:0.00}", avg);
                        }
                        <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objFacebookAccount.FbUserName" src="http://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/fb_icon.png" class="iconPoss">
                           @* <span>@objFacebookAccount.FbUserName</span>*@
                        </div>
                        <div class="col-xs-9 text-right" style="margin-top:-15px;margin-bottom:-8px">
                            <div ><h4><strong>@objFacebookAccount.Friends</strong>
                            @fan</h4></div>
                        </div>
                        <span class="col-xs-9 text-right">@stravg Avg.<br>
                            Post Per Day</span>
                        <span class="col-md-12">@objFacebookAccount.FbUserName</span>   
                    </div>
                </div>
                <div class="panel-body">
                    <p>Recent Messages</p>
                         <ul class="list-group recent_height">
                        
                        @foreach (Domain.Socioboard.Domain.FbPagePost item_FbPagePost in lstFbPagePost)
                        {
                            if (item_FbPagePost.Post != null)
                            {
                                string ms = string.Empty;
                                if (item_FbPagePost.Post.Length > 23)
                                {
                                    ms = item_FbPagePost.Post.Substring(0, 20) + "...";
                                }
                                else
                                {
                                    ms = item_FbPagePost.Post;
                                }
                            <li class="list-group-item">
                            <img class="commentsmallsize" src="http://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small"><span class="commentmargin" title="@item_FbPagePost.Post">@ms</span>
                        </li>
                                if (j == 3)
                                {
                                    break;
                                }
                                j++;
                            }
                        }
                    </ul>
                         </div>
                    }
                @*</div>*@
            </div>
        </div>
            }

            if (item.Key.ProfileType == "twitter")
            {

                divcounter++;
                var dic_profileinfo = item.Value.ElementAt(counter);
                //  var item = dictionary.ElementAt(index);
                Domain.Socioboard.Domain.TwitterAccount objTwitterAccount = (Domain.Socioboard.Domain.TwitterAccount)dic_profileinfo.Key;
                List<object> lstdic = (List<object>)dic_profileinfo.Value;
                feedcount = lstdic.Count;
                if (feedcount != 0)
                {
                    Domain.Socioboard.Domain.TwitterFeed objTwtFeed = (Domain.Socioboard.Domain.TwitterFeed)lstdic[feedcount - 1];
                    days = (DateTime.Now.Date - objTwtFeed.FeedDate.Date).Days;
                    if (days == 0)
                    {
                        days = 1;
                    }
                    avg = (double)feedcount / days;
                    stravg = String.Format("{0:0.00}", avg);
                }
                List<Domain.Socioboard.Domain.TwitterFeed> lstTwitterFeed = new List<Domain.Socioboard.Domain.TwitterFeed>();
                <div id="mid_@objTwitterAccount.TwitterUserId" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img  title="@objTwitterAccount.TwitterScreenName" src="@objTwitterAccount.ProfileImageUrl" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/twticon.png" class="iconPoss">
                            @*<span>@objTwitterAccount.TwitterScreenName</span>*@
                        </div>
                        <div class="col-xs-9 text-right" style="margin-top:-15px;margin-bottom:-8px">
                            <div><h4><strong>@objTwitterAccount.FollowersCount</strong>
                            Followers</h4></div>
                        </div>
                        <span class="col-xs-9 text-right">@stravg Avg.<br>
                            Post Per Day</span>
                        <span class="col-md-12">@objTwitterAccount.TwitterScreenName</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Recent Messages</p>
                    <ul class="list-group recent_height">
                        @for (int i = 0; i < lstdic.Count; i++)
                        {
                            Domain.Socioboard.Domain.TwitterFeed objTwitterFeed = ((Domain.Socioboard.Domain.TwitterFeed)lstdic[i]);
                            string ms = string.Empty;
                            if (objTwitterFeed.Feed.Length > 23)
                            {
                                ms = objTwitterFeed.Feed.Substring(0, 20) + "...";

                            }
                            else
                            {
                                ms = objTwitterFeed.Feed;
                            }
                        <li class="list-group-item">
                            <img class="commentsmallsize" src="@objTwitterFeed.FromProfileUrl"><span class="commentmargin" title="@objTwitterFeed.Feed">@ms</span>
                        </li>
                            if (lstdic.Count > 4)
                            {
                                if (i == 3)
                                {
                                    break;
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>


            }
            if (item.Key.ProfileType == "linkedin")
            {
                divcounter++;
                var dic_profileinfo = item.Value.ElementAt(counter);
                Domain.Socioboard.Domain.LinkedInAccount objLinkedInAccount = (Domain.Socioboard.Domain.LinkedInAccount)dic_profileinfo.Key;
                List<object> lstdic = (List<object>)dic_profileinfo.Value;
                feedcount = lstdic.Count;
                if (feedcount != 0)
                {
                    Domain.Socioboard.Domain.LinkedInFeed objLDFeed = (Domain.Socioboard.Domain.LinkedInFeed)lstdic[feedcount - 1];
                    days = (DateTime.Now.Date - objLDFeed.FeedsDate.Date).Days;
                    if (days == 0)
                    {
                        days = 1;
                    }
                    avg = (double)feedcount / days;
                    stravg = String.Format("{0:0.00}", avg);
                }
                List<Domain.Socioboard.Domain.LinkedInFeed> lstLinkedInFeed = new List<Domain.Socioboard.Domain.LinkedInFeed>();
                int linkedinConcount = 0;
                try
                {
                    linkedinConcount = objLinkedInAccount.Connections;
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                }
                string pp = objLinkedInAccount.ProfileImageUrl;
                if (string.IsNullOrEmpty(pp))
                {
                    pp = "/Themes/" + path + "/Contents/img/anonymousUser.jpg";
                }
                        <div id="mid_@objLinkedInAccount.LinkedinUserId" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objLinkedInAccount.LinkedinUserName" src="@pp" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/link_icon.png" class="iconPoss">
                           @* <span>@objLinkedInAccount.LinkedinUserName</span>*@
                        </div>
                        <div class="col-xs-9 text-right" style="margin-top:-15px;margin-bottom:-8px">
                            <div><h4><strong>@linkedinConcount</strong>
                            Connections</h4></div>
                        </div>
                        <span class="col-xs-9 text-right">@stravg Avg.<br>
                            Post Per Day</span>
                        <span class="col-md-12">@objLinkedInAccount.LinkedinUserName</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Recent Messages</p>
                    <ul class="list-group recent_height">
                        @for (int i = 0; i < lstdic.Count; i++)
                        {
                            Domain.Socioboard.Domain.LinkedInFeed objLinkedInFeed = ((Domain.Socioboard.Domain.LinkedInFeed)lstdic[i]);
                            string ms = string.Empty;
                            if (objLinkedInFeed.Feeds.Length > 23)
                            {
                                ms = objLinkedInFeed.Feeds.Substring(0, 20) + "...";

                            }
                            else
                            {
                                ms = objLinkedInFeed.Feeds;
                            }
                            string up = objLinkedInFeed.FromPicUrl;
                            if (string.IsNullOrEmpty(up))
                            {
                                up = "/Themes/" + path + "/Contents/img/anonymousUser.jpg";
                            }
                        <li class="list-group-item">
                            <img class="commentsmallsize" src="@pp"><span class="commentmargin" title="@objLinkedInFeed.Feeds">@ms</span>
                        </li>
                            if (lstdic.Count > 4)
                            {
                                if (i == 3)
                                {
                                    break;
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

            }
            if (item.Key.ProfileType == "instagram")
            {
                divcounter++;
                var dic_profileinfo = item.Value.ElementAt(counter);
                //  var item = dictionary.ElementAt(index);
                Domain.Socioboard.Domain.InstagramAccount objInstagramAccount = (Domain.Socioboard.Domain.InstagramAccount)dic_profileinfo.Key;
                if(string.IsNullOrEmpty(objInstagramAccount.ProfileUrl))
                {
                    objInstagramAccount.ProfileUrl = "/Themes/" + path + "/Contents/img/anonymousUser.jpg"; 
                }
                <div id="mid_@objInstagramAccount.InstagramId" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objInstagramAccount.InsUserName" src="@objInstagramAccount.ProfileUrl" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/instagram_24X24.png" class="iconPoss">
                           @* <span>@objInstagramAccount.InsUserName</span>*@
                        </div>
                        <span class="col-md-12">@objInstagramAccount.InsUserName</span>
                    </div>
                </div>
               <div class="panel-body">
                    <p>Activities</p>
                                        <ul class="list-group recent_height">
                                          <li class="list-group-item">
                                            <span class="badge">@objInstagramAccount.TotalImages</span>
                                            Photos
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge">@objInstagramAccount.FollowedBy</span>
                                            Follower
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge">@objInstagramAccount.Followers</span>
                                            Following
                                          </li>
                                        </ul>
                                    </div>
            </div>
        </div>


            }
            if (item.Key.ProfileType == "tumblr")
            {
                try
                {
                    divcounter++;
                    var dic_profileinfo = item.Value.ElementAt(counter);
                    //  var item = dictionary.ElementAt(index);
                    Domain.Socioboard.Domain.TumblrAccount objTumblrAccount = (Domain.Socioboard.Domain.TumblrAccount)dic_profileinfo.Key;
                    string tumblruserimage = "http://api.tumblr.com/v2/blog/" + objTumblrAccount.tblrUserName + ".tumblr.com/avatar";
                    string profileurl = "http://" + objTumblrAccount.tblrUserName + ".tumblr.com";

                    var tmblerdata = SBUtils.GetTumblerData(objTumblrAccount.tblrUserName);

                    try
                    {
                        PostCount = Convert.ToInt16(tmblerdata["PostCount"]);
                        LikesCount = Convert.ToInt16(tmblerdata["LikesCount"]);
                    }
                    catch (Exception)
                    {

                        PostCount = 0;
                        LikesCount = 0;
                    }
                    <div id="mid_@objTumblrAccount.tblrUserName" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objTumblrAccount.tblrUserName" src="@tumblruserimage" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/tumblr.png" class="iconPoss">
                         @*   <span>@objTumblrAccount.tblrUserName</span>*@
                        </div>
                        <span class="col-md-12">@objTumblrAccount.tblrUserName</span>
                    </div>
                </div>
               <div class="panel-body">
                    <p>Activities</p>
                                        <ul class="list-group recent_height">
                                          <li class="list-group-item">
                                            <span class="badge">@PostCount</span>
                                            Post
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge">@LikesCount</span>
                                            Likes
                                          </li>
                                          
                                        </ul>
                                    </div>
               
            </div>
        </div>
                }
                catch (Exception ex)
                {
                    divcounter = divcounter - 1;
                }
            }
            if (item.Key.ProfileType == "youtube")
            {

                divcounter++;
                var dic_profileinfo = item.Value.ElementAt(counter);
                Domain.Socioboard.Domain.YoutubeAccount objYoutubeAccount = (Domain.Socioboard.Domain.YoutubeAccount)dic_profileinfo.Key;
                List<object> lstdic = (List<object>)dic_profileinfo.Value;
                Domain.Socioboard.Domain.YoutubeChannel objYoutubeChannel = ((Domain.Socioboard.Domain.YoutubeChannel)lstdic[0]);
                string pp = objYoutubeAccount.Ytprofileimage;
                if (string.IsNullOrEmpty(pp))
                {
                    pp = "/Themes/" + path + "/Contents/img/anonymousUser.jpg";
                }
                   <div id="mid_@objYoutubeAccount.Ytuserid" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objYoutubeAccount.Ytusername" src="@pp" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/youtube.png" class="iconPoss">
                            @*<span>@objYoutubeAccount.Ytusername</span>*@
                        </div>
                        <span class="col-md-12">@objYoutubeAccount.Ytusername</span>
                    </div>
                </div>
               <div class="panel-body">
                    <p>Activities</p>
                                        <ul class="list-group recent_height">
                                          <li class="list-group-item">
                                            <span class="badge">@objYoutubeChannel.ViewCount</span>
                                            Total View
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge">@objYoutubeChannel.SubscriberCount</span>
                                            Total Subcriber
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge">@objYoutubeChannel.VideoCount</span>
                                            Total Video
                                          </li>
                                        </ul>
                                    </div>
             
            </div>
        </div>

            }

            if (item.Key.ProfileType == "linkedincompanypage")
            {
                divcounter++;
                var dic_profileinfo = item.Value.ElementAt(counter);
                Domain.Socioboard.Domain.LinkedinCompanyPage objLinkedCoPage = (Domain.Socioboard.Domain.LinkedinCompanyPage)dic_profileinfo.Key;
                List<object> lstdic = (List<object>)dic_profileinfo.Value;
                feedcount = lstdic.Count;
                if (feedcount != 0)
                {
                    Domain.Socioboard.Domain.LinkedinCompanyPagePosts objLdCoPage = (Domain.Socioboard.Domain.LinkedinCompanyPagePosts)lstdic[feedcount - 1];
                    days = (DateTime.Now.Date - objLdCoPage.PostDate.Date).Days;
                    if (days == 0)
                    {
                        days = 1;
                    }
                    avg = (double)feedcount / days;
                    stravg = String.Format("{0:0.00}", avg);
                }
                List<Domain.Socioboard.Domain.LinkedinCompanyPagePosts> lstLinkedInFeed = new List<Domain.Socioboard.Domain.LinkedinCompanyPagePosts>();
                int linkedinFolwrcount = 0;
                try
                {
                    linkedinFolwrcount = objLinkedCoPage.NumFollowers;
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                }
                        <div id="mid_@objLinkedCoPage.LinkedinPageId" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objLinkedCoPage.LinkedinPageName" src="@objLinkedCoPage.LogoUrl" class="img-circle profilePic">
                            <img src="/Themes/@path/Contents/img/link_icon.png" class="iconPoss">
                            <span>@objLinkedCoPage.LinkedinPageName</span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><strong>@linkedinFolwrcount</strong>
                            Connections</div>
                        </div>
                        <span class="pull-right">@stravg Avg.<br>
                            Post Per Day</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Recent Messages</p>
                    <ul class="list-group">
                        @for (int i = 0; i < lstdic.Count; i++)
                        {
                            Domain.Socioboard.Domain.LinkedinCompanyPagePosts objLinkedInPagePost = ((Domain.Socioboard.Domain.LinkedinCompanyPagePosts)lstdic[i]);
                            string ms = string.Empty;
                            if (objLinkedInPagePost.Posts.Length > 20)
                            {
                                ms = objLinkedInPagePost.Posts.Substring(0, 20) + "...";

                            }
                            else
                            {
                                ms = objLinkedInPagePost.Posts;
                            }
                        <li class="list-group-item">
                            <img class="commentsmallsize" src="@objLinkedInPagePost.PostImageUrl"><span class="commentmargin">@ms</span>
                        </li>
                            if (lstdic.Count > 3)
                            {
                                if (i == 2)
                                {
                                    break;
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

            }
            if (item.Key.ProfileType == "gplus")
            {
                try
                {
                    divcounter++;
                    var dic_profileinfo = item.Value.ElementAt(counter);
                    //  var item = dictionary.ElementAt(index);
                    Domain.Socioboard.Domain.GooglePlusAccount objGooglePlusAccount = (Domain.Socioboard.Domain.GooglePlusAccount)dic_profileinfo.Key;
              
                    <div id="mid_@objGooglePlusAccount.GpUserName" class="col-lg-4 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img title="@objGooglePlusAccount.GpUserName" src="@objGooglePlusAccount.GpProfileImage" class="img-circle profilePic" >
                            <img src="/Themes/@path/Contents/img/gplus-icon.png" class="iconPoss">
                         @*   <span>@objTumblrAccount.tblrUserName</span>*@
                        </div>
                        <span class="col-md-12">@objGooglePlusAccount.GpUserName</span>
                    </div>
                </div>
               <div class="panel-body">
                    <p>@GlobusMultiLanguageLib.Resources.Home_HomeProfileSnapshotPartial_Activities</p>
                                        <ul class="list-group recent_height">
                                          <li class="list-group-item">
                                            <span class="badge">@objGooglePlusAccount.HaveYouInCircles</span>
                                          Have You In Circles
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge">@objGooglePlusAccount.InYourCircles</span>
                                            In Your Circles
                                          </li>
                                          
                                        </ul>
                                    </div>
               
            </div>
        </div>
                }
                catch (Exception ex)
                {
                    divcounter = divcounter - 1;
                }
            }
            counter++;
            if (divcounter == 3)
            {
                divcounter = 0;
             @:</div>
            @:</div>
                                    
            }
        }
    }

</div>

