@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@GlobusMultiLanguageLib.Resources.SocioBoard_Home_PageNotFound_404PageSocioBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
	body{background-color:#FAF9F0;}
        .error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
    </style>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-6">

            <div class="error-template" style="margin-top: 100px;">
            <img src="http://imgur.com/vXsn2Vl.png" class="img-responsive" style="margin: 0px auto;">
                <h1>
                    @GlobusMultiLanguageLib.Resources.Home_PageNotFound_Oops</h1>
                <h2>
                    @GlobusMultiLanguageLib.Resources.Home_PageNotFound_404NotFound</h2>
                <div class="error-details">
                    @GlobusMultiLanguageLib.Resources.Home_PageNotFound_SorryErrorOccured
                </div>
                <div class="error-actions">
                    <a href="#" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>
                        @GlobusMultiLanguageLib.Resources.Home_PageNotFound_TakeMeHome </a>
                        <a href="#" class="btn btn-default btn-lg"><span class="fa fa-envelope"></span> @GlobusMultiLanguageLib.Resources.Home_PageNotFound_ContactSupport</a>
                </div>
                <div id="search_block" class="panel-body">
    <form role="form" class="form-horizontal" method="post" action="">
        <div class="form-group">
           
            <div class="col-md-6 col-sm-push-1">
                <input type="text" placeholder="Search Socioboard" value="" name="v_search" id="v_search" class="form-control">
            </div>
            <div class="button-group col-md-4 ">
                <button class="btn btn-warning btn-block" value="search" name="search" type="submit">@GlobusMultiLanguageLib.Resources.Home_PageNotFound_ContactSupport</button>
            </div>
        </div>
        
    </form>
</div>
            
        </div>
        </div>
              <div class="col-md-6">
          <img class="img-responsive img-rounded" src="http://i.imgur.com/hjkWwCV.png" style="height: 500px; min-height: 500px;">
        </div>
    </div>
</div>

</body>
</html>