@{
    Layout = "~/Themes/Socioboard/Views/Shared/_Socialsuite.cshtml";
    }
<style>
    .trainingcss {
        padding: 0px !important;
    }
</style>
<div class="row">
    <section id="about" class="about services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1><u>@GlobusMultiLanguageLib.Resources.Home_Training_LiveOnline</u></h1>
                    <h3>@GlobusMultiLanguageLib.Resources.Home_Training_Heading1</h3>
                    <h3>@GlobusMultiLanguageLib.Resources.SocioBoard_Home_Training_Heading2</h3>
                    <br>
                    <h3>@GlobusMultiLanguageLib.Resources.Home_Training_Heading3</h3>
                    <br>
                    <h4>@GlobusMultiLanguageLib.Resources.Home_Training_ClickAndStartLearning</h4>
                  <div class="service-item">
                            <a href="../Index/PaypalPage">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-download fa-stack-1x text-primary"></i>
                                </span>
                                </a>
                            </div>
        </div>
                    
                  

                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->     
        <!-- /.container -->

    </section>
</div>