@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    Layout = "~/Themes/"+path+"/Views/Shared/_Socialsuite.cshtml";
    }
<style>
    .trainingcss {
        padding: 0px !important;
    }
</style>
@*<div class="row">
    <section id="about" class="about services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1><u>@GlobusMultiLanguageLib.Resources.Home_Training_LiveOnline</u></h1>
                    <h3>@GlobusMultiLanguageLib.Resources.Home_Training_Heading1</h3>
                    <h3>@GlobusMultiLanguageLib.Resources.SocioBoard_Home_Training_Heading2</h3>
                    <br>
                    <h3>@GlobusMultiLanguageLib.Resources.Home_Training_Heading3</h3>
                    <br>
                    <h4>@GlobusMultiLanguageLib.Resources.Home_Training_ClickAndStartLearning</h4>
                  <div class="service-item">
                            <a href="../Index/PaypalPage">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-download fa-stack-1x text-primary"></i>
                                </span>
                                </a>
                            </div>
        </div>
                    
                  

                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->     
        <!-- /.container -->

    </section>
</div>*@

<header id="top" class="header_training">



<div class="box_training" style="opacity: 0.9;">
<div class="text-vertical-center">
            <h1>Live Online Training</h1>
            <h3>Wondering how to proceed since you are not a geek and tech savvy person?</h3>
            <h3 style="background-color: aliceblue; opacity: 0.7;">Get the most out of Socioboard through live online training. It is comprehensive and serves your purpose whether you want to get the basics or dig deeper with our Software. Our instructors help you with a professional flow of training.</h3>
            <br>
            <h3 style="background-color: aliceblue; opacity: 0.7;">We offer online live training to our clients through Skype and TeamViewer only at 100$ for 10 hours.</h3>
            <h4 style="background-color: aliceblue; opacity: 0.7;">Click the below button and start learning.</h4>
           <a href="../Index/PaypalPage" type="button" class="btn btn-success btn-lg">Apply Now</a>
        </div>
        </div>
        
    </header>
<link href="~/Themes/@path/Contents/css/custom.css" rel="stylesheet" />
