@using Newtonsoft.Json.Linq;
@if (ViewBag.CompanyTumblrPageinfo != null)
{
     <script>
       
             $('#tumblricon').show();
        
    </script>
    <section id="tumblr" class="tumblr">
        <div class="container-fluid">
            <a href="@ViewBag.CompanyTumblrPageinfo["response"]["blog"]["url"]" target="_blank">
            <div class="text-center orange"><i class="fa fa-tumblr-square fa-5x"></i></div>
            </a>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="panel panel-default">
                            <div class="panel-heading">
                                Follower graph list weekly or monthly
                            </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@ViewBag.CompanyTumblrPageinfo["response"]["blog"]["name"]</strong>
                                            <div>Name</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@ViewBag.CompanyTumblrPageinfo["response"]["total_posts"]</strong>
                                            <div>Total Posts</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@ViewBag.CompanyTumblrPageinfo["response"]["blog"]["posts"]</strong>
                                            <div>Blog Posts</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- </div> -->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

                <div class="col-lg-12">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            Recent Posts
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                @{bool istrue = true;}
                                @foreach (JObject obj in ViewBag.CompanyTumblrPageinfo["response"]["posts"])
                                {
                                    try
                                    {
                                        if (istrue)
                                        {
                                    <li class="left clearfix">
                                       @* <span class="chat-img pull-left">
                                            <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" >
                                        </span>*@
                                        <div class="chat-body clearfix">
                                            <div>
                                                <strong class="primary-font">@obj["blog_name"]</strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i>
                                                </small>
                                            </div>
                                            <p>
                                                @Html.Raw(obj["body"])
                                            </p>
                                        </div>
                                    </li>
                                            istrue = false;
                                        }
                                        else
                                        {
                                           
                                    <li class="right clearfix">
                                       @* <span class="chat-img pull-right">
                                            <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar">
                                        </span>*@
                                        <div class="chat-body clearfix">
                                            <div>
                                                <small class=" text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i></small>
                                                <strong class="pull-right primary-font">@obj["blog_name"]</strong>
                                            </div>
                                            <p>
                                                @Html.Raw(obj["body"])
                                            </p>
                                        </div>
                                    </li>
                                                istrue = true;

                                            

                                        }
                                    }
                                    catch (Exception e)
                                    {

                                    }


                                }
                                @*   <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                                            <strong class="pull-right primary-font">Chanchal Santra</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                                            <strong class="pull-right primary-font">Chanchal Santra</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://pbs.twimg.com/profile_images/486529246769082370/Fx5BMxZD.jpeg" class="img-circle profilePic" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                                            <strong class="pull-right primary-font">Chanchal Santra</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        @*<div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>*@
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
}
else
{
     <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tumblricon').hide();
        });
    </script>
}