@using Newtonsoft.Json.Linq;
@if (ViewBag.btwitterpage != null)
{
    Domain.Socioboard.Domain.Boardtwitteraccount btacc = ViewBag.btwitterpage;
    <script>

        $('#twittericon').show();

    </script>
    <section id="twitter" class="twitter">
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-lg-12">
                    <a href="https://twitter.com/@btacc.Screenname" target="_blank">
                        <div class="text-center orange"><i class="fa fa-twitter-square fa-5x"></i></div>
                    </a>
                    <!-- <div class="panel panel-default"> -->
                    <!-- <div class="panel-heading">
                            Follower graph list weekly or monthly
                        </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-2 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@btacc.Statuscount</strong>
                                            <div>Tweets</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-lg-2 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@btacc.Friendscount</strong>
                                            <div>Following</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@btacc.Followerscount</strong>
                                            <div>Followers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-heart fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@btacc.Favouritescount</strong>
                                            <div>Favourites</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-users fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@btacc.Friendscount</strong>
                                            <div>Members</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                    <!-- </div> -->
                    <!-- /.panel -->
                </div>*@
                <!-- /.col-lg-12 -->
                @if (ViewBag.btwitterpagefeeds != null)
                {
                    List<Domain.Socioboard.Domain.Boardtwitterfeeds> btfeeds = ViewBag.btwitterpagefeeds;                    
                    <div class="container-fluid margin-top-50">
                        <div class="row">
                            @foreach (Domain.Socioboard.Domain.Boardtwitterfeeds feed in btfeeds)
                            {
                           
                                <div class="col-sm-4 col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <i class="fa fa-twitter fa-2x"></i>
                                        </div>
                                        <div class="panel-body">

                                            <a href="@feed.Feedurl" target="_blank">
                                                @if(!string.IsNullOrEmpty(feed.Imageurl))
                                                {
                                                    <img class="thum_img_size" src=" @feed.Imageurl" alt="...">                            
                                                }
                                                
                                                @try
                                                {
                                                    <p>@Html.Raw(feed.Text)</p>                               
                                                }
                                                catch { } </a>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="list-group-item">
                                                        @try
                                                        {
                                                            string[] tagarray = feed.Hashtags.Split(',');
                                                            foreach (string tag in tagarray)
                                                            {
                                                                try
                                                                {
                                                            <a href="https://twitter.com/hashtag/@tag" target="_blank">@tag</a>

                                                                }
                                                                catch { }
                                                            }
                                                        }
                                                        catch { }
                                                        <img class="avatar" src="@btacc.Profileimageurl">
                                                        <h4 class="name">@btacc.Screenname</h4>
                                                        @try
                                                        {<span class="date"> @feed.Createdat.Value.ToShortDateString() </span>}
                                                        catch { }
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <i class="fa fa-facebook"></i>
                                                    <i class="fa fa-twitter"></i>
                                                    <i class="fa fa-google"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
     
}
else
{
    <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#twittericon').hide();
        });
    </script>
}