@using Newtonsoft.Json.Linq;
@if (ViewBag.binstagrampage != null)
{
    Domain.Socioboard.Domain.Boardinstagramaccount binstacc = ViewBag.binstagrampage;
    <script>

        $('#instagramicon').show();

    </script>
    <section id="instagram" class="instagram">
        <div class="container-fluid">
            <a href="http://instagram.com/@binstacc.Username" target="_blank">
                <div class="text-center orange"><i class="fa fa-instagram fa-5x"></i></div>
            </a>
            <div class="row">
                @*<div class="col-lg-12">
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            Follower graph list weekly or monthly
                        </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                      
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@binstacc.Followedbycount</strong>
                                            <div>Followers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@binstacc.Followscount</strong>
                                            <div>Followings</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- </div> -->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>*@
                <!-- /.col-lg-12 -->
                @if (ViewBag.binstagrampagefeeds != null)
                {
                    List<Domain.Socioboard.Domain.Boardinstagramfeeds> binstfeeds = ViewBag.binstagrampagefeeds;
                    
                    <div class="container-fluid margin-top-50">
                        <div class="row">
                            @foreach (Domain.Socioboard.Domain.Boardinstagramfeeds feed in binstfeeds)
                            {
                                <div class="col-sm-4 col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <i class="fa fa-instagram fa-2x"></i>
                                        </div>
                                        <div class="panel-body">

                                            <a href="@feed.Link" target="_blank">
                                                @if (!string.IsNullOrEmpty(feed.Imageurl))
                                                {
                                                    <img class="thum_img_size" src="@feed.Imageurl" alt="...">                            
                                                }

                                            </a>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="list-group-item">

                                                        @if (!string.IsNullOrEmpty(feed.Tags))
                                                        {
                                                            string[] tagarray = feed.Tags.Split(',');
                                                            foreach (string tag in tagarray)
                                                            {
                                                                try
                                                                {
                                                            <a href="https://instagram.com/explore/tags/@tag" target="_blank">@tag</a>

                                                                }
                                                                catch { }
                                                            }
                                                        }


                                                        <img class="avatar" src="@binstacc.Profilepicurl">
                                                        <h4 class="name">@binstacc.Username</h4>
                                                        @try
                                                        {<span class="date"> @feed.Createdtime.Value.ToShortDateString() </span>}
                                                        catch (Exception e) { }
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <i class="fa fa-facebook"></i>
                                                    <i class="fa fa-twitter"></i>
                                                    <i class="fa fa-google"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
}
else
{
    <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#instagramicon').hide();
        });
    </script>
}
