@using Newtonsoft.Json.Linq;
@if (ViewBag.RPage != null) 
{
     <script>
         
             $('#youtubeicon').show();
         
    </script>
     <section id="youtube" class="youtube">
        <div class="container-fluid">
            <a href="https://www.youtube.com/channel/@ViewBag.RPage["id"]" target="_blank">
            <div class="text-center orange"><i class="fa fa-youtube-square fa-5x"></i></div></a>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            Follower graph list weekly or monthly
                        </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@ViewBag.RPage["statistics"]["subscriberCount"]</strong>
                                            <div>Total Subscribers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@ViewBag.RPage["statistics"]["viewCount"]</strong>
                                            <div>Total Views</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>12/12/12</strong>
                                            <div>Joined Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@ViewBag.RPage["statistics"]["videoCount"]</strong>
                                            <div>Total Videos</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                    <!-- </div> -->
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

                <div class="row" id="YoutubePlayList">
                      <!--videos sliding start-->
                <div class="col-md-9" >
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        @{bool Isfirst = true; int i = 0; bool IsPlayListExist = false;}
                        <div class="carousel-inner">
                             @foreach (JObject obj in ViewBag.PlayList["items"])
                             {
                                 if (Convert.ToInt32(obj["contentDetails"]["itemCount"].ToString()) > 0) 
                                 {
                                     IsPlayListExist = true;
                                 }
                                 if (i == 3) { break; }
                                 string[] youtubevediourl = obj["snippet"]["thumbnails"]["default"]["url"].ToString().Split('/');
                                 if (Isfirst) 
                                 {
                                     <div class="item active">
                                <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                                    @*<iframe class="embed-responsive-item" src="//www.youtube.com/embed/@youtubevediourl[4]?rel=0" allowfullscreen=""></iframe>*@
                                      @Html.Raw(obj["player"]["embedHtml"].ToString())
                                </div>
                                <div class="carousel-caption">
                                    @obj["snippet"]["title"]
                                </div>
                            </div>
                                     Isfirst = false;
                                 }
                                 else
                                 {
                                     <div class="item">
                                <div class="embed-responsive embed-responsive-4by3">
                                  @*  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/@youtubevediourl[4]?rel=0" allowfullscreen=""></iframe>*@
                                      @Html.Raw(obj["player"]["embedHtml"].ToString())
                                </div>
                                <div class="carousel-caption">
                                    @obj["snippet"]["title"]
                                </div>
                            </div>
                                 }
                                 i++;
                             }

                            
                            
                            
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!--video sliding end-->

                <!--playlist-->
                <div class="col-md-3">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i>Playlist
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                @foreach (JObject obj in ViewBag.PlayList["items"]) 
                                {
                                    string[] youtubevediourl = obj["snippet"]["thumbnails"]["default"]["url"].ToString().Split('/');
                                        
                                    
                                    
                                    <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i>
                                    <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                                        @*<iframe class="embed-responsive-item" src="//www.youtube.com/embed/@youtubevediourl[4]?rel=0" allowfullscreen=""></iframe>*@
                                        @Html.Raw(obj["player"]["embedHtml"].ToString())
                                    </div>
                                </a>
                                }
                                
                              @*  <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i>
                                    <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/JUxMtdhN0EE?rel=0" allowfullscreen=""></iframe>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i>
                                    <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/KhnVcAC5bIM?rel=0" allowfullscreen=""></iframe>
                                    </div>
                                </a>*@


                            </div>
                            <!-- /.list-group -->
                           @* <a href="#" class="btn btn-default btn-block">View All</a>*@
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!--end of playlist-->
                </div>
              
            </div>
        </div>
    </section>
     <script>
         $(document).ready(function () {
             $('#youtubeicon').show();
         });
        
    </script>
     if(!IsPlayListExist) 
         {
         <script>
             $('#YoutubePlayList').hide();
             </script>
}
}
else
{
     <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#youtubeicon').hide();
        });
    </script>
}
