@using Newtonsoft.Json.Linq;
@if (ViewBag.bgpluspage != null)
{
    Domain.Socioboard.Domain.Boardgplusaccount bgplusacc = ViewBag.bgpluspage;
    <script>
        $('#gplusicon').show();
    </script>
    <section id="gplus" class="gplus">
        <div class="container-fluid">
            <a href="https://plus.google.com/@bgplusacc.Pageid" target="_blank">
                <div class="text-center orange"><i class="fa fa-google-plus-square fa-5x"></i></div>
            </a>
            <div class="row">
                @*<div class="col-lg-12">
                    <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    Follower graph list weekly or monthly
                </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-3 col-md-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@bgplusacc.Circledbycount</strong>
                                            <div>Followers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@bgplusacc.Plusonecount</strong>
                                            <div>Plus One Count</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@bgplusacc.Displayname</strong>
                                            <div>Display Name</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       

                        <!-- </div> -->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>*@
                <!-- /.col-lg-12 -->

                <div class="container-fluid margin-top-50">
                    <div class="row">
                        @foreach (Domain.Socioboard.Domain.Boardgplusfeeds feed in ViewBag.bgplusfeeds)
                        {
                           
                            <div class="col-sm-4 col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <i class="fa fa-google fa-2x"></i>
                                    </div>
                                    <div class="panel-body">
                                        <a href="@feed.Feedlink" target="_blank">
                                            @if(!string.IsNullOrEmpty(feed.Imageurl))
                                            {
                                              
                                                <img class="thum_img_size" src="@feed.Imageurl"alt="...">                                    
                                                    
                                            }
                                            


                                            <p>@feed.Title </p>
                                        </a>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="list-group-item">
                                                    <img class="avatar" src="@bgplusacc.Profileimageurl">
                                                    <h4 class="name">@bgplusacc.Displayname</h4>
                                                    <span class="date">@feed.Publishedtime.Value.ToShortDateString()</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <i class="fa fa-facebook"></i>
                                                <i class="fa fa-twitter"></i>
                                                <i class="fa fa-google"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
                        try
                        {
    <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
                            if (!string.IsNullOrEmpty(bgplusacc.Coverphotourl))
                            {
    <script>
        $(document).ready(function () {

            $('.header_li').css("background", "url(@bgplusacc.Coverphotourl) no-repeat ");
            $('.header_li').css("display", "table");
            $('.header_li').css("position", "relative");
            $('.header_li').css("width", "100%");
            $('.header_li').css("height", "100%");
            $('.header_li').css("-webkit-background-size", "cover");
            $('.header_li').css("background-size", "cover");
            $('.header_li').css("-o-background-size", "cover");

            $('#CompanyName').html("@bgplusacc.Displayname");
        });

    </script>
                            }
                            else
                            {
    <script>
        $(document).ready(function () {

            $('#top').hide();
        });
    </script>                 
                            }
                            if (!string.IsNullOrEmpty(bgplusacc.Profileimageurl))
                            {
    <script>
        $(document).ready(function () {
            $('#CompanyProfilePic').show();
            $('#CompanyProfilePic').attr("src", "@bgplusacc.Profileimageurl");
        });

    </script>
                            }
                            else
                            {
    <script>
        $(document).ready(function () {
            $('#CompanyProfilePic').hide();
        });

    </script>
                            }
                        }
                        catch (Exception e) { }
}
else
{
    <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#gplusicon').hide();
            //$('#CompanyProfilePic').hide();
            // $('#top').hide();
        });
    </script>
}