@using Newtonsoft.Json.Linq;
@if (ViewBag.bfbpage != null)
{
    Domain.Socioboard.Domain.Boardfbpage boardfbpage = ViewBag.bfbpage;
    <script>
        $('#facebookicon').show();
    </script>
    
    <section id="facebook">
        <div class="container-fluid">
            <a href="http://www.facebook.com/@boardfbpage.FbPageId" target="_blank">
                <div class="text-center orange"><i class="fa fa-facebook-square fa-5x"></i></div>
            </a>
            <div class="row clearfix">
                @*<div class="col-lg-12">
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            Follower graph list weekly or monthly
                        </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class=" col-md-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@boardfbpage.TalkingAboutCount</strong>
                                            <div>Talking About Count</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@boardfbpage.Likes</strong>
                                            <div>Likes </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <strong>@boardfbpage.Checkins</strong>
                                            <div>Check-ins</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.panel-body -->
                    <!-- </div> -->
                    <!-- /.panel -->
                </div>*@
                <!-- /.col-lg-12 -->
               
                 @if (ViewBag.bfbpagefeeds != null)
                {
                    List<Domain.Socioboard.Domain.Boardfbfeeds> fbpagefeeds = ViewBag.bfbpagefeeds;
                     <div class="container-fluid margin-top-50">
        <div class="row">
             @foreach (Domain.Socioboard.Domain.Boardfbfeeds feed in fbpagefeeds)
             {
                 if (feed.Type.Equals("photo"))
                 {
                      <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                       <i class="fa fa-facebook fa-2x"></i>
                    </div>
                    <div class="panel-body">
                        <a href="@feed.Link" target="_blank">
                        <img class="thum_img_size" src="@feed.Image" alt="...">
                            @try{
                        <p>@Html.Raw(feed.Message.Replace("\n","<br/>")) </p>                               
                            }catch{} </a> 
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="list-group-item" href="#">
                                  @*<img class="avatar" src="https://scontent-ams.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10154325_850400818319046_6328835026567166562_n.jpg?oh=63a0df8faee8d6b4c88475eff01cf125&oe=55DC8090">*@ 
                                    <h4 class="name">@boardfbpage.Companyname</h4> 
                                    <span class="date">@try { @feed.Createddate.Value.ToShortDateString()}
                                                                                       catch { }</span>
                             </div>
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-google"></i>
                            </div>
                        </div>                      
                    </div>
                </div>
          </div>
                 }
                 else if (feed.Type.Equals("video"))
                 {
                      <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                       <i class="fa fa-facebook fa-2x"></i>
                    </div>
                    <div class="panel-body">
                       <iframe width="100%" height="100%" src="@feed.Videolink" frameborder="0" allowfullscreen></iframe>
                        <a href="@feed.Link" target="_blank">
                        <p>@feed.Message</p></a>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="list-group-item" href="#">
                                  @*<img class="avatar" src="https://scontent-ams.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10154325_850400818319046_6328835026567166562_n.jpg?oh=63a0df8faee8d6b4c88475eff01cf125&oe=55DC8090">*@ 
                                    <h4 class="name">@boardfbpage.Companyname</h4>
                                    <p>@feed.Story</p>
                                    <span class="date">@try { @feed.Createddate.Value.ToShortDateString()}
                                                                                       catch { }</span>
                             </div>
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-google"></i>
                            </div>
                        </div>                      
                    </div>
                </div>
          </div>
                 }
                 else if (feed.Type.Equals("link"))
                 {
                      <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                       <i class="fa fa-facebook fa-2x"></i>
                    </div>
                    <div class="panel-body">
                        <a href="@feed.Link" target="_blank">
                             <p>@feed.Message</p>
                        @try{
                        <img class="thum_img_size" src="@feed.Image" alt="...">                        
                        }catch{}
                        <h5><strong>@boardfbpage.Companyname</strong></h5>
                        <p>@feed.Description</p>
                        </a>
                        
                    </div>
                     <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="list-group-item" href="#">
                                 @* <img class="avatar" src="https://scontent-ams.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10154325_850400818319046_6328835026567166562_n.jpg?oh=63a0df8faee8d6b4c88475eff01cf125&oe=55DC8090"> *@
                                    <h4 class="name">@boardfbpage.Companyname</h4>
                                    <p></p> 
                                    <span class="date">@try { @feed.Createddate.Value.ToShortDateString()}
                                                                                       catch { }</span>
                             </div>
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-google"></i>
                            </div>
                        </div>                      
                    </div>
                </div>
          </div>
                 }
             }
           


                    
                   </div>
                         </div> 
                    
                    
                    
                    
                    
                    
                    
                    <!-- /.col-lg-6 -->
                }


@*<div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#description" data-toggle="tab">Description</a>
                                </li>
                                <li><a href="#Founded" data-toggle="tab">Founded</a>
                                </li>
                                <li><a href="#Mission" data-toggle="tab">Mission</a>
                                </li>
                                <li><a href="#About" data-toggle="tab">About</a>
                                </li>
                                <li><a href="#contact" data-toggle="tab">contact no</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="description">
                                    <div class="chat-panel panel panel-default">
                                        <div class="panel-body">
                                            <p>@Html.Raw(ViewBag.facebookPageDetailsObj["description"])</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Founded">
                                    @if (ViewBag.facebookPageDetailsObj["founded"] != null)
                                    {
                                        <p>@ViewBag.facebookPageDetailsObj["founded"]</p>                                        
                                    }
                                    else
                                    {
                                        <p>No Data Found</p>
                                    }
                                </div>
                                <div class="tab-pane fade" id="Mission">
                                    @if (ViewBag.facebookPageDetailsObj["mission"] != null)
                                    {
                                        <p>@ViewBag.facebookPageDetailsObj["mission"]</p>                                        
                                    }
                                    else
                                    {
                                        <p>No Data Found</p>
                                    }
                                </div>
                                <div class="tab-pane fade" id="About">
                                    @if (ViewBag.facebookPageDetailsObj["about"] != null)
                                    {
                                        <p>@ViewBag.facebookPageDetailsObj["about"]</p>                                        
                                    }
                                    else
                                    {
                                        <p>No Data Found</p>
                                    }
                                </div>
                                <div class="tab-pane fade" id="contact">
                                    @if (ViewBag.facebookPageDetailsObj["phone"] != null)
                                    {
                                        <p>@ViewBag.facebookPageDetailsObj["phone"]</p>                                        
                                    }
                                    else
                                    {
                                        <p>No Data Found</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>*@



                <!-- /.col-lg-6 -->
            </div>
        </div>
    </section>
                try
                {
    <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#facebookicon').show();
         @*   //$('.header_li').css("background", "url(@ViewBag.facebookPageDetailsObj["cover"]["source"]) no-repeat ");*@
            $('.header_li').css("display", "table");
            $('.header_li').css("position", "relative");
            $('.header_li').css("width", "100%");
            $('.header_li').css("height", "100%");
            $('.header_li').css("-webkit-background-size", "cover");
            $('.header_li').css("background-size", "cover");
            $('.header_li').css("-o-background-size", "cover");
            //$('#CompanyProfilePic').attr("src", "");
            @*   //$('#CompanyName').html("@ViewBag.facebookPageDetailsObj["name"]");*@
        });
    </script>
                }
                catch (Exception e) { }


}
else
{
    <script src="~/Themes/Socioboard/Contents/js/jquery-2.0.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#facebookicon').hide();
        });
    </script>
}
@*<script>
    $(document).ready(function () {
        $('.collapse').collapse()
    });
</script>*@
