@model Domain.Socioboard.Domain.GoogleAnalyticsViewModel

@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    Layout = "~/Themes/" + path + "/Views/Shared/_Site.cshtml";
}


 
          <!-- MetisMenu CSS -->
    <link href="/Themes/@path/Contents/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/Themes/@path/Contents/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Themes/@path/Contents/css/sb-admin-2.css" rel="stylesheet">


    <!-- Custom Fonts -->
<!--     <link href="Contents/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="/Themes/@path/Contents/css/plugins/social-buttons.css" rel="stylesheet">

     <!-- <link href="Contents/plugins/components-rounded.css" rel="stylesheet"> -->
      <link href="/Themes/@path/Contents/plugins/morris/morris.css" rel="stylesheet">
        

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Analytics</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-lg-3 col-md-12">
                    <div class="panel panel-primary img-box-shadow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Model.RealTimePageViews</div>
                                    <div>Right now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="panel panel-primary img-box-shadow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-street-view fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Model.TotalPageViews</div>
                                    <div>Pageviews</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                 <div class="col-lg-3 col-md-12">
                    <div class="panel panel-primary img-box-shadow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shield fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Model.TotalSessions</div>
                                    <div>Sessions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-12">
                   <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>  Pageviews
                            @*<div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@
                        </div>
                        <div class="panel-body">
                            <div id="chart_3" class="chart" style="height: 400px;">
                                    </div>
                        </div>
                    </div>
            </div> 

 <div class="col-md-12">
                   <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>  Pageviews
                          
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                              <table class="table ">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>Country</th>
                                          <th>City</th>
                                          <th>Page Views</th>
                                      </tr>

                                  </thead>
                                  <tbody>
                                      @if (Model.citypageviews != null )
                                      {
                                          if(Model.citypageviews.Count() == 0)
                                          {
                                          <tr>
                                              <td colspan="4">No Data</td>
                                          </tr>
                                      }
                                   
                                          int cc = 0;
                                     foreach (var item in Model.citypageviews)
                                      {
                                          cc++;
                                          <tr>
                                              <td>@cc</td>
                                              <td>@item.Country</td>
                                              <td>@item.City</td>
                                              <td>@item.Count</td>
                                          </tr>
                                      }
                                         }
                                      else
                                      {
                                      }
                                     
                                  </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- /#wrapper -->


    @section Scripts{
        <!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/Themes/@path/Contents/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/Themes/@path/Contents/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<!-- <script src="Contents/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script> -->
<!-- <script src="Contents/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script> -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/Themes/@path/Contents/plugins/metronic.js" type="text/javascript"></script>
@*<script src="/Themes/@path/Contents/plugins/charts-amcharts.js"></script>*@
    @{
        string graphstring = "[";
        bool IsFirst = true;
        foreach (var item in Model.PageViewsGraphData)
        {
            if (IsFirst)
            {
                graphstring = graphstring + "{'lineColor': '#b7e021',  'date':'" + item.Date + "','duration':'" + item.ViewsCount + "'},";
                IsFirst = false;
            }
            else
            {
                graphstring = graphstring + "{'date':'" + item.Date + "','duration':'" + item.ViewsCount + "'},";

            }
        }
        graphstring = graphstring + "]";
    }
    <script>
        var initChartSample3 = function () {
            var data = JSON.parse(JSON.stringify(@Html.Raw(graphstring)));
            var chart = AmCharts.makeChart("chart_3", {
                "type": "serial",
                "theme": "light",

                "fontFamily": 'Open Sans',
                "color": '#888888',

                "pathToImages": Metronic.getGlobalPluginsPath() + "amcharts/amcharts/images/",

                "dataProvider": data,
                "graphs": [{
                    "bullet": "square",
                    "bulletBorderAlpha": 1,
                    "bulletBorderThickness": 1,
                    "fillAlphas": 0.3,
                    "fillColorsField": "lineColor",
                    "legendValueText": "[[value]]",
                    "lineColorField": "lineColor",
                    "title": "duration",
                    "valueField": "duration"
                }],
                "chartScrollbar": {},
                "chartCursor": {
                    "categoryBalloonDateFormat": "DD MMM YYYY",
                    "cursorAlpha": 0,
                    "zoomable": false
                },
                "dataDateFormat": "DD-MM-YYYY",
                "categoryField": "date",
                "categoryAxis": {
                    "dateFormats": [{
                        "period": "DD",
                        "format": "DD"
                    }, {
                        "period": "WW",
                        "format": "MMM DD"
                    }, {
                        "period": "MM",
                        "format": "MMM"
                    }, {
                        "period": "YYYY",
                        "format": "YYYY"
                    }],
                    "parseDates": true,
                    "autoGridCount": false,
                    "axisColor": "#555555",
                    "gridAlpha": 0,
                    "gridCount": 50
                }
            });

            $('#chart_3').closest('.portlet').find('.fullscreen').click(function () {
                chart.invalidateSize();
            });
        }
    </script>
<script>
    jQuery(document).ready(function () {
        Metronic.init();
        initChartSample3();
    });
</script>

        
        }



