@using Newtonsoft.Json.Linq;
@{Domain.Socioboard.Domain.Boardfbpage boardfbpage = ViewBag.bfbpage;}

@helper TimeinMin(DateTime date)
{
    string output = string.Empty;
    TimeSpan timeSpan = DateTime.Now.Subtract(date);
    if (timeSpan.Days > 0) 
    {
        output = timeSpan.Days + "days";
    }
    else if (timeSpan.Hours > 0)
    {
        output = timeSpan.Hours + "hrs";
    }
    else if (timeSpan.Hours > 0)
    {
        output = timeSpan.Hours + "mins";
    }
    @:@output
    }
@if (ViewBag.bfbpagefeeds != null)
{
    List<Domain.Socioboard.Domain.Boardfbfeeds> fbpagefeeds = ViewBag.bfbpagefeeds;

    foreach (Domain.Socioboard.Domain.Boardfbfeeds feed in fbpagefeeds)
    {
      
        if (feed.Type.Equals("photo"))
        {
            try
            {
                <article class="white-panel">
        <div class="panel-heading text-center" style="background-color: lightgray">
            <i class="fa fa-facebook fa-2x"></i>
        </div>
        <a href="https://www.facebook.com/@feed.Feedid">
            @if (!string.IsNullOrEmpty(feed.Image))
            {
                <img src="@feed.Image" alt="" />
            }
            @try
            {
                <p>@Html.Raw(feed.Message.Replace("\n", "<br/>").Replace("&#039;", "'")) </p>                               
            }
            catch(Exception ex) {
                feed.Message = "";
            }
        </a>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="list-group-item">
                        <span class="date">@try
                                           { @TimeinMin(feed.Createddate.Value)}
                                           catch { }
                        </span>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <center><img src="http://graph.facebook.com/@feed.FromId/picture?type=small" class="img-responsive" style="display:inline-box; width:auto;height:auto;"></center>
                            </div>
                            <a class="col-md-5 col-sm-5" href="https://www.facebook.com/@feed.FromId" target="_blank">
                                @try
                                {
                                    if (feed != null)
                                    {
                                    <h5 class="name">@feed.FromName</h5>
                                    }
                                    else
                                    {
                                    <h5 class="name"></h5>
                                    }
                                }
                                catch(Exception ex) 
                                {
                                }

                            </a>
                            <div class="col-md-4 col-sm-4" style="margin-top: 6%; display: inline-flex;">
                                <div class="" onclick="fbs_click('http://www.facebook.com/share.php?u=http://www.facebook.com/@feed.Feedid')" style="cursor:pointer"><i class="fa fa-facebook"></i></div>
                                <div class="col-md-2 col-sm-2" onclick="fbs_click('https://twitter.com/intent/tweet?u=http://www.facebook.com/@feed.Feedid&text=@feed.Message.Replace("&#039", "'").Replace("#", "%23").Replace("'", "%27")')" style="cursor:pointer"><i class="fa fa-twitter"></i></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </article>
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.StackTrace);
            }
    
        }
        else if (feed.Type.Equals("video"))
        {
            try
            {
                <article class="white-panel">
        <div class="panel-heading text-center" style="background-color: lightgray">
            <i class="fa fa-facebook fa-2x"></i>
        </div>
        <iframe width="100%" height="100%" src="@feed.Videolink" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.facebook.com/@feed.Feedid" target="_blank">
            <p>@feed.Message.Replace("&#039", "'")</p>
        </a>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group-item text-center">
                        <span class="date">@try
                                           { @TimeinMin(feed.Createddate.Value)}
                                           catch { }</span>
                        <div class="row">
                            <div @*style="margin-top: 4%;"*@ class="col-md-3 col-sm-3">
                                <center><img src="http://graph.facebook.com/@feed.FromId/picture?type=small" class="img-responsive" style="display:inline-box; width:auto;height:auto"></center>
                            </div>
                            <a class="col-md-6 col-sm-6" @*style="padding-left: 0px;"*@ href="https://www.facebook.com/@feed.FromId" target="_blank">
                                <h5 class="name">@feed.FromName</h5>
                            </a>
                            <div class="col-md-3 col-sm-3" style="margin-top: 6%; display: inline-flex;">
                                <div class="" onclick="fbs_click('http://www.facebook.com/share.php?u=http://www.facebook.com/@feed.Feedid')" style="cursor:pointer"><i class="fa fa-facebook"></i></div>
                                <div class="col-md-2 col-sm-2" onclick="fbs_click('https://twitter.com/intent/tweet?u=http://www.facebook.com/@feed.Feedid&text=@feed.Message.Replace("&#039", "'").Replace("#", "%23").Replace("'", "%27")')" style="cursor:pointer"><i class="fa fa-twitter"></i></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </article>
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.StackTrace);
            }
    
                     
        }
        else if (feed.Type.Equals("link"))
        {
            try
            {
                <article class="white-panel">
        <div class="panel-heading text-center" style="background-color: lightgray">
            <i class="fa fa-facebook fa-2x"></i>
        </div>
        <a href="https://www.facebook.com/@feed.Feedid" target="_blank">
            <p>@feed.Message.Replace("&#039", "'")</p>
            @*<a href="@feed.Link" target="_blank">*@
            @if (!string.IsNullOrEmpty(feed.Image))
            {
                <img src="@feed.Image" alt="">
            }
@*  </a>*@
            <p>@feed.Description.Replace("&#039", "'")</p>
        </a>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group-item text-center">
                        <span class="date">@try
                                           { @TimeinMin(feed.Createddate.Value)}
                                           catch { }</span>
                        <div class="row">
                            <div @*style="margin-top: 4%;"*@ class="col-md-3 col-sm-3">
                                <center><img src="http://graph.facebook.com/@feed.FromId/picture?type=small" class="img-responsive" style="display:inline-box; width:auto;height:auto"></center>
                            </div>
                            <a class="col-md-6 col-sm-6" @*style="padding-left: 0px;"*@ href="https://www.facebook.com/@feed.FromId" target="_blank">
                                <h5 class="name">@feed.FromName</h5>
                            </a>
                            <div class="col-md-3 col-sm-3" style="margin-top: 6%; display: inline-flex;">
                                <div class="" onclick="fbs_click('http://www.facebook.com/share.php?u=http://www.facebook.com/@feed.Feedid')" style="cursor:pointer"><i class="fa fa-facebook"></i></div>
                                <div class="col-md-2 col-sm-2" onclick="fbs_click('https://twitter.com/intent/tweet?u=http://www.facebook.com/@feed.Feedid&text=@feed.Message.Replace("&#039", "'").Replace("#", "%23").Replace("'", "%27")')" style="cursor:pointer"><i class="fa fa-twitter"></i></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </article>
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.StackTrace);
            }    
    
                     
                      
        }
        else if (string.IsNullOrEmpty(feed.Type))
        {
            try
            {
                <article class="white-panel">
        <div class="panel-heading text-center" style="background-color: lightgray">
            <i class="fa fa-facebook fa-2x"></i>
        </div>
        <a href="https://www.facebook.com/@feed.Feedid" target="_blank">
            <p>@feed.Message.Replace("&#039", "'")</p>
            @* <a href="@feed.Link" target="_blank">*@
            @if (!string.IsNullOrEmpty(feed.Image))
            {
                <img src="@feed.Image" alt="">
            }
@*  </a>*@
            <p>@feed.Description.Replace("&#039", "'")</p>
        </a>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group-item text-center">
                        <span class="date">@try
                                           { @TimeinMin(feed.Createddate.Value)}
                                           catch { }</span>
                        <div class="row">
                            <div @*style="margin-top: 4%;"*@ class="col-md-3 col-sm-3">
                                <center><img src="http://graph.facebook.com/@feed.FromId/picture?type=small" class="img-responsive" style="display:inline-box; width:auto;height:auto"></center>
                            </div>
                            <div class="col-md-6 col-sm-6" @*style="padding-left: 0px;"*@>
                                <h5 class="name">@feed.FromName</h5>
                            </div>
                            <div class="col-md-3 col-sm-3" style="margin-top: 6%; display: inline-flex;">
                                <div class="" onclick="fbs_click('http://www.facebook.com/share.php?u=http://www.facebook.com/@feed.Feedid')" style="cursor:pointer"><i class="fa fa-facebook"></i></div>
                                <div class="col-md-2 col-sm-2" onclick="fbs_click('https://twitter.com/intent/tweet?u=http://www.facebook.com/@feed.Feedid&text=@feed.Message.Replace("&#039", "'").Replace("#", "%23").Replace("'", "%27")')" style="cursor:pointer"><i class="fa fa-twitter fa-2x"></i></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </article>
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.StackTrace);
            }    
    
        }
    }


}
