@using Newtonsoft.Json.Linq;
@helper TimeinMin(DateTime date)
{
    string output = string.Empty;
    TimeSpan timeSpan = DateTime.Now.Subtract(date);
    if (timeSpan.Days > 0) 
    {
        output = timeSpan.Days + "days";
    }
    else if (timeSpan.Hours > 0)
    {
        output = timeSpan.Hours + "hrs";
    }
    else if (timeSpan.Hours > 0)
    {
        output = timeSpan.Hours + "mins";
    }
    @:@output
    }
@if (ViewBag.binstagrampage != null)
{
    Domain.Socioboard.Domain.Boardinstagramaccount binstacc = ViewBag.binstagrampage;
@*<a href="http://instagram.com/@binstacc.Username" target="_blank">
        <div class="text-center orange"><i class="fa fa-instagram fa-5x"></i></div>
    </a>*@
@*<div class="col-md-12">
        <section class=" pinBoot margin-top-50 instagram"id="instagram" >*@
    if (ViewBag.binstagrampagefeeds != null)
    {
        List<Domain.Socioboard.Domain.Boardinstagramfeeds> binstfeeds = ViewBag.binstagrampagefeeds;

        foreach (Domain.Socioboard.Domain.Boardinstagramfeeds feed in binstfeeds)
        {
                                
    <article class="white-panel">
        <div class="panel-heading text-center" style="background-color: lightgray">
            <i class="fa fa-instagram fa-2x"></i>
        </div>

        <a href="@feed.Link" target="_blank">
            @if (!string.IsNullOrEmpty(feed.Imageurl))
            {
                <img src="@feed.Imageurl" alt="...">                            
            }

        </a>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group-item text-center">
                        <span class="date">@try
                                           {  @TimeinMin(feed.Createdtime.Value)}
                                           catch { }</span>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">

                                @if (!string.IsNullOrEmpty(feed.FromPicUrl))
                                {

                                     <center><img class="img-responsive" style="display:inline-box; width:auto;height:auto" src="@feed.FromPicUrl"> </center>}
                            </div>
                            <a class="col-md-6 col-sm-6" href="https://instagram.com/@feed.FromId" target="_blank">
                                <h5 class="name">@feed.FromName</h5>
                            </a>

                            <div class="col-md-3 col-sm-3" style="margin-top: 6%; display: inline-flex;">
                                <div class="" onclick="fbs_click('http://www.facebook.com/share.php?u=@feed.Link')" style="cursor:pointer"><i class="fa fa-facebook"></i></div>
                                <div class="col-md-2 col-sm-2" onclick="fbs_click('https://twitter.com/intent/tweet?u=@feed.Link&text=@feed.Link.Replace("#","%23")')" style="cursor:pointer"><i class="fa fa-twitter"></i></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </article>
                                
                                
                                
        }

    }
@*</section>
    </div>*@
       
}

