@model Domain.Socioboard.Domain.Boards
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    Layout = "~/Themes/" + path + "/Views/Shared/_Socialsuite.cshtml";
}


<style>
    a {

    }
</style>
   @helper TimeinMin(DateTime date)
{
    string output = string.Empty;
    TimeSpan timeSpan = DateTime.Now.Subtract(date);
    if (timeSpan.Days > 0) 
    {
        output = timeSpan.Days + "days";
    }
    else if (timeSpan.Hours > 0)
    {
        output = timeSpan.Hours + "hrs";
    }
    else if (timeSpan.Hours > 0)
    {
        output = timeSpan.Hours + "mins";
    }
    @:@output
    }
  
     @*   <style>			
			.grid > article {
			  background: none repeat scroll 0 0 #ccc;
			  padding: 0.5%;
			}			
			.white-panel {
			  position: absolute;
			  background: white;
			  padding: 10px;
			}			
			.white-panel h1 {
			  font-size: 1em;
			}
			.white-panel h1 a {
			  color: #A92733;
			}
			.white-panel:hover {
			  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
			  margin-top: -5px;
			  -webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -o-transition: all 0.3s ease-in-out;
			  transition: all 0.3s ease-in-out;
			}
        </style>*@
<link href="/Themes/Socioboard/Contents/css/boardstyle.css" rel="stylesheet" />
<meta name="keywords" content="Innotrek2015, NASSCOM, Silicon Valley, Tech talks, startup" />
<div id="wrapper" style="margin-top:6%;">
    <div class='sidebarSmall' style="z-index:999;">
        @if (!string.IsNullOrEmpty(Model.Fbprofileid) && Model.Fbprofileid != Guid.Empty.ToString())
        {
            <a id="facebookicon" href="#facebook" onclick="boardmefacebook()"><i class="fa fa-facebook-square fa-3x orange"></i></a>
        }
        @if (!string.IsNullOrEmpty(Model.Twitterprofileid) && Model.Twitterprofileid != Guid.Empty.ToString())
        {
            <a id="twittericon" href="#twitter" onclick="boardmetwitter()"><i class="fa fa-twitter-square fa-3x orange"></i></a>}
        @if (!string.IsNullOrEmpty(Model.Instagramprofileid) && Model.Instagramprofileid != Guid.Empty.ToString())
        {
            <a id="linkedinicon" style="display: none;" href="#linkedin"><i class="fa fa-linkedin-square fa-3x orange"></i></a>
        }
        <a id="youtubeicon" style="display: none;" href="#youtube"><i class="fa fa-youtube-square fa-3x orange"></i></a>
        <a id="instagramicon" href="#instagram" onclick="boardmeinstagram()"><i class="fa fa-instagram fa-3x orange"></i></a>
        <a id="tumblricon" style="display: none;" href="#tumblr"><i class="fa fa-tumblr-square fa-3x orange"></i></a>
        @if (!string.IsNullOrEmpty(Model.Gplusprofileid) && Model.Gplusprofileid != Guid.Empty.ToString())
        {
            <a id="gplusicon" href="#gplus" onclick="boardmegplus()"><i class="fa fa-google-plus-square fa-3x orange"></i></a>
        }
    </div>
   <div class="container" id="show-count-twt">
        <div class="row"  style="color: rgb(94, 94, 94) !Important; font-family: cursive;">
            <div class="col-md-12 text-center"><div class="well well-sm" style="font-size: xx-large;">#@Model.BoardName</div></div>
            <div class="col-lg-4 col-md-6" >
                <div class="panel panel-sky img-box-shadow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-retweet fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right" style="color: rgb(105, 100, 100) !important;">
                                <div class="huge">@try
                                                  {
                                                      @ViewBag.TwitterFeedsRetweetsCount
                                                  }
                                                  catch (Exception)
                                                  {
                                                  } 

                                </div>
                                <div>Total Retweets‏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-sky img-box-shadow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-star-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right"   style="color: rgb(105, 100, 100) !important;">
                                <div class="huge">@try
                                                  {
                                                      @ViewBag.TwitterFeedsFavoritedCount;
                                                  }
                                                  catch (Exception)
                                                  {
                                                  }
                                    </div>
                                <div>Total Favorites‏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-sky img-box-shadow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-twitch fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right"  style="color: rgb(105, 100, 100) !important;">
                                <div class="huge">@try
                                                  {
                                                      @ViewBag.TwitterFeedsCount
                                                  }
                                                  catch (Exception)
                                                  {
                                                  }
                                </div>
                                <div>Total Tweets‏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-3 col-md-6">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">25</div>
                                <div>favrited tweets‏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 4%;" id="show-feeds">
       <div class="row">
           <div class="col-md-10" id="board-me-row" style="padding: 0px; margin-left: 1%;">
  
         
        </div>
            <div class="col-md-2" id="twitter_Pouplar" style="padding: 0px; margin-left: -2%;">
                        <div class="chat-panel panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-twitter fa-fw"></i> Top 5 Tweets
                            </h3>

                        </div>
                        <div class="panel-body">
                            <ul class="chat">
                                @{List<Domain.Socioboard.Domain.Boardtwitterfeeds> boardtwtfeeds = ViewBag.PopularTweets; bool isfirst = true;}
                                @foreach (var item in boardtwtfeeds) 
                                {
                                    if (isfirst) 
                                    {
                                        isfirst = false;
                                          <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="@item.FromPicUrl" class="img-rounded profilePic" alt="@item.FromName">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <strong class="primary-font">@item.FromName</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>
                                                <span data-toggle="tooltip" data-placement="right" title="20/5/2015 1:01 pm">@TimeinMin(item.Createdat.Value)</span>
                                            </small>
                                        </div>
                                        <p class="margin-top-30 text-justify">
                                             <img src="@item.Imageurl" class="img-responsive">
                                            @item.Text
                                        </p>
                                        <div>
                                             <a href="#" data-toggle="tooltip" data-placement="top" title="Reply">
                                                    <i class="fa fa-share fa-fw"></i>
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Retweet">
                                                    <i class="fa fa-retweet fa-fw"></i>@item.Retweetcount
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                                                    <i class="fa fa-star fa-fw"></i>@item.Favoritedcount
                                                </a>
                                        </div>
                                    </div>   
                                </li>
                                    }
                                    else
                                    {
                                        isfirst = true;
                                           <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="@item.FromPicUrl" class="img-rounded profilePic" alt="@item.FromName">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i><span data-toggle="tooltip" data-placement="left" title="20/5/2015 1:01 pm">@TimeinMin(item.Createdat.Value)</span></small>
                                            <strong class="pull-right primary-font">@item.FromName</strong>
                                        </div>
                                        <div class="margin-top-30">
                                            <img src="@item.Imageurl" class="img-responsive">
                                            <p class="margin-top-10 text-justify">
                                                @item.Text
                                            </p>
                                            <div>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Reply">
                                                    <i class="fa fa-share fa-fw"></i>
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Retweet">
                                                    <i class="fa fa-retweet fa-fw"></i>@item.Retweetcount
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                                                    <i class="fa fa-star fa-fw"></i>@item.Favoritedcount
                                                </a>
                                                @*<div class="pull-right">
                                                    <div class="btn-group">
                                                        <span type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" data-placement="up" title="More">
                                                            <i class="fa fa-bars"></i>
                                                        </span>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                            <a href="#">Quote Message</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Email Message</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Report as spam</a>
                                                        </li>
                                                        </ul>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>                                    
                                </li>
                                    }
                                }
                            </ul>
                        </div>
                        
                    </div>
                <div class="chat-panel panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-twitter fa-fw"></i> Top 5 Retweets
                            </h3>

                        </div>
                        <div class="panel-body">
                            <ul class="chat">
                                @{List<Domain.Socioboard.Domain.Boardtwitterfeeds> boardretwtfeeds = ViewBag.PopularReTweets;  isfirst = true;}
                                @foreach (var item in boardretwtfeeds) 
                                {
                                    if (isfirst) 
                                    {
                                        isfirst = false;
                                          <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="@item.FromPicUrl" class="img-rounded profilePic" alt="@item.FromName">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <strong class="primary-font">@item.FromName</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>
                                                <span data-toggle="tooltip" data-placement="right" title="20/5/2015 1:01 pm">@TimeinMin(item.Createdat.Value)</span>
                                            </small>
                                        </div>
                                        <p class="margin-top-30 text-justify">
                                             <img src="@item.Imageurl" class="img-responsive">
                                            @item.Text
                                        </p>
                                        <div>
                                             <a href="#" data-toggle="tooltip" data-placement="top" title="Reply">
                                                    <i class="fa fa-share fa-fw"></i>
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Retweet">
                                                    <i class="fa fa-retweet fa-fw"></i>@item.Retweetcount
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                                                    <i class="fa fa-star fa-fw"></i>@item.Favoritedcount
                                                </a>
                                        </div>
                                    </div>   
                                </li>
                                    }
                                    else
                                    {
                                        isfirst = true;
                                           <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="@item.FromPicUrl" class="img-rounded profilePic" alt="@item.FromName">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i><span data-toggle="tooltip" data-placement="left" title="20/5/2015 1:01 pm">@TimeinMin(item.Createdat.Value)</span></small>
                                            <strong class="pull-right primary-font">@item.FromName</strong>
                                        </div>
                                        <div class="margin-top-30">
                                            <img src="@item.Imageurl" class="img-responsive">
                                            <p class="margin-top-10 text-justify">
                                                @item.Text
                                            </p>
                                            <div>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Reply">
                                                    <i class="fa fa-share fa-fw"></i>
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Retweet">
                                                    <i class="fa fa-retweet fa-fw"></i>@item.Retweetcount
                                                </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                                                    <i class="fa fa-star fa-fw"></i>@item.Favoritedcount
                                                </a>
                                                @*<div class="pull-right">
                                                    <div class="btn-group">
                                                        <span type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" data-placement="up" title="More">
                                                            <i class="fa fa-bars"></i>
                                                        </span>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                            <a href="#">Quote Message</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Email Message</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Report as spam</a>
                                                        </li>
                                                        </ul>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>                                    
                                </li>
                                    }
                                }
                            </ul>
                        </div>
                        
                    </div>
  
         
        </div>
       </div>
         
		
        <div id="img-loader-feed-panel2" style="display: none">
                            <center>
                                <i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>
                            </center>
                        </div>
    </div>
</div>
<script>function fbs_click(e) {
    debugger;
    newwindow = window.open(e, '', 'height=400,width=400');
    if (window.focus) { newwindow.focus() }
}</script>
<script src="../Themes/Socioboard/Contents/js/underscore.js"></script>
<script>

    $(document).ready(function () {
        debugger;

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            url: "../Boards/CompanyPageInfo",
            success: function (msg) {
                $("#board-me-row").html(msg);
            },
            async: false
        });
        //$("#social-feeds-section").attr("nwt", "facebook");
        $("#social-feeds-section").attr("nwt", "twitter");
        debugger;
        @* $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            url: "../Boards/CompanyFacebookPageInfo?load=first&CompanyName=@Model.BoardId",
            success: function (msg) {
                $("#load-wheel").css("display","none");
                $("#social-feeds-section").html(msg);
            }
        });*@
        $("#board-me-row").removeClass();
        $("#board-me-row").addClass("col-md-10");
        $("#show-count-twt").css("display", "block");
        $("#show-feeds").css("margin-top", "0");
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            url: "../Boards/CompanyTwitterPageInfo?load=first&CompanyName=@Model.BoardId",
            success: function (msg) {
                $("#load-wheel").css("display", "none");
                $("#social-feeds-section").html(msg);

            }
        });
        $(window).scroll(feedbindboardme);
    });
    function boardmefacebook() {
        debugger;
        $("#board-me-row").removeClass();
        $("#board-me-row").addClass("col-md-12");
        $("#show-count-twt").css("display", "none");
        $('#twitter_Pouplar').hide();
        $('#board-me-row').removeClass('col-md-9').addClass('row');
        $("#show-feeds").css("margin-top", "4%");
        $("#social-feeds-section").attr("nwt", "facebook");
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            url: "../Boards/CompanyFacebookPageInfo?load=first&CompanyName=@Model.BoardId",
            success: function (msg) {
                $("#load-wheel").css("display", "none");
                $("#social-feeds-section").html(msg);
            }
        });
    }

    function boardmetwitter() {
        $("#board-me-row").removeClass();
        $("#board-me-row").addClass("col-md-10");
        $("#show-count-twt").css("display", "block");
        $('#twitter_Pouplar').show();
        $('#board-me-row').removeClass('row').addClass('col-md-9');
        $("#show-feeds").css("margin-top", "0");
        $("#social-feeds-section").attr("nwt", "twitter");
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            url: "../Boards/CompanyTwitterPageInfo?load=first&CompanyName=@Model.BoardId",
            success: function (msg) {
                $("#load-wheel").css("display", "none");
                $("#social-feeds-section").html(msg);

            }
        });
    }

    function boardmeinstagram() {
        $("#board-me-row").removeClass();
        $("#board-me-row").addClass("col-md-12");
        $("#show-count-twt").css("display", "none");
        $('#twitter_Pouplar').hide();
        $('#board-me-row').removeClass('col-md-9').addClass('row');
        $("#show-feeds").css("margin-top", "4%");
        $("#social-feeds-section").attr("nwt", "instagram");
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            url: "../Boards/CompanyInstagramPageInfo?load=first&CompanyName=@Model.BoardId",
                success: function (msg) {
                    $("#load-wheel").css("display", "none");
                    $("#social-feeds-section").html(msg);
                }
            });
        }

    function boardmegplus() {
        $("#board-me-row").removeClass();
        $("#board-me-row").addClass("col-md-12");
            $("#show-count-twt").css("display", "none");
            $('#twitter_Pouplar').hide();
            $('#board-me-row').removeClass('col-md-9').addClass('row');
            $("#show-feeds").css("margin-top", "4%");
            $("#social-feeds-section").attr("nwt", "gplus");
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                url: "../Boards/CompanyGplusPageInfo?load=first&CompanyName=@Model.BoardId",
                success: function (msg) {
                    $("#social-feeds-section").html(msg);
                }
            });
        }
        function feedbindboardme() {
            debugger;
            var network = $("#social-feeds-section").attr('nwt');
            if (network == "facebook") {
                facebookfeedboardme();
            }
            if (network == "twitter") {
                twittertweetboardme();
            }
            if (network == "gplus") {
                gplusfeedboardme();
            }
            if (network == "instagram") {
                instagramfeedboardme();
            }
        }

        var facebookfeedboardme = _.throttle(boardmefacebookscroll, 6000);
        var twittertweetboardme = _.throttle(boardmetwitterscroll, 6000);
        var instagramfeedboardme = _.throttle(boardmeinstagramscroll, 6000);
        var gplusfeedboardme = _.throttle(boardmegplusscroll, 6000);

        function boardmefacebookscroll() {
            $("#img-loader-feed-panel2").css("display", "block");
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                url: "../Boards/CompanyFacebookPageInfo?load=scroll&CompanyName=@Model.BoardId",
                success: function (msg) {
                    $("#img-loader-feed-panel2").css("display", "none");
                    $("#social-feeds-section").append(msg);
                }
            });
        }
        function boardmetwitterscroll() {
            $("#img-loader-feed-panel2").css("display", "block");
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                url: "../Boards/CompanyTwitterPageInfo?load=scroll&CompanyName=@Model.BoardId",
                success: function (msg) {
                    $("#img-loader-feed-panel2").css("display", "none");
                    $("#social-feeds-section").append(msg);

                }
            });
        }
        function boardmeinstagramscroll() {
            $("#img-loader-feed-panel2").css("display", "block");
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                url: "../Boards/CompanyInstagramPageInfo?load=scroll&CompanyName=@Model.BoardId",
                success: function (msg) {
                    $("#img-loader-feed-panel2").css("display", "none");
                    $("#social-feeds-section").append(msg);
                }
            });
        }
        function boardmegplusscroll() {
            $("#img-loader-feed-panel2").css("display", "block");
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                url: "../Boards/CompanyGplusPageInfo?load=scroll&CompanyName=@Model.BoardId",
                success: function (msg) {
                    $("#img-loader-feed-panel2").css("display", "none");
                    $("#social-feeds-section").append(msg);
                }
            });
        }

        $('#q').keyup(function (e) {
            //debugger;
            var key = e.which;
            if (key == 13) {
                company();
            }
        });

        function company() {
            var q = $("#q").val();
            window.top.location = "../board/" + q;
        }
</script>
 <script>
     (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
             (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
         m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
     })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

     ga('create', 'UA-62658532-1', 'auto');
     ga('send', 'pageview');

</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
@*</body>
</html>*@

