@{
    //ViewBag.Title = "Home Page";
    string path = System.Configuration.ConfigurationManager.AppSettings["domain"];
    Domain.Socioboard.Domain.User ObjUser = (Domain.Socioboard.Domain.User)Session["User"];
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chanchal Santra">
    <link rel="shortcut icon" href="../Contents/img/ivon.ico" type="image/x-icon">

    <title>Socioboard Admin</title>
    <script src="/Themes/@path/Contents/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/Themes/@path/Contents/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/Themes/@path/Contents/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/Themes/@path/Contents/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Themes/@path/Contents/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/Themes/@path/Contents/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Themes/@path/Contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="/Themes/@path/Contents/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Alerify-->
    <link href="/Themes/@path/Contents/css/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/@path/Contents/css/alertify.default.css" rel="stylesheet" type="text/css" id="toggleCSS" />
    <link href="/Themes/@path/Contents/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0; height:68px;">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="width:22%;" href="../AdminHome/Dashboard"><img class="img-responsive" src="../Themes/Socioboard/Contents/img/admin/SBBanner.png" alt="Socio Board" style="
    margin-top: -11px; width:100%;" /></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" style="margin-top:-4%;">
               @* <li class="dropdown">
                        <a class="active" href="home.html"><i class="fa fa-home fa-2x"></i></a>
                </li>
                <li class="dropdown">
                        <a data-toggle="modal" data-target="#SearchModal" style="margin-top: 10px;"><i class="fa fa-search fa-2x"></i></a>
                </li>
                <li class="dropdown">
                        <a data-toggle="modal" data-target="#myModal" style="margin-top: 10px;"><i class="fa fa-send-o fa-2x"></i></a>
                </li>*@
                @*<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-2x"></i><i class="fa fa-caret-down fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i> Social Media</i></a>                            
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="../index.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>*@

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!-- <i class="fa fa-user fa-2x fa-fw"></i> -->
                        @{
                            if (ObjUser.ProfileUrl != null && ObjUser.ProfileUrl != "")
                            {

                                try
                                {
                                     string[] list = ObjUser.ProfileUrl.Split(new string[] { "wwwroot\\" }, StringSplitOptions.None);
                                string ImapgePath = "..\\" + list[1];

                                <img src="@ImapgePath" class=" headerProfilePic"><strong>@ObjUser.UserName</strong><i class="fa fa-caret-down fa-2x"></i>
                                }catch{}
                               
                            }
                            else
                            {
                                <img src="../Themes/@path/Contents/img/user.png" class=" headerProfilePic"><strong>@ObjUser.UserName</strong><i class="fa fa-caret-down fa-2x"></i>
                            }
                            
                            }
                        @*<img src="https://pbs.twimg.com/profile_images/507048905217802240/MjAkkHK_.jpeg" class=" headerProfilePic"><strong>@ObjUser.UserName</strong><i class="fa fa-caret-down fa-2x"></i>*@
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="../AdminSetting/Index"><i class="fa fa-gear fa-2x fa-fw"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_Settings</a>
                        </li>

                        @*<li><a href=""><i class="fa fa-gear fa-2x fa-fw"></i> Settings</a>
                        </li>*@
                        <li class="divider"></li>
                        <li><a href="../Index/Logout"><i class="fa fa-sign-out fa-2x fa-fw"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_LogOut</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->



            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="../AdminHome/Dashboard"><i class="fa fa-dashboard fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_DashBoard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_Users<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../UserDetails/ManageUser"> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_ManageUsers</a>
                                </li>
                                <li>
                                    <a href="../UserDetails/ManageProfile"> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_ManageProfile</a>
                                </li>
                                <li>
                                    <a href="../UserDetails/LoadDeletedUsers"> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_DeleteUsers</a>
                                </li>
                                @*<li>
                                    <a href="#"> Online Users</a>
                                </li>
                                <li>
                                    <a href="login_details.html"> Login Details</a>
                                </li>*@
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                       <li>
                            <a href="#"><i class="fa fa-link fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_Packages<i class="fa arrow"></i></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Package/ManagePackage">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_ManagePackages</span></a>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_News<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../News/ManageNews"> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_ManageNews</a>
                                </li>
                                <li>
                                    <a href="../News/CreateNews"> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_AddNews</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_NewsLetter<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../AddNewsLatter/LoadAddNewsLatter">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_AddNewsLetter</a>
                                </li>                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_Advertisements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Advertisement/ManageAdvertisement">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_ManageAdvertisement</a>
                                </li>   
                                <li>
                                    <a href="../Advertisement/CreateAdvertisement">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_AddAdvertisement</a>
                                </li>                              
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_Service<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Services/Scheduling">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_SchedulingDetails</a>
                                </li>                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw fa-2x"></i> @GlobusMultiLanguageLib.Resources.Shared_AdminSite_Coupon<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Coupons/ManageCoupons">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_ManageCoupon</a>
                                </li>                  
                                 <li>
                                    <a href="../Coupons/CreateCoupons">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_AddCoupon</a>
                                </li>  
                                           
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        @*<li>
                            <a href="#"><i class="fa fa-sitemap fa-fw fa-2x"></i> Mandrill Account<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#.html">Entry Account</a>
                                </li>  
                                <li>
                                    <a href="#.html">Manage Mandrill</a>
                                </li>
                                <li>
                                    <a href="#.html">Account Mandrill</a>
                                </li>                              
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>*@
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
                  </nav>

            <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_NewMessage</h4>
                    </div>
                    <div class="modal-body col-md-12">
                        <div class="col-md-3">
                            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/s960x960/1523017_786750101350785_664146563_o.jpg" alt="" class="img-circle" style="height: 80px; width: 80px;">
                            <hr class="small">
                            <!-- Split button -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-warning">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_Action</button>
                              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">fb</a></li>
                                <li><a href="#">tweeter</a></li>
                                <li><a href="#">gplus</a></li>
                              </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group col-md-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>


                            <div class="form-group">
                                <input type="file" id="exampleInputFile">
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_IntervalTime:</p>
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_Send</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobusMultiLanguageLib.Resources.Shared_AdminSite_Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end of model-->
  

            <!-- Modal SearchModal-->
        <div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Contact Search</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>  
                          <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-search fa-fw"></i>
                            Search Result
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-remove fa-fw"></i></small>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-wifi fa-fw"></i></small>
                                    </div>
                                </li>
                            </ul>
                            <pre><i class="fa fa-twitter"></i>twitter</pre>
                             <ul class="chat">
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-remove fa-fw"></i></small>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-wifi fa-fw"></i></small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>                  
                    </div>
                </div>
            </div>
        </div>
        <!--end of model-->
  

       
        
        @RenderBody();
    </div>

        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    @*<script src="/Themes/@path/Contents/js/jquery-1.11.0.js"></script>*@

    <!-- Bootstrap Core JavaScript -->
    <script src="/Themes/@path/Contents/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Themes/@path/Contents/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/Themes/@path/Contents/js/plugins/morris/raphael.min.js"></script>
    <script src="/Themes/@path/Contents/js/plugins/morris/morris.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="/Themes/@path/Contents/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Themes/@path/Contents/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    @*<script src="/Themes/@path/Contents/js/jquery-1.10.2.min.js"></script>*@
    <script src="/Themes/@path/Contents/js/alertify.min.js" type="text/javascript"></script>
    <script src="/Themes/@path/Contents/js/bootstrap-datepicker.js"></script>
    <script src="/Themes/@path/Contents/js/bootstrap-timepicker.min.js"></script>
    <script src="/Themes/@path/Contents/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
  @*  <link href="/Themes/@path/Contents/css/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/@path/Contents/css/alertify.default.css" rel="stylesheet" type="text/css" id="toggleCSS" />*@
    <!-- Custom Theme JavaScript -->
    <script src="/Themes/@path/Contents/js/sb-admin-2.js"></script>
    <script src="~/Themes/@path/Contents/js/highcharts.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
</body>

</html>
