@using Domain.Socioboard.Domain;
@{
    
    
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
}
@foreach (var item in (Dictionary<TeamMemberProfile, object>)Model)
{
    if (item.Key.ProfileType == "facebook" || item.Key.ProfileType=="facebook_page")
    {
        FacebookAccount objFacebookAccount = (FacebookAccount)item.Value;
        if(objFacebookAccount.AccessToken!="")
        {
    <li onclick="bindfrofilesmaster('@item.Key.ProfileType','@objFacebookAccount.FbUserName','@objFacebookAccount.FbUserId')">
        <a href="#">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    <i @*<i class="fa fa-facebook fa-fw"></i>@objFacebookAccount.FbUserName*@
                    <img src="http://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small" class="img-circle profilePics" >
                    <img src="/Themes/@path/Contents/img/fb_icon.png" class="icon_share">@objFacebookAccount.FbUserName
                </label>
            </div>
           
        </a>
    </li>
        }
    }
    if (item.Key.ProfileType == "twitter")
    {
        TwitterAccount objTwitterAccount = (TwitterAccount)item.Value;
    <li onclick="bindfrofilesmaster('twitter','@objTwitterAccount.TwitterScreenName','@objTwitterAccount.TwitterUserId')">
        <a href="#">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    @*<i class="fa fa-twitter  fa-fw"></i>@objTwitterAccount.TwitterScreenName*@
                    <img src="@objTwitterAccount.ProfileImageUrl" class="img-circle profilePics">
                    <img src="/Themes/@path/Contents/img/twticon.png" class="icon_share">@objTwitterAccount.TwitterScreenName
                </label>
            </div>
        </a>
    </li>
    }
    if (item.Key.ProfileType == "linkedin")
    {
        LinkedInAccount objLinkedInAccount = (LinkedInAccount)item.Value;
    <li onclick="bindfrofilesmaster('linkedin','@objLinkedInAccount.LinkedinUserName','@objLinkedInAccount.LinkedinUserId')">
        <a href="#">
            @*<i class="fa fa-linkedin fa-fw"></i>@objLinkedInAccount.LinkedinUserName*@
            <img src="@objLinkedInAccount.ProfileImageUrl" class="img-circle profilePics" >
            <img src="/Themes/@path/Contents/img/link_icon.png" class="icon_share">@objLinkedInAccount.LinkedinUserName
        </a>
    </li>
    }
    if (item.Key.ProfileType == "instagram")
    {
        InstagramAccount objInstagramAccount = (InstagramAccount)item.Value;

    }
    if (item.Key.ProfileType == "tumblr")
    {
        TumblrAccount objTumblrAccount = (TumblrAccount)item.Value;
        string tumblruserimage = "http://api.tumblr.com/v2/blog/" + objTumblrAccount.tblrUserName + ".tumblr.com/avatar";
    <li onclick="bindfrofilesmaster('tumblr','@objTumblrAccount.tblrUserName','@objTumblrAccount.tblrUserName')">
        <a href="#">
            @*<i class="fa fa-tumblr fa-fw"></i>@objTumblrAccount.tblrUserName*@
            <img src="@tumblruserimage" class="img-circle profilePics" >
            <img src="/Themes/@path/Contents/img/tumblr.png" class="icon_share">@objTumblrAccount.tblrUserName
        </a>
    </li>
    }
    if (item.Key.ProfileType == "youtube")
    {
        YoutubeAccount objYoutubeAccount = (YoutubeAccount)item.Value;

    }
}

