@{
    
    Layout = null;
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
        //if (Session["User"] != null)
        //    Response.Redirect("../Home/Index");
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
   <title>@GlobusMultiLanguageLib.Resources.SocioBoard_Shared_Socialsuite_Title
    </title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="suNXfJWYY3E7tilc3XsF5M2qZgSml8fGZVb5RfDOWaA" />
    <meta name="description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it." />
    <meta name="keywords" content="Social Media Management Software, Social Media Management tool, Open Source Social Media Management, Social Media Management" />
    <meta name="author" content="Socioboard Technologies">
    <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media" />
    <meta property="og:site_name" content="Socioboard" />
    <meta property="og:url" content="http://socioboard.com" />
    <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it." />
    <meta property="fb:app_id" content="730896073595509" />
    <meta property="og:type" content="Website" />
    <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png" />
    <meta property="article:author" content="https://www.facebook.com/SocioBoard" />
	
    <link rel="shortcut icon" href="/Themes/@path/Contents/img/ivon.ico" type="image/x-icon" />
    <!--<link href="../Contents/css/socialsuite.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Themes/@path/Contents/css/fonts.css" rel="stylesheet" type="text/css" />
    <script src="~/Themes/@path/Contents/js/jquery-2.0.1.min.js" type="text/javascript"></script>
    <script src="~/Themes/@path/Contents/js/jquery.bpopup.min.js" type="text/javascript" charset=""></script>
    <script src="~/Themes/@path/Contents/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="~/Themes/@path/Contents/js/md5.js" type="text/javascript"></script>
    <script src="~/Themes/@path/Contents/js/JSlogin.js" type="text/javascript"></script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Themes/@path/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/@path/Contents/css/sb-admin-2.css" rel="stylesheet" />
	 <link href="/Themes/@path/Contents/css/custom.css" rel="stylesheet" />
	 
    <!-- Custom CSS -->
    <link href="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/css/stylish-portfolio.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="Stylesheet" type="text/css" href="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/css/smoothDivScroll.css" />
    <script src="/Themes/@path/Contents/js/alertify.min.js" type="text/javascript"></script>
    <link href="/Themes/@path/Contents/css/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/@path/Contents/css/alertify.default.css" rel="stylesheet" type="text/css" id="toggleCSS" />

    <script src="/Themes/@path/Contents/js/ads.js" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.Contents/js/1.4.2/respond.min.js"></script>
<![endif]-->
    <asp:contentplaceholder id="head" runat="server">
    </asp:contentplaceholder>
</head>
<body>
    @helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:active
    }
    }
    @helper SelcetedLanguage(string culture)
{
        if ("it" == culture)
        {
        @:Italiano
    }
        else if ("en-us".Equals(culture))
        {
        @:English
    }
    }
    <!--start header-->
    <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../Index/Index"><img src="/Themes/@path/Contents/img/logo.png" class="img-responsive" style="margin-top: -10px; max-width:200px;"/></a>
                </div>
                 <style>
                     a.link.active {
                         color: #F55C37;
                     }
                 </style>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right">
                         @*Edited by Antima[24/11/2014]*@
                         @*<li>
                            <a data-toggle="modal" data-target="#helpModal" style="cursor:pointer">Help</a>
                        </li>*@
                       
                       @* <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@SelcetedLanguage(culture)<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Home/SetCulture?culture=en-us" class="link @selected("en-us", culture)"><img src="/Themes/Socioboard/Contents/img/eng.png" class="img-responsive" style="display:inline;" alt=""/> English</a></li>
                                <li><a href="/Home/SetCulture?culture=it" class="link @selected("it", culture)"><img src="/Themes/Socioboard/Contents/img/it.png" class="img-responsive" style="display:inline;" alt=""/> Italiano</a></li>
                                
                                     </ul>
                        </li>*@
                        <li>
                            <a href="../Index/Company" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Company</a>
                        </li>
                        @*<li>
                            <a href="../Index/Features" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Features</a>
                        </li>*@
						<li>
                            <a href="../Index/Index?op=products" target="">Products</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Versions <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://socioboard.org/" target="_blank">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Community</a></li>
                                <li><a href="../Versions/Agency" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Agency</a></li>
                                <li><a href="../Versions/Enterprise" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Enterprise</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../Index/Pricing" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Pricing</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Insights<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://wiki.socioboard.com/index.php/Main_Page" target="_blank">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Wiki</a></li>
                                <li><a href="http://blog.socioboard.com/category/cases" target="_blank">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Cases</a></li>
                                <li><a href="http://blog.socioboard.com/" target="_blank">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Blogs</a></li>
                            <li>
                            <a href="../Index/Download" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Download</a>
                             @*<iframe src="https://recruit.zoho.com/ats/Portal.na?iframe=false&digest=ffbl@cv91uUpRzY5bTrI3yd0mfykuojV.rm1ez9ejTY-" ></iframe>*@
                        </li>
							</ul>
							
                        </li>
                       @* <li>
                            <a href="../Index/Download" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Download</a>
                        </li>*@
                         <li>
                            <a href="../Index/Download?op=Careers" target="">Careers</a>
                             @*<iframe src="https://recruit.zoho.com/ats/Portal.na?iframe=false&digest=ffbl@cv91uUpRzY5bTrI3yd0mfykuojV.rm1ez9ejTY-" ></iframe>*@
                        </li>
                         <li>
                            <a href="../Home/Training" target="">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Training</a>
                        </li>
						<li>
                            <a href="../Index/Index?op=faq" target="">FAQs</a>
                        </li> 
                       @* <li>
                            <a href="../Index/contact" target="">Contact Us</a>
                        </li>*@
                         <li>
                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal" onclick=" SetUser();" style="margin-top: 10px;">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_LoginMainPage</button>
                        </li>
                        <li>
                            <form action="/Company" id="Companydashboard" class="navbar-form navbar-left" role="search">
  @* <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Search your company here... " style="border-radius: 15px; width: 225px; padding: 0px 5px;" />
    <button class="global-nav__search-button" type="submit"><div  class="icon fa fa-search fa-fw global-nav__search-icon"></div></button>
  </div> *@
</form>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            
<div class="container-fluid" style="padding: 0px;">
        @*<div id='cssmenu' class="text-center">
            <ul>
               <li><a href='#'><span>IN: +91 9713317771, +91 8041660003</span></a></li>
               <li><a href='#'><span>US: +1 408 5209502</span></a></li>
               <li><a href='#'><span>UK: + 442032395414</span></a></li>
               <li class='last'><a href='#'><span>Skype : socioboard.support</span></a></li>
            </ul>
        </div>*@
    </div>
        </nav>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_SignIn</h4>
                    </div>
                    <div class="modal-body col-md-12">
                        <div class="col-md-12" id="fb-gp-login" style="display:none;">
                            <div class="alert alert-danger">
                                <button class="close pull-right" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                <strong>Logging In - Kindly Give Us Few Moments</strong>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group" style="padding-bottom: 27px;">
                                <span class="input-group-addon">*</span>
                                <input id="txtEmail" type="text" class="form-control" placeholder="Email" onblur="retpwd();" />
                            </div>
                            @*   <hr class="small" />*@
                            <div class="input-group">
                                <span class="input-group-addon">*</span>
                                <input type="password" class="form-control" id="txtPassword" placeholder="Password" />
                            </div>
                            <br />
                            <p id="signinpasswordMessages" style="color: red"></p>

                            <div class="remember_me" style="padding-bottom: 16px; margin-top: -8px">
                                <input type="checkbox" id="RememberMe">
                                @GlobusMultiLanguageLib.Resources.Shared_Socialsuite_RememberMe
                            </div>
                            <p>@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_ForgotPassword <a href="../ForgotPassword/Index">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Restore</a></p>
                            @* <hr class="small" />*@
                            <div id="btnlogin" onclick="signinFunction();">
                                <button type="button" class="btn btn-warning">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_LoginInsidePage</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <p>@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_RegisterWithSocialaccounts</p>
                            </div>
                            <div class="input-group">
                                <a id="fb_account" href="#" onclick="googleplusLogin();">
                                    <img src="/Themes/@path/Contents/img/google_icon.png" alt="">
                                </a>
                                <a id="fb_account" href="#" onclick="facebookLogin();">
                                    <img src="/Themes/@path/Contents/img/fb_icon_new.png" alt="">
                                </a>
                                <p>@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_NotYetRegistered &nbsp <a href="../Index/Pricing">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_RegisterNow</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @* <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        </div>
        <!--end of model-->

        @*Edited by Antima[24/11/2014]*@

        <!-- helpModal -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 1111px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_HelpYourCustomer</h4>
                    </div>
                    <div class="modal-body col-md-12" style="background: beige">
                        <h2 class="text-center" style="padding-left: 250px">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_MakeADecision</h2>
                        <div class="col-md-6">
                            <!-- 4:3 aspect ratio -->
                       @*     <div class="embed-responsive embed-responsive-4by3">
                                <iframe width="640" height="360" src="//www.youtube.com/embed/zpOULjyy-n8?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
                            </div>*@

                        </div>
                        <div class="col-md-6">
                            <h5>@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_SendVideoInEmail</h5>
                            <div class="input-group">

                                <label>@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_EnterEmailForVideo</label>
                            </div>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                <input id="emailaddress" type="text" class="form-control" placeholder="Email ID" />
                            </div>
                            <label>@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_TryitforFree</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobusMultiLanguageLib.Resources.Shared_Socialsuite_Close</button>
                        <button type="button" class="btn btn-success" onclick="SendVideoMail()">@GlobusMultiLanguageLib.Resources.Shared_SocialSuite_SendMail</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end of helpModal-->
    </div>

    <!--end of header-->


    <!--end outer-container-->
    @RenderBody()



    <!--content-sec-container-->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>@GlobusMultiLanguageLib.Resources.Shared_SocialSuite_GetInTouchWithUs</strong>
                    </h4>
                    <p>#58 L V Complex, 2nd Floor<br>@GlobusMultiLanguageLib.Resources.SocioBoard_Shared_SocialSuite_ProperAddress</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> @GlobusMultiLanguageLib.Resources.SocioBoard_Shared_SocialSuite_PhoneNumber1</li>
                        <li><i class="fa fa-phone fa-fw"></i> @GlobusMultiLanguageLib.Resources.SocioBoard_Shared_SocialSuite_PhoneNumber2</li>
                        <li><i class="fa fa-skype fa-fw"></i> @GlobusMultiLanguageLib.Resources.SocioBoard_Shared_SocialSuite_SkypeSupport
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/SocioBoard" target="_blank"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Socioboard" target="_blank"><i class="fa fa-twitter-square fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/socioboard" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/s/socioboard" target="_blank"><i class="fa fa-google-plus-square fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
					<div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                             <ul class="footer-align">
                              <li class="footer1"><a href="../Index/contact">Contact Us</a></li><li class="footer1">|</li>
                              <li class="footer1"><a href="../Index/Disclaimer">Disclaimer</a></li><li class="footer1">|</li>
                              @*<li class="footer1"><a href="#">License/GPL v2</a></li><li class="footer1">|</li>*@
                              <li class="footer1"><a href="../Index/Privacy">Privacy Policy</a></li>
                            </ul>
                      </div>
                   </div>
                    <p class="text-muted">Copyright © 2014 - 2015 Socioboard Technologies Pvt. Ltd. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" language="javascript">        !window.jQuery && document.write(unescape('%3Cscript src="../lib/jquery/jquery.js"%3E%3C/script%3E'));</script>
    <script src="~/Themes/@path/Contents/js/jquery.smooth-scroll.js" type="text/javascript"></script>
	@*<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9930597; 
var sc_invisible=1; 
var sc_security="3850c63d"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify site
analytics" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/9930597/0/3850c63d/1/"
alt="shopify site analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->*@
    <script type="text/javascript">
	 $("#txtPassword").bind("keydown", function (event) {
                var keycode = (event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode));
                if (keycode == 13) {
                    signinFunction();
                    return false;
                } else {
                    return true;
                }
            });
        $(document).ready(function () {
           
            $('ul.mainnav a').smoothScroll();

            $('p.subnav a').click(function (event) {
                event.preventDefault();
                var link = this;
                $.smoothScroll({
                    scrollTarget: link.hash
                });
            });

            $('button.scrollsomething').click(function () {
                $.smoothScroll({
                    scrollElement: $('div.scrollme'),
                    scrollTarget: '#findme'
                });
                return false;
            });
            $('button.scrollhorz').click(function () {
                $.smoothScroll({
                    direction: 'left',
                    scrollElement: $('div.scrollme'),
                    scrollTarget: '.horiz'
                });
                return false;
            });

            $("#loginbtn").click(function () {
                debugger;
                document.getElementById('txtEmail').value = "";
                document.getElementById('txtPassword').value = "";
                document.getElementById('signinemailMessages').innerHTML = "";
                document.getElementById('signinpasswordMessages').innerHTML = "";
                $('#logindiv').bPopup({
                    easing: 'easeOutBack',
                    positionStyle: 'fixed',
                    speed: 650,
                    transition: 'slideDown'
                });
            });


        });

    </script>


    <script type="text/javascript">
        //Added By Vikash
        function SetUser() {
            debugger;
            var currentcookie = GetAllCookies().split('=');
            var email = currentcookie[0].trim();
            var pass = currentcookie[1].trim();
            if (email != "") {
                $("#RememberMe").attr('checked', 'checked');
                document.getElementById("txtEmail").value = email;
                document.getElementById("txtPassword").value = pass;
            }
        }

        // Edited by Antima

        function retpwd() {
            debugger;
            var email = $("#txtEmail").val();
            var pwd = getCookie("logininfo" + email.trim());
            if (email != "" && pwd != "") {
                $("#RememberMe").prop('checked', true);
                //var pwd = getCookie("logininfo"+email.trim());
                document.getElementById("txtPassword").value = pwd;
            }
        }

        $(function () {
            $('#da-slider').cslider({
                autoplay: true
            });
        });

        $(document).ready(function () {
            //--login script here

            $('#login').click(function () {
                document.getElementById('signinemailMessages').innerHTML = "";
                document.getElementById('signinpasswordMessages').innerHTML = "";
                $('#logindiv').bPopup({
                    easing: 'easeOutBack',
                    positionStyle: 'fixed',
                    speed: 650,
                    transition: 'slideDown'
                });
            });
            //                // login script end here

            //                // signup script here
            $('#signup').click(function () {
                document.getElementById('txtFirstName').value = '';
                document.getElementById('txtLastName').value = '';
                document.getElementById('EmailTxt').value = '';
                document.getElementById('PasswordTxt').value = '';
                document.getElementById('txtConfirmPassword').value = '';
                document.getElementById('RegularExpressionValidator1').style.visibility = 'hidden';
                document.getElementById('RequiredFieldValidator5').style.visibility = 'hidden';
                document.getElementById('RequiredFieldValidator6').style.visibility = 'hidden';
                document.getElementById('RequiredFieldValidator3').style.visibility = 'hidden';
                document.getElementById('RegularExpressionValidator2').style.visibility = 'hidden';
                document.getElementById('RequiredFieldValidator4').style.visibility = 'hidden';
                document.getElementById('RequiredFieldValidator7').style.visibility = 'hidden';
                document.getElementById('CompareValidator1').style.visibility = 'hidden';

                $('#signupdiv').bPopup({
                    easing: 'easeOutBack',
                    positionStyle: 'fixed',
                    speed: 650,
                    transition: 'slideIn'
                });
            });

            // signup script end here




        });
    </script>

  

    <!-- jQuery Version 1.11.0 -->
    <script src="~/Themes/@path/Contents/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Themes/@path/Contents/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Scrolls to the selected menu item on the page

    </script>

    <!-- jQuery library - Please load it from Google API's -->
    <!-- jQuery UI (Custom Download containing only Widget and Effects Core)
    You can make your own at: http://jqueryui.com/download -->
    <script src="/Themes/@path/Contents/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

    <!-- Latest version (3.1.4) of jQuery Mouse Wheel by Brandon Aaron
    You will find it here: https://github.com/brandonaaron/jquery-mousewheel -->
    <script src="/Themes/@path/Contents/js/jquery.mousewheel.min.js" type="text/javascript"></script>

    <!-- jQuery Kinectic (1.8.2) used for touch scrolling -->
    <!-- https://github.com/davetayls/jquery.kinetic/ -->
    <script src="/Themes/@path/Contents/js/jquery.kinetic.min.js" type="text/javascript"></script>

    <!-- Smooth Div Scroll 1.3 minified-->
    <script src="/Themes/@path/Contents/js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>

    <!-- If you want to look at the uncompressed version you find it at
    Contents/js/jquery.smoothDivScroll-1.3.js -->

    <!-- Plugin initialization -->
    <script type="text/javascript">
        // Initialize the plugin with no custom options
        $(document).ready(function () {
            // None of the options are set
            $("div#makeMeScrollable").smoothDivScroll({
                autoScrollingMode: "onStart"
            });
        });
    </script>

  
    <script src="/Themes/Socioboard/Contents/js/arrow24.js"></script>
    <script src="/Themes/Socioboard/Contents/js/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(function () {

            var timezone_cookie = "timezoneoffset";
            // jQuery.noConflict();
            if (!$.cookie(timezone_cookie)) { // if the timezone cookie not exists create one.

                // check if the browser supports cookie
                var test_cookie = 'test cookie';
                $.cookie(test_cookie, true);

                if ($.cookie(test_cookie)) { // browser supports cookie

                    // delete the test cookie.
                    $.cookie(test_cookie, null);

                    // create a new cookie
                    $.cookie(timezone_cookie, new Date().getTimezoneOffset());

                    location.reload(); // re-load the page
                }
            }
            else { // if the current timezone and the one stored in cookie are different then
                // store the new timezone in the cookie and refresh the page.

                var storedOffset = parseInt($.cookie(timezone_cookie));
                var currentOffset = new Date().getTimezoneOffset();

                if (storedOffset !== currentOffset) { // user may have changed the timezone
                    $.cookie(timezone_cookie, new Date().getTimezoneOffset());
                    location.reload();
                }
            }
        });



    </script>
</body>

</html>
