@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    string pm = @ViewBag.PaidMonth;
    string PaidMonth = pm.Replace("'", "");

    string Um = @ViewBag.UnPaidMonth;
    string UnpaidMonth = Um.Replace("'", "");
}
<div id="page-wrapper">
    <div class="asd">
        @*<div id="container1" style="min-width: 310px; height: 400px;"></div>*@
        <div id="container" style="min-width: 310px; height: 400px; margin: 40px auto 0;"></div>

        <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    </div>
</div>
<script src="~/Themes/@path/Contents/js/jquery-1.10.2.min.js"></script>
<script src="~/Themes/@path/Contents/js/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">


    $(function () {
        var pm = "@PaidMonth";
            var paidMonths = new Array();
            paidMonths = pm.split(',');

            $('#container').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Paid User Graph'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 150,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    //categories: [
                    //    'Monday',
                    //    'Tuesday',
                    //    'Wednesday',
                    //    'Thursday',
                    //    'Friday',
                    //    'Saturday',
                    //    'Sunday'
                    //],
                    categories: paidMonths,
                    plotBands: [{ // visualize the weekend
                        from: 4.5,
                        to: 6.5,
                        color: 'rgba(68, 170, 213, .2)'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'No. of Users'
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' User'
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'PaidUer',
                    //data: [3, 4, 3, 5, 4, 10, 12]
                    data: [@ViewBag.paidUser]
                }, ]
            });
        });






        $(function () {
            var Um = "@UnpaidMonth";
            var UnpaidMonths = new Array();
            UnpaidMonths = Um.split(',');
            $('#container1').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Unpaid User Graph'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 150,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    //categories: [
                    //    'Monday',
                    //    'Tuesday',
                    //    'Wednesday',
                    //    'Thursday',
                    //    'Friday',
                    //    'Saturday',
                    //    'Sunday'
                    //],
                    categories: UnpaidMonths,
                    plotBands: [{ // visualize the weekend
                        from: 4.5,
                        to: 6.5,
                        color: 'rgba(68, 170, 213, .2)'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'No. of Users'
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' User'
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'UnpaidUser',
                    //data: [3, 4, 3, 5, 4, 10, 12]
                    data: [@ViewBag.UnPaidUser]
                }, ]
            });
        });
</script>



