@using Domain.Socioboard.Domain;
@using System.Web.Script.Serialization;
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    bool check = true;
}


@{
    string ScreenName = string.Empty;
    string FromScreenName = string.Empty;
    string Feed = string.Empty;
    string FeedDate = string.Empty;
    string MessageId = string.Empty;
    string Link = string.Empty;
    string Subject = string.Empty;
    Domain.Socioboard.Domain.User _User = (Domain.Socioboard.Domain.User)Session["User"];
    
    Domain.Socioboard.Domain.InboxMessages _InboxMessages = (Domain.Socioboard.Domain.InboxMessages)Model;
   
    //foreach(var item in feed)
    //{
    //   if(item.Key=="twt_msg"&& item.Value!=null){
    //        Domain.Socioboard.Domain.TwitterMessage twtmessage = (Domain.Socioboard.Domain.TwitterMessage)item.Value;
          
    //        ScreenName = twtmessage.ScreenName;
    //        FromScreenName = twtmessage.FromScreenName;
    //        Feed = twtmessage.TwitterMsg;
    //        FeedDate = twtmessage.MessageDate.ToString();
    //        MessageId = twtmessage.MessageId;
    //        Link = "https://twitter.com/"+FromScreenName+"/status/"+MessageId;
           
    //    }
    //    else if(item.Key=="fb_msg"){
    //        Domain.Socioboard.Domain.FacebookMessage fbmessage = (Domain.Socioboard.Domain.FacebookMessage)item.Value;
    //        Socioboard.Api.FacebookAccount.FacebookAccount fbaccount = new Socioboard.Api.FacebookAccount.FacebookAccount();
    //        Domain.Socioboard.Domain.FacebookAccount _FacebookAccount = (Domain.Socioboard.Domain.FacebookAccount)(new JavaScriptSerializer().Deserialize(fbaccount.getFacebookAccountDetailsById(fbmessage.UserId.ToString(), fbmessage.ProfileId), typeof(Domain.Socioboard.Domain.FacebookAccount)));
    //        ScreenName = _FacebookAccount.FbUserName;
    //        FromScreenName = fbmessage.FromName;
    //        Feed = fbmessage.Message;
    //        FeedDate = fbmessage.MessageDate.ToString();
    //        MessageId = fbmessage.MessageId;
    //        Link = "https://www.facebook.com/" + MessageId;
    //    }
    //}  
    
    if(_InboxMessages.MessageType=="twt_followers")
    {
        Feed ="@" + _InboxMessages.FromName + " is now following @" + _InboxMessages.RecipientName + " on Twitter.";
        Link = "Followers "+_InboxMessages.FollowerCount+" / Following "+_InboxMessages.FollowingCount;
        Subject = "New Follower Alert forwarded by "+_User.UserName;
    }
    else if (_InboxMessages.MessageType == "fb_notification")
    {
        Feed = _InboxMessages.Message;
        Link = "";
        Subject = "Facebook Notification Alert forwarded by "+_User.UserName;
    }
    else if (_InboxMessages.MessageType == "twt_mention")
    {
        Feed = _InboxMessages.Message;
        Link = "https://twitter.com/"+_InboxMessages.FromName+"/status/"+_InboxMessages.MessageId;
        Subject = "Tweet forwarded by "+_User.UserName;
    }
    else if (_InboxMessages.MessageType == "twt_retweet")
    {
        Feed = _InboxMessages.Message;
        Link = "https://twitter.com/" + _InboxMessages.RecipientName + "/status/" + _InboxMessages.MessageId;
        Subject = "Tweet forwarded by "+_User.UserName;
    }

    ScreenName = _InboxMessages.RecipientName;
    
    }
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header model_head">
            <button type="button" class="close" id="CloseLinkedInPopUp" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Email Message</h4>
        </div>
        <div class="modal-body col-md-12">
            <div class="col-md-12">
                <div class="col-md-2 textb" style="font-weight: 700;">From</div>
                <div class="small_heading col-md-10" id="from_name">@_User.UserName</div>
            </div>
            <div class="col-md-12 tpspace">
                <div class="col-md-2 textb" style="font-weight: 700;">To</div>
                <div class="small_heading col-md-10">
                    <input type="text" class="form-control" id="to_send" style="margin-bottom: 10px; margin-top: 5px;">
                </div>
            </div>
            @*<input type="text" class="form-control" id="to_send" style="float: left; width: 391px;"></div></div>*@
            <div class="col-md-12 tpspace">
                <div class="col-md-2 textb" style="font-weight: 700;">Subject</div>
                <div class="small_heading col-md-10">
                    <label>@Subject</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2 textb"></div>
                <div class="col-md-10">
                    <textarea class="col-md-12" id="mail_body" name="" placeholder="" rows="5" style="margin-top: 2px;">@Feed &#10;&#10;@Link &#10;&#10;@_InboxMessages.CreatedTime&#10;&#10;Sent from Socioboard (http://www.socioboard.com/)</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @*   <button id="sendMailBtn" type="button" class="btn btn-primary" onclick="sendmail('@item.ProfileId','@item.Id')">Send</button>*@
            <button id="sendMailBtn" type="button" class="btn btn-primary" onclick="sendmsgmail()">Send</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function sendmsgmail() {
        debugger;
        var feed = $('#mail_body').val();
        var fromname = $('#from_name').html();
        var emailId = $('#to_send').val();
        if (emailId == "") {
            alert('Please enter EmailId');
            return false;
        }

        if (!validateEmail(emailId)) {
            alert('Incorrect Email ID');
            return false;
        }
            //$('body').click(function (e){
            //    $('.dropdown-menu slidedown').hide();
            //}
            //    );

        else {
            debugger;
            $.ajax({
                type: "GET",
                url: "../Feeds/SendFeedMail?emailId=" + emailId + "&feed=" + encodeURIComponent(feed) + "&fromname=" + fromname,
                data: '',
                success: function (msg) {
                    if (msg == "Success") {
                        alertify.success('Mail has been sent Successfully!!');
                    }
                    else {
                        alertify.error("failure");
                    }
                    $('#CloseLinkedInPopUp').click();
                },
                error: function () {
                    alert("failure");
                }
            });
        }
    }


    function validateEmail(email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test(email)) {
            return false;
        } else {
            return true;
        }
    }
</script>
