@using Domain.Socioboard.Domain;
@using Socioboard.Helper;
@{
    Layout = null;
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    bool check = true;
    //string hrefPost = string.Empty;
}
<ul class="chat">
    @foreach (var dicitem in (Dictionary<string, List<object>>)Model)
    {
        if (dicitem.Key == "facebook")
        {
            List<object> lstdic = (List<object>)dicitem.Value;
            foreach (var facebookmsg in lstdic)
            {
                FacebookFeed item = (FacebookFeed)facebookmsg;
                string[] str = Socioboard.Helper.UrlExtractor.splitUrlFromString(item.FeedDescription);
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img alt="User Avatar" class="img-circle profilePic" src="https://graph.facebook.com/@item.FromId/picture?type=small"/>
            </span>
            <div class="chat-body clearfix">
                <div>
                     <a target="_blank" href="http://www.facebook.com/@item.FromId"><strong class="primary-font">@item.FromName</strong></a><br />
                    <small class="text-muted">
                         @{
                string messagedate = SBUtils.CompareDateWithclientlocal(ViewBag.datetime, item.FeedDate.ToLocalTime().ToString());
                        }
                        @messagedate
                    </small>
                </div>

                 <div style="margin-top: 2%;">
                       @if (str != null)
                    {
                        foreach (string substritem in str)
                        {
                            try
                            {
                                if (!string.IsNullOrEmpty(substritem))
                                {
                                    if (substritem.Contains("http"))
                                    {
                        <a target="_blank" href="@substritem ">@substritem</a>
                                    }
                                    else
                                    {
                                        string hrefPost = string.Empty;
                                        try
                                        {
                                            hrefPost = "https://www.facebook.com/" + item.FromId + "/posts/" + item.FeedId.Replace(item.FromId, string.Empty).Replace("_", string.Empty).Trim();
                                        }
                                        catch (Exception ex)
                                        {
                                            Console.WriteLine("Error : " + ex.StackTrace);
                                        }
                                        if (!string.IsNullOrEmpty(hrefPost))
                                        {
                        <a target="_blank" href="@hrefPost" style="color:#333">@substritem</a>
                                        }
                                        else
                                        {
                        @substritem;
                                        }
                                    }
                                }
                            }
                            catch (Exception ex)
                            {
                            }
                        }
                    }
                    else
                    {
                        {
                            string hrefPost = string.Empty;
                            try
                            {
                                hrefPost = "https://www.facebook.com/" + item.FromId + "/posts/" + item.MessageId.Replace(item.FromId, string.Empty).Replace("_", string.Empty).Trim();
                            }
                            catch (Exception ex)
                            {
                                Console.WriteLine("Error : " + ex.StackTrace);
                            }
                            if (!string.IsNullOrEmpty(hrefPost))
                            {
                        <a target="_blank" href="@hrefPost" style="color:#333">@item.FeedDescription</a>
                            }
                            else
                            {
                        @item.FeedDescription;
                            }
                        }
                    }
                @*@try
                {
                    hrefPost = "https://www.facebook.com/" + item.FromId + "/posts/" + item.FeedId.Replace(item.FromId, string.Empty).Replace("_", string.Empty).Trim();

                }
                catch (Exception ex)
                {
                    Console.WriteLine("Error : " + ex.StackTrace);

                }
               @* <p>*@
                    @*<a target="_blank" href="@hrefPost">
                        @item.FeedDescription
                    </a>
                @*</p>*@

                @*Display image of post*@
                @try
                {
                    if (!string.IsNullOrEmpty(item.Picture) && item.Picture != null)
                    {
                        <br />
                    <img src="@item.Picture" style="margin-top: 3%;"> </img>
                    }
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                    Console.WriteLine(ex.StackTrace);
                }

                     </div>
                <br>
            </div>

            @*<div class="input-group">
                <input type="text" id="textfb_@item.MessageId" class="form-control input-sm" placeholder="Type your comment here...">
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="okfb_@item.MessageId" onclick="commentFB('@item.MessageId','@item.ProfileId')">
                        @GlobusMultiLanguageLib.Resources.Feeds_Panel1Partial_Comment


                    </button>

                    @if (item.FbLike == "likes")
                    {
                        <button status="@item.FbLike" id="likefb_@item.MessageId" onclick="facebookLike('@item.Id','@item.ProfileId','@item.MessageId')" type="button" class="btn btn-info btn-circle">
                            <i class="fa fa-thumbs-o-up"></i>
                        </button>
                    }
                    else
                    {
                        <button status="@item.FbLike" id="likefb_@item.MessageId" onclick="facebookLike('@item.Id','@item.ProfileId','@item.MessageId')" type="button" class="btn btn-info btn-circle">
                            <i class="fa fa-thumbs-o-down"></i>
                        </button>
                    
                    }
                </span>
            </div>*@

        </li>
            }
        }

        if (dicitem.Key == "twitter")
        {

            List<object> lstdic = (List<object>)dicitem.Value;
            foreach (var twittermsg in lstdic)
            {
                TwitterMessage item = (TwitterMessage)twittermsg;
                string[] str = Socioboard.Helper.UrlExtractor.splitUrlFromString(item.TwitterMsg);
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img id="user_avtar" alt="User Avatar" class="img-circle profilePic" src="@item.FromProfileUrl"/>
            </span>
            <div class="chat-body clearfix">
                <div>
                    <a target="_blank" href="http://www.twitter.com/@item.FromScreenName"><strong class="primary-font">@item.FromName</strong></a><br />
                    <small class="text-muted">
                       
                        @{
                string messagedate = SBUtils.CompareDateWithclientlocal(ViewBag.datetime, item.MessageDate.ToLocalTime().ToString());
                        }
                        @messagedate
                    </small>
                </div>
                   @if(str != null && str.Length>0){
                foreach (string substritem in str)
                {
                    try
                    {
                        if (!string.IsNullOrEmpty(substritem))
                        {
                            if (substritem.Contains("http"))
                            {
                    <div class="pull-left" @*style="text-align:justify;"*@>
                        <a target="_blank" href="@substritem ">@substritem</a>
                    </div>
                            }
                            else
                            {
                                string hrefPost = string.Empty;
                                try
                                {
                                    hrefPost = "https://www.twitter.com/" + item.FromId + "/status/" + item.MessageId.Replace(item.FromId, string.Empty).Replace("_", string.Empty).Trim();
                                }
                                catch (Exception ex)
                                {
                                    Console.WriteLine("Error : " + ex.StackTrace);
                                }
                                if (!string.IsNullOrEmpty(hrefPost))
                                {
                    <div class="pull-left" style="text-align: justify;">
                        <a target="_blank" href="@hrefPost" style="color:#333">@substritem</a>
                    </div>
                                }
                                else
                                {
                    @substritem;
                                }
                            }
                        }
                    }
                    catch (Exception ex)
                    {
                    }
                }
                }

                @*@try
                {
                    hrefPost = "https://www.twitter.com/" + item.FromId + "/status/" + item.MessageId.Replace(item.FromId, string.Empty).Replace("_", string.Empty).Trim();

                }
                catch (Exception ex)
                {
                    Console.WriteLine("Error : " + ex.StackTrace);

                }
                <p>
                    <a target="_blank" href="@hrefPost">
                        @item.TwitterMsg
                    </a>
                </p>*@
            </div>
        </li>
                
            }
        }


        @*if (dicitem.Key == "linkedin")
        {

            List<object> lstdic = (List<object>)dicitem.Value;
            foreach (var linkedinmsg in lstdic)
            {
                LinkedInUser.User_Updates item = (LinkedInUser.User_Updates)linkedinmsg;

                string picurl = string.Empty;
                if (string.IsNullOrEmpty(item.PictureUrl))
                {
                    picurl = "../Contents/img/blank_img.png";
                }
                else
                {
                    picurl = item.PictureUrl;
                }
                
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img alt="User Avatar" class="img-circle profilePic" src="@picurl"/>
            </span>
            <div class="chat-body clearfix">
                <div>
                    <strong class="primary-font">@item.PersonFirstName" "@item.PersonLastName</strong>
                    <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i>@item.DateTime
                    </small>
                </div>


                @try
                {
                    ///hrefPost = "https://www.twitter.com/" + item.FromId + "/status/" + item.MessageId.Replace(item.FromId, string.Empty).Replace("_", string.Empty).Trim();

                }
                catch (Exception ex)
                {
                    Console.WriteLine("Error : " + ex.StackTrace);

                }
                <p>
                    <a target="_blank" href="#">
                        @item.Message
                    </a>
                </p>
            </div>
        </li>
                
            }
        }*@

        if (dicitem.Key == "linkedin")
        {
            Socioboard.Api.LinkedinAccount.LinkedinAccount ApiLinkedinAccount = new Socioboard.Api.LinkedinAccount.LinkedinAccount();
            List<object> lstdic = (List<object>)dicitem.Value;
            foreach (var linkedinmsg in lstdic)
            {
                LinkedInMessage item = (LinkedInMessage)linkedinmsg;
                string[] str = Socioboard.Helper.UrlExtractor.splitUrlFromString(item.Message);
                Domain.Socioboard.Domain.LinkedInAccount _LinkedInAccount = (Domain.Socioboard.Domain.LinkedInAccount)new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize(ApiLinkedinAccount.UserInformation(item.UserId.ToString(),item.ProfileId),typeof(Domain.Socioboard.Domain.LinkedInAccount));
                string picurl = string.Empty;
                if (string.IsNullOrEmpty(_LinkedInAccount.ProfileImageUrl))
                {
                    picurl = "../Themes/"+ path +"/Contents/img/anonymousUser.jpg";
                }
                else
                {
                    picurl = _LinkedInAccount.ProfileImageUrl;
                }
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img alt="User Avatar" class="img-circle profilePic" src="@picurl"/>
            </span>
            <div class="chat-body clearfix">
                <div>
                     <a href="@item.ProfileUrl" target="_blank"><strong class="primary-font">@item.ProfileName</strong></a><br />
                    <small class="text-muted">
                        @*<i class="fa fa-clock-o fa-fw"></i>*@
                       @{
                string messagedate = SBUtils.CompareDateWithclientlocal(ViewBag.datetime, item.CreatedDate.ToLocalTime().ToString());
                        }
                        @messagedate
                    </small>
                </div>
               @foreach (string substritem in str)
                {
                    try
                    {
                        if (!string.IsNullOrEmpty(substritem))
                        {
                            if (substritem.Contains("http"))
                            {
                    <div class="pull-left" @*style="text-align:justify;"*@>
                        <a target="_blank" href="@substritem ">@substritem</a>
                    </div>
                            }
                            else
                            {
                                string hrefPost = string.Empty;
                                if (!string.IsNullOrEmpty(hrefPost))
                                {
                    <div class="pull-left" style="text-align: justify;">
                        <a target="_blank" href="@hrefPost" style="color:#333">@substritem</a>
                    </div>
                                }
                                else
                                {
                    @substritem;
                                }
                            }
                        }
                    }
                    catch (Exception ex)
                    {
                    }
                }
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <br />
                    <img src="@item.ImageUrl" style="margin-top: 3%; height:100px;" /> 
                }
              @*  <p>
                    <a>
                        @item.Message
                    </a>
                </p>*@
            </div>
        </li>
                
            }
        }

    }
</ul>
